<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Design challenges  - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Design challenges </h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/2667">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1928 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/672" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/672" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Graham Attwell</a><br />
        16 November 2009</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><em>Design Challenges for the Integration of Emerging User Generated Content and Contexts in Formal Education - Daniel Spikol &amp; Marcelo Milrad</em></p>
<ul>
<li>What new design challenges does the integration of emerging user generated content and contexts in formal education raise, for the learners, the teachers, the organizations, and the business around education?</li>
<li>Currently e&#8208;books are not cheaper then traditional textbooks in pricing. Will this change when large school systems begin to utilize them in the state of California for example?</li>
<li>From a real-world research perspective, what are the best design strategies and methods to support active users?</li>
<li>Can a focus on a more seamless integration of mobile devices and laptops between outside and inside the classroom provide motivation for higher active creation?</li>
<li>How do we create the right environment for all learners to be active in communities of participation?</li>
<li>How do we overcome the or the laws of participation where it is acceptable for only a very small percentage of people to be active in creation of content? Even though the small percentage of active creators is significantly more then traditional media creation?</li>
</ul>
<p><em>Learner-constructed trails in museums - Kevin Walker<br /></em></p>
<ul>
<li>What other activities can support informal learning experiences?</li>
<li>How do mobile digital technologies mediate and support learners&rsquo; experience of activities such as trails?</li>
<li>What is an appropriate model for the design and analysis of technology-mediated activities in informal learning contexts?</li>
<li>How to balance structure and freedom; and the content of cultural authorities v. that of learners</li>
</ul>
<p><em> Challenges for Integrative Design and Research in Mobile Learning- Brenda Bannan</em></p>
<p>How do we provide flexible design and research models and the integration of both to progressively and simultaneously improve learning and technologies, particularly in regard to the unique socio-cultural and transformative potential of mobile learning environments?</p>
<p>From a theoretical frame of the &lsquo;mobile complex&rsquo; (Pachler, Cook and Bachmair, in press), how do we employ the important constructs of agency, culture and social structure in a systematic process of identifying, generating and determining directions for integrative design and research cycles?</p>
<p>What does the shift in the use of mobile devices as provoking informal, fluid, ubiquitous, usercontribution/ participation and meaning-making experiences (Pachler, Cook and Bachmair, in press) mean for identifying or generating informal learning targets for design and research?What special considerations does the &ldquo;mobile complex&rdquo; evoke in how we collect and analyze data and the methods we might employ in a systematic, iterative and interventionist design research effort?</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-322"></a>
			<p><strong>Current Plans for the Design Challenges session</strong></p>
<p><strong>Flexible design conversations to help create strategies for mobile complex learning activities</strong></p>
<p>Design research is useful to not only understand individuals but also frame individual behaviors in the context and community that surrounds them. Therefore, it will be important to employ many methods of research.</p>
<p><strong>Walker</strong>: learner constructed threads</p>
<p>How mobile complex support learner constructed threads</p>
<p><strong>Bannan</strong>: Flexible Design and research models</p>
<p>How do we provide flexible design and research models across the theoretical frame</p>
<p><strong>Spikol</strong>: Active participation across social and cultural practices</p>
<p>How do we identify the design challenges to get active involvement?</p>
<p>&nbsp;</p>
<p><strong>4 part session (25 minutes each) + 20 minute slush time (Pomodoro technique)</strong></p>
<p><strong>Session 1 </strong></p>
<ul>
<li>Key concepts across the 3 papers</li>
<li>Introduction to HCD micro techniques</li>
</ul>
<p><strong>Session 2 &amp; 3 (50-60 minutes)</strong></p>
<p>Break into 3 groups for Brainstorming, Photo Story, and Seek Inspiration</p>
<p>Brainstorming</p>
<ul>
<li>Warm Up sessions</li>
<li>Then the stickies</li>
<li>Upload to site</li>
</ul>
<p>Photo Story</p>
<ul>
<li>Outside with self documentation style</li>
<li>GeoTagged</li>
<li>Uploaded to site</li>
</ul>
<p>Seek Inspiration</p>
<ul>
<li>All about feelings and emotions</li>
<li>upload to site</li>
</ul>
<p>&nbsp;</p>
<p><strong>Session 4</strong></p>
<ul>
<li>Presentations and sum of groups</li>
<li>Draft bullets for design strategies&nbsp;</li>
<li>Brainstorm and generation of potential design and research challenges based on experience with all the time and resources available, what would you have done in considering user-constructed/active design, in mobile research, in integrated design and research cycles?</li>
</ul>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1580">Daniel</a>					<br /> 14:54 on 24 November 2009																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-328"></a>
			<p>Defining/Designing augmented contexts for learning - Carl Smith</p>
<ul>
<li>What is the relationship between learning and context?</li>
<li>What is specific to a learning context which is not to be found in other contexts?</li>
<li>Do certain pedagogical practices encourage mobilisation and mediation more than others?</li>
<li>How does AR affect the relationship between theory and practice?</li>
<li>Does the mass quantity of &lsquo;instant wisdom&rsquo; that widespread AR may provide have negative implications?</li>
</ul>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1527">Norbert Pachler</a>					<br /> 08:22 on 29 November 2009																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-331"></a>
			<p>Some notes from Day 1 Workshop may be found:</p>
<p>http://www.slideshare.net/bbannan/day-1-alpine</p>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1555">Brenda Bannan</a>					<br /> 17:05 on 30 November 2009																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2667">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/2667">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/2667/comments#contribute">Discussion (5)</a>                        </li>
            <li>
                            <strong>Links (6)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/2667/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">
	<ul class="arrows">
	    	        <li class="cloud-link"><a name="link-1844" href="http://www.pontydysgu.org/wp-content/uploads/2009/11/Daniel+Spikol+and+Marcello+Milrad.pdf"  rel="nofollow" class="">Paper- Daniel Spikol & Marcelo Milrad-Design Challenges for the Integration of Emerging User Generated Content and Contexts in Formal Educat</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/672'>Graham Attwell</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/1844">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1850" href="http://www.pontydysgu.org/wp-content/uploads/2009/11/Kevin+Walker.pdf"  rel="nofollow" class="">Paper- Kevin Walker- Learner-constructed trails in museums</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/672'>Graham Attwell</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/1850">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1858" href="http://www.pontydysgu.org/wp-content/uploads/2009/11/Brenda+Bannan.pdf"  rel="nofollow" class="">Paper- Brenda Bannan- Challenges for Integrative Design and Research in Mobile Learning</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/672'>Graham Attwell</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/1858">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1972" href="http://groups-beta.google.com/group/lmlg/web/Carl+Smith.pdf?hl=en"  rel="nofollow" class="">Paper - Carl Smith - Defining/Designing augmented contexts for learning</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1527'>Norbert Pachler</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/1972">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1993" href="https://docs.google.com/fileview?id=0B9AEzXW6IqKJZDJjOTg4MTItNzFlNy00NDk1LWFhZGUtMmIxNDk3MGJmYzZi&hl=en"  rel="nofollow" class="">The Presentation from the session</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1580'>Daniel</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/1993">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-2007" href="http://www.23hq.com/spikol/album/5141763"  rel="nofollow" class="">Images from the field trip</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1580'>Daniel</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2667/2007">recommend</a></small>
	            	        </li>
	    	</ul>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2667">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2667">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1926">Technology-enhanced learning in the context of technological, societal and cultural transformation</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/2667">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2667">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2667">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/2667">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2667">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/2667">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="6"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 6) </script>
	</body>
</html>
