<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Review of representations h800 15b b2w8/9 a1b - Mandy Honeyman - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Review of representations h800 15b b2w8/9 a1b - Mandy Honeyman</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8970">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">860 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/2080" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/2080" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Mandy Honeyman</a><br />
        31 March 2015</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Text from discussion re DPD</p>
<p>It is interesting how slanted the DPD is towards the sciences and science education (at least this is how it appears to me). &nbsp;When I browse and click on specific features these appear to almost all belong to the sciences. The meta and pragmatic principles are more accessible to a non-scientist I think.</p>
<p>Text from discussion re e-Design template</p>
<p>I also like how easy it is to see how the lesson is chunked. There is mention of student-external activity in the paragraph following the table, it is difficult to see where this might be. I think it would be very interesting to see the final or penultimate lesson and see if any activity made it over to the self-organised learner column.</p>
<p>I do think it is early enough in the inquiry not to expect much open activity, though perhaps the case study itself might have missed an opportunity by picking such an early lesson to evaluate?</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-2254"></a>
			<h2>Review</h2>
<div dir="ltr">
<table><colgroup><col width="*" /><col width="*" /><col width="*" /></colgroup>
<tbody>
<tr>
<td>
<p dir="ltr">Representation</p>
</td>
<td>
<p dir="ltr"><a href="http://www.ld-grid.org/resources/learning-designs/pi-project-healthy-eating-activity/-healthy-eating-in-an-e-design-template" rel="nofollow">e-Design Template</a></p>
</td>
<td>
<p dir="ltr"><a href="http://www.ld-grid.org/resources/learning-designs/pi-project-healthy-eating-activity/-healthy-eating-in-the-design-principles-database" rel="nofollow">Design Principles Database</a></p>
</td>
</tr>
<tr>
<td>
<p dir="ltr">Readability</p>
</td>
<td>
<p dir="ltr">I understood this quite easily. Largely due to the graphic which I have come across and used myself before.</p>
<p dir="ltr">Difficulty during use might be in considering openness/ closedness of an activity.</p>
</td>
<td>
<p dir="ltr">Not as easy to understand the content. The language seems less teacher orientated and the language is more densely written, with headings that need further explanation or referral back to the database itself.</p>
</td>
</tr>
<tr>
<td>
<p dir="ltr">Expressiveness</p>
</td>
<td>
<p dir="ltr">I would not find this difficult to use in order to get my ideas across.</p>
</td>
<td>
<p dir="ltr">I would find this so difficult to use that I just wouldn&rsquo;t.</p>
</td>
</tr>
<tr>
<td>
<p dir="ltr">Utility</p>
</td>
<td>
<p dir="ltr">By also using the short forms of TS, SS, ST and maybe SO as well as specifying timings within the descriptions themselves, I think that this very useful in communicating important aspects of the design. But more importantly, it makes the designer reflect on their objectives towards students reaching self-regulation.</p>
</td>
<td>
<p dir="ltr">Probably useful for anyone willing to spend the time learning the tool and who teaches science! But then it would only be useful for sharing the design with someone else who has spent the equivalent amount of time learning the tool as well.</p>
</td>
</tr>
<tr>
<td>
<p dir="ltr">Are they adequate for expressing your design?</p>
<p dir="ltr"><a href="http://cloudworks.ac.uk/cloud/view/8949" rel="nofollow">http://cloudworks.ac.uk/cloud/view/8949</a></p>
</td>
<td>
<p dir="ltr">Without doubt</p>
</td>
<td>
<p dir="ltr">not really.</p>
</td>
</tr>
<tr>
<td>
<p dir="ltr">What would be the benefits of using these representations for your design? Please explain your views.</p>
</td>
<td>
<p dir="ltr">Using this would encourage me to think carefully about timings and also balance between TS and SS activity. It makes me very aware that there is still not much open activity. Though this would be possible via extension activities for existing programmers. Perhaps that is something that were I to be using in the classroom I would use the different levels to ensure differentiation.</p>
</td>
<td>
<p dir="ltr">It probably doesn&rsquo;t come as a surprise, but I wouldn&rsquo;t go anywhere near this to help design activities as I find it far too complex a tool</p>
</td>
</tr>
</tbody>
</table>
</div>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/2080" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/2080">Mandy Honeyman</a>					<br /> 12:14 on  1 April 2015																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8970">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8970">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8970/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8970/links#contribute">Links (2)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8970">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/15b">15b</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/b2+w8%2F9">b2 w8/9</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/h800">h800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/learning+design">learning design</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8970">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2926">H800 - 15B Shaun Harley's group</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8970">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8970">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8970">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8970">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8970">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8970">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="3"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 3) </script>
	</body>
</html>
