<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>e-Learning Digest No 115 - Mar 14 - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>e-Learning Digest No 115 - Mar 14</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8622">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1674 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/1761" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1761" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Jim Ellis</a><br />
        17 March 2014</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>UK </strong><strong>Conferences &amp; Workshops </strong></p>
<ul>
<li>1 Apr, Webinar, <a href="https://www.alt.ac.uk/civicrm/event/info?id=95&reset=1" rel="nofollow">The Digital Student &ndash; Understanding Student expectations and experiences of the digital environment</a>.&nbsp; [ALT]</li>
<li>2 Apr, Webinar, <a href="http://jiscevents.force.com/E/EventsDetailPage?id=a06U000000GPQSfIAP&srvc=JISC RSC UK" rel="nofollow">Nybbles, bits and bytes &ndash; lights, camera, action</a>.&nbsp; [JISC]</li>
<li>2 Apr, Liverpool, <a href="http://www.heacademy.ac.uk/events/detail/2014/Seminars/AH/GEN913_LJMU" rel="nofollow">Digital Literacies: Building Learning Communities in the Humanities</a>.&nbsp; [HEA]</li>
<li>4 Apr, London, <a href="http://www.elearningnetwork.org/events/lms-and-tin-can" rel="nofollow">LMSs and the Tin Can API</a>.&nbsp; [e.learning age]</li>
<li>8 Apr, Webinar, <a href="http://www.jisctechdis.ac.uk/techdis/events/detail/2014/tdtuesday08042014" rel="nofollow">TechDis Tuesday - The Discover Jisc Journey</a>.&nbsp; [ALT]</li>
<li>14-16 Apr, Edinburgh (and Online), <a href="http://moodlemoot.ie/" rel="nofollow">Moodlemoot Edinburgh</a>.&nbsp; [Clayton Wright]</li>
<li>24 Apr, London, <a href="http://bufvc.ac.uk/events/learningonscreen" rel="nofollow">BUFVC Learning on Screen Awards 2014</a>.&nbsp; [JISC]</li>
<li>29 Apr, London, <a href="http://www.insidegovernment.co.uk/event-details/higher-education-marketing/271" rel="nofollow">The Future of Higher Education Marketing 2014</a>.&nbsp; [Inside Government]</li>
<li>29-30 Apr, Birmingham, <a href="http://www.neilstewartassociates.com/jb358/" rel="nofollow">The Association of Business Schools 3<sup>rd</sup> Annual Learning and Teaching Conference</a>.&nbsp; [NSA]</li>
<li>30 Apr-1 May, London, <a href="http://www.cipd.co.uk/events/learning-development-show" rel="nofollow">CIPD Learning &amp; Development Conference and Exhibition</a>.&nbsp; [CIPD]</li>
<li>6 May, Walton Hall, <a href="http://www.open.ac.uk/about/teaching-and-learning/esteem/" rel="nofollow">eSTEeM Annual Conference &ndash; Reflecting on Teaching and Learning</a>.&nbsp;</li>
<li>14 May, Webinar, <a href="http://accp-caid.org/E_Activities/Act_Workshop.php" rel="nofollow">The practices of instructional designers in the Netherlands and Spain</a>.&nbsp; [Tony Bates]</li>
<li>20 May, London, <a href="http://www.insidegovernment.co.uk/event-details/offender-learning/291" rel="nofollow">The Future of Offender Management, Learning, Education and Skills</a>.&nbsp; [Inside Government]</li>
<li>21 May, London, <a href="http://www.insidegovernment.co.uk/event-details/higher-education-provision/295" rel="nofollow">Higher Education Provision 2014: Advancing Choice, Enhancing Quality</a>.&nbsp; [Inside Government]</li>
<li>22 May, London, <a href="http://www.insidegovernment.co.uk/event-details/transnational-education/287" rel="nofollow">The Future of Transnational Education</a>.&nbsp; [Inside Government]</li>
<li>23 May, Bristol, <a href="http://www.elearningnetwork.org/events/learning-pathways" rel="nofollow">Learning Pathways</a>.&nbsp; [e.learning age]</li>
<li>30 May, London, <a href="http://www.gold.ac.uk/gleu/conference2014/" rel="nofollow">Designing Learning Landscapes</a>.&nbsp; [ALT]</li>
</ul>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>MOOC News</strong></p>
<p><em>[Campus Technology; TechCrunch; TES; IRRODL; Stephen Downes; The Economist; JISC]</em></p>
<p>European MOOC platform <a href="http://campustechnology.com/articles/2014/02/19/european-mooc-platform-nearing-500000-enrollments.aspx" rel="nofollow">iversity</a> launched last Oct and now claims to have reached 500,000 enrolments in its 28 courses, with 5,000 students completing the first five courses.&nbsp; Students were also able to obtain ECTS credit points in two courses &ndash; <em>An Introduction to Business Studies</em> and <em>Marketing</em> &ndash; by completing an onsite exam (in Germany) even if they were not enrolled at one of the institutions offering the course.</p>
<p><a href="http://campustechnology.com/articles/2014/03/06/edx-expands-membership-structure-adds-12-organizations.aspx" rel="nofollow">edX is expanding its membership</a> by adding 12 new institutions including The Smithsonian, the International Monetary Fund and OpenCourseWare Consortium, plus universities in the US, Spain, Mexico and Japan.</p>
<p>Google is about to launch its own MOOC, <a href="http://techcrunch.com/2014/02/26/google-announces-an-online-data-interpretation-class-for-the-general-public" rel="nofollow">Making Sense of Data</a>, which will run from 18 Mar - 4 Apr and will be taught mainly by means of video lectures and interactive projects, supported by community teaching assistants.&nbsp; According to Google, &ldquo;Making Sense of Data is intended for anybody who works with data on a daily basis, such as students, teachers, journalists, and small business owners, and who wants to learn more about how to apply that information to practical problems&rdquo;.</p>
<p>Donald Clark believes MOOCs are reaching beyond higher education into vocational learning, with the arrival of <a href="http://news.tes.co.uk/further-education/b/opinion/2014/02/21/39-moocs-have-burst-out-of-higher-education-into-vocational-learning-voocs-have-arrived-39.aspx" rel="nofollow">VOOCs</a> that are no longer the domain of just undergraduates and interested academics.&nbsp; He cites an example of a maths VOOC funded by the University for Industry charitable trust that he claims is the world&rsquo;s first &lsquo;adaptive&rsquo; MOOC that personalises the path taken by the learner through a network of maths topics.&nbsp; &ldquo;This is not about GCSE maths, but functional maths, the maths that most people find useful in the real world.&rdquo;</p>
<p>Katy Jordan was among the first independent commentators to start compiling and analysing MOOC user data.&nbsp; Now, her IRRODL paper, <a href="http://www.irrodl.org/index.php/irrodl/article/view/1651/2813" rel="nofollow">Initial Trends in Enrolment and Completion of Massive Open Online Courses</a>, draws together public domain data relating to enrolment and completion, from which she concludes that: &ldquo;The average MOOC is found to enrol around 43,000 students, 6.5% of whom complete the course.&nbsp; Enrolment numbers are decreasing over time and are positively correlated with course length.&nbsp; Completion rates are consistent across time, university rank, and total enrolment, but negatively correlated with course length.&rdquo;&nbsp; Jimmy Daly has also collated a number of visualisations of <a href="http://www.edtechmagazine.com/higher/article/2014/02/harvardxs-and-mitxs-mooc-data-visualized-and-mapped" rel="nofollow">demographic data for HarvardX and MITx</a>.</p>
<p>Terry Anderson reports on a study of a Coursera MOOC which concluded that <a href="http://terrya.edublogs.org/2014/03/13/does-teaching-presence-matter-in-a-mooc/" rel="nofollow">teacher presence</a> had no significant relation to course completion, most badges awarded, intent to register in subsequent MOOCs or course satisfaction.</p>
<p>The Economist believes the rise of online tuition &ndash; particularly MOOCs - will <a href="http://www.economist.com/news/finance-and-economics/21595901-rise-online-instruction-will-upend-economics-higher-education-massive" rel="nofollow">upend the economics of higher education</a>. &nbsp;However, the situation may be different for elite and less selective institutions, with MOOCs seen as a closer fit for the latter but quite different to the educational package offered by the former.&nbsp; Stanford&rsquo;s Caroline Hoxby believes, &ldquo;these universities may have threatened their own business model by embracing MOOCs.&rdquo;</p>
<p>Leah Belsky and Michal Tsur&rsquo;s edSurge opinion piece argues that, &ldquo;<a href="https://www.edsurge.com/n/2014-03-01-opinion-are-moocs-a-disappointment-or-a-gift" rel="nofollow">MOOCs have failed to meet some of our greatest hopes</a>&rdquo; but that they have succeeded in highlighting the importance of, &ldquo;high quality teaching and top teachers (not always the top researchers), which are critical for high quality learning.&rdquo;</p>
<p>Harvard Students in English professor Elisa New&rsquo;s &ldquo;Poetry in America&rdquo; lectures have been asked to <a href="http://www.boston.com/bostonglobe/ideas/brainiac/2014/03/harvard_student.html" rel="nofollow">keep quiet and not ask questions</a> so that the sessions can be recorded without interruption for rebroadcast via HarvardX.</p>
<p>And JISC offers an ABC guide to <a href="http://www.jisc.ac.uk/inform/inform39/MOOCsAndCopyrightLaw.html" rel="nofollow">MOOC copyright issues</a>.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Commercial News</strong></p>
<p><em>[Campus Technology; edSurge; Audrey Watters]</em></p>
<p>Ingram&rsquo;s <a href="http://campustechnology.com/articles/2014/03/03/vital-source-acquires-coursesmart.aspx" rel="nofollow">Vital Source</a> Technologies has acquired CourseSmart, a provider of digital HE textbooks that was originally founded by Macmillan, Wiley, McGraw-Hill, Pearson and others. CourseSmart has millions of worldwide users and claims to offer access to more than 90% of core HE titles, plus other e-resources and a data analytics service.</p>
<p>Pearson and Microsoft have announced four <a href="http://gettingsmart.com/2014/02/pearson-creates-leading-curriculum-apps-digital-learning-environments/" rel="nofollow">Windows 8 apps for digital learning</a> environments, including a Common Core system of courses &ndash; &ldquo;the first curriculum built for a digital personalized learning environment&rdquo; &ndash; an eBook app and a secure assessment app.</p>
<p>Wikispaces &ndash; a social writing platform where over 10 million teachers and students currently collaborate on projects &ndash; has been acquired for an undisclosed sum by <a href="http://venturebeat.com/2014/03/04/uk-publishing-giant-tsl-snaps-up-ed-tech-startup-wikispaces-exclusive/" rel="nofollow">TSL Education</a>.&nbsp; UK-based TSL owns TES and THE magazines (amongst others) and claims the largest online network of teachers in the world.</p>
<p><a href="http://www.ft.com/cms/s/0/da514c30-8402-11e3-b72e-00144feab7de.html#axzz2utlx49hg" rel="nofollow">Pearson has issued a profits warning</a> due to rising restructuring costs and a slowdown in the US arm of its business which accounts for about 70% of company profits.&nbsp; The US has become a tougher market for all education companies, with tight government budgets and falling college enrolments.&nbsp; The &ldquo;career college sector, in which we have a strong market position, was particularly weak&rdquo;, Pearson said.</p>
<p>McGraw-Hill has launched <a href="http://campustechnology.com/articles/2014/03/03/mcgraw-hill-education-intros-real-time-analytics-on-student-performance.aspx" rel="nofollow">Connect Insight</a>, a data analytics and visualization tool that provides at-a-glance views of student performance in real time via a tablet device.&nbsp; Lecturers can see how each student is performing individually and relative to peers, gauge the effectiveness of their assignments, and spot early signs of those who may be struggling.</p>
<p>Turnitin has launched <a href="http://www.turnitin.com/en_us/features/grade-anything" rel="nofollow">Grade Anything</a> to assess &ldquo;virtually any type of assignment,&rdquo; including presentations, spreadsheets, designs and calculations; it also provides a grading template for assessing assignments such as performances and recitals.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Further Cuts to English University Budgets</strong></p>
<p><em>[University World News;</em> <em>The Guardian</em><em>]</em></p>
<p>English universities face further heavy cuts in direct support.&nbsp; The government is concerned at the <a href="http://www.universityworldnews.com/article.php?story=20140212143349697" rel="nofollow">upward drift of salaries for vice-chancellors</a> and other top posts and has urged 'restraint'.&nbsp; A grant letter from Vince Cable and David Willetts makes clear that the settlement will mean reductions in HEFCE funding over the two years &ldquo;beyond those accounted for by the switch to publicly funded tuition fees&rdquo; that began in 2012-13.&nbsp; Total HEFCE funding for 2014-15 is &pound;4.091bn &ndash; &pound;125m less than the 'indicative' funding of &pound;4.216bn set out in last year&rsquo;s grant letter.</p>
<p>What pressure?&nbsp; The Guardian reports that <a href="http://www.theguardian.com/higher-education-network/2014/mar/06/mental-health-academics-growing-problem-pressure-university" rel="nofollow">mental illness is on the rise in UK academia</a>, &ldquo;amid the pressures of greater job insecurity, constant demand for results and an increasingly marketised higher education system.&rdquo;</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Flexible Pedagogies Report</strong></p>
<p><em>[ALT]</em></p>
<p>A new HEA report, <a href="http://www.heacademy.ac.uk/resources/detail/flexible-learning/flexiblepedagogies/tech_enhanced_learning/main_report" rel="nofollow">Flexible Pedagogies: technology-enhanced learning</a>, offers a summary and analysis of the current state of play, as well as recommendations for developing robust and appropriate flexible pedagogies with a view to influencing policy, future thinking and change within the learning and teaching landscape in HE.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Student Narcissists Favour Twitter over Facebook</strong></p>
<p><em>[BPS; Audrey Watters]</em></p>
<p>US researchers have found that students (<em>n=</em>515; average age 21) who scored higher on measures of <a href="http://dx.doi.org/10.1016/j.chb.2013.12.011" rel="nofollow">narcissism</a> were no more likely to post Facebook status updates or have more Facebook friends, whereas there <em>was</em> a correlation for the general public (<em>n=</em>669, aged 18 to 75; average age 33).&nbsp; However, students with higher narcissism were more active users of Twitter and were likely to say they posted updates to attract followers and to gain admiration on the site.&nbsp; The researchers suggest that Twitter may have a number of features that particularly appeal to narcissists, including the fact that relationships need not be reciprocal &ndash; people can follow you on Twitter, without you having to follow them.</p>
<p>But watch out - Australian student Andrew Farley has been fined AUS$105,000 after <a href="http://www.thewire.com/global/2014/03/defamatory-tweets-about-teacher-cost-australian-student-100000/358843/" rel="nofollow">defaming a high school teacher</a> on social media.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Digital Natives &hellip; or Not?</strong></p>
<p><em>[Audrey Watters; ReadWrite]</em></p>
<p>The Pew Research Center has released details of <a href="http://www.pewsocialtrends.org/2014/03/07/millennials-in-adulthood/" rel="nofollow">social attitudes of US adults</a> in various different age groups from Millennials (18-33) to Silents (69-86).&nbsp; The survey covers a wide range of factors from religion to politics but also includes attitudes to, and use of, social media.</p>
<p>But just how media savvy are &lsquo;digital natives&rsquo;?&nbsp; A new study from Northwestern University discovered that <a href="http://readwrite.com/2010/07/29/so-called_digital_natives_not_media_savvy_new_study_shows?awesm=readwr.it_j1MH" rel="nofollow">many students are quite na&iuml;ve, especially when it comes to search engines</a> and the ability to determine the credibility of search results.&nbsp; During the study, one of the researchers asked a study participant, &ldquo;What is this website?&rdquo; to which the response was, &ldquo;Oh, I don't know.&nbsp; The first thing that came up.&rdquo;&nbsp; Only 10% of the students made mention of the site's author or that author's credentials while completing tasks.&nbsp; Another interesting finding was that only a third of the students used Wikipedia to search for answers when given particular tasks, possibly because of teachers' insistence over the years that it is not a credible source of information.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Global Online Education Report</strong></p>
<p><em>[Campus Technology; University World News; Time]</em></p>
<p>The Sloan Consortium is partnering with a group of HE and inter-governmental organizations to generate a <a href="http://campustechnology.com/articles/2014/02/24/new-global-online-education-report-to-study-impact-of-online-learning-worldwide.aspx" rel="nofollow">Global Online Education Report</a> (GlobalOHER) which will be based on empirical data on the state of online learning worldwide.&nbsp; It will include information on enrolments and programs offered online, the role of MOOCs, adoption of OERs, and strategies, challenges and policy issues relating to the delivery of high quality online education.</p>
<p>An internal report from <a href="http://philosophy.cornell.edu/epl/upload/CornellDistancelearning.pdf" rel="nofollow">Cornell</a> states that distance learning, and particularly MOOCs, &ldquo;holds much promise&rdquo;, advising that, &ldquo;Cornell should pursue a diverse portfolio of distance learning avenues, continually rebalancing it as evidence emerges&rdquo; but that faculties should not be, &ldquo;making commitments that adversely impact on-campus teaching and research.&rdquo;</p>
<p>And Time reports on disquiet amongst some US academics over <a href="http://nation.time.com/2014/03/01/online-courses-moocs-ownership/#ixzz2vABOK0N0v" rel="nofollow">who should own online courses</a> that they have authored, fearing that their work may be altered for the worse or be taught by other, less-qualified people.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Using Khan Academy to Support Maths in Schools </strong></p>
<p><em>[edSurge]</em></p>
<p>Researchers SRI International (with backing from Gates) have just published a detailed report on <a href="http://www.sri.com/work/projects/research-use-khan-academy-schools" rel="nofollow">how US schools have been using Khan for their maths classes</a>.&nbsp; The study covers nine sites that encompass 20 public, charter and independent schools from 2011 to 2013.&nbsp; The aim of the research was to generate information for educators on how Khan (and other) digital learning tools and resources, could be used to support personalised learning (i.e. learning that tailors what is taught, when, and how, according to student needs).</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>UK Universities Lag in STEM Subjects</strong></p>
<p><em>[The Telegraph]</em></p>
<p>The UK is performing strongly in arts and humanities subjects but lagging behind in science and maths at university level, according to <a href="http://www.telegraph.co.uk/education/educationnews/10661330/UK-universities-facing-tough-global-competition-in-STEM-subjects.html" rel="nofollow">QS World University Rankings</a>, published last month.&nbsp; The findings revealed that only two STEM-related subjects were in the ten disciplines with the most UK universities in the top 200: psychology, which has 28 UK institutions in the top 200 and environmental sciences with 27.&nbsp; Asia had 10 of the top 30 institutions in the areas of chemical, civil and electrical engineering and eight for mechanical engineering, with the National University of Singapore making the global top ten in all five of the engineering and technology disciplines.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>HE Beyond 2015</strong></p>
<p><em>[University World News]</em></p>
<p>The Association of Commonwealth Universities is behind <a href="https://beyond2015.acu.ac.uk/" rel="nofollow">The World Beyond 2015: Is Higher Education Ready?</a> &ndash; a campaign to raise awareness of why and how HE should respond to global challenges.&nbsp; According to ACU, &ldquo;The Millennium Development Goals (MDGs) expire at the end of 2015 and a new set of international targets will be tabled at the United Nations in early 2016.&nbsp; Whatever the goals that emerge, higher education will play a fundamental role in enabling countries to achieve them.&rdquo;</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>The Ring: Gesture Control Input Device</strong></p>
<p><em>[TechCrunch]</em></p>
<p>The Ring is a hardware device that resembles an ordinary (if slightly chunky) ring, containing sensors and electronics to give it the ability to control devices and render input.&nbsp; As their impressive video shows, it can enable <a href="http://techcrunch.com/2014/02/28/the-ring-input-device-puts-gesture-control-and-home-automation-on-your-finger" rel="nofollow">gesture controls</a>, (&agrave; la Wii), as well as text input by drawing letters in the air, gesture-based authorization for finalizing payments, and transmit alerts from connected devices via a built-in vibration motor and onboard LED.&nbsp; The Ring is currently compatible with iOS and Android devices with Bluetooth 4.0 support.&nbsp; The pre-order cost is $165, with estimated delivery in Jul 14.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Mobile Learning Handbook </strong></p>
<p><em>[ADL]</em></p>
<p>ADL (the Advanced Distributed Learning Initiative) has published a free <a href="https://sites.google.com/a/adlnet.gov/mobile-learning-guide/resources" rel="nofollow">Mobile Learning Handbook</a>.&nbsp; This contains a range of information and advice relating to needs analysis, learning design and hardware, interface and layout considerations.&nbsp; There is also a glossary, some case studies and links to further advice and research.</p>
<p>~~~~~~~~~~~~~~</p>
<p><strong>Oppia</strong></p>
<p><em>[edSurge]</em></p>
<p>I&rsquo;m afraid I usually cringe at &ldquo;no programming skills required&rdquo; authoring tools, mainly because users end up working within the original developers&rsquo; vision of what components are available and how they should function.&nbsp; But then along comes <a href="https://www.oppia.org/" rel="nofollow">Oppia</a>, which has been largely written by a group of Google engineers in their &ldquo;20% time&rdquo; and so should hopefully contain some best-of-breed features.&nbsp; Oppia is an open source project that aims to let anyone create interactive online activities &ndash; alone or as part of a community &ndash; that enable students to learn by doing.&nbsp; It aims to &ldquo;simulate the one-on-one interaction that a student has with a teacher by capturing and generalizing &lsquo;interaction dialogues&rsquo;.&rdquo;</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Spritz</strong></p>
<p><em>[Stephen Downes]</em></p>
<p><a href="http://www.spritzinc.com/" rel="nofollow">Spritz</a> [HTML5] offers &ldquo;compact text streaming&rdquo; which presents a rapid sequence of single words in a 13-character window, but at speeds considerably faster than our typical reading rate of around 220 wpm.&nbsp; We can cope with this because Spritz finds the &lsquo;Optimal Recognition Point&rsquo; (ORP) of each word for us, thus saving the time and effort it normally takes our eyes and brain to do that.&nbsp; It doesn&rsquo;t aim to replace the paged text preferred for study and revision, but it offers a useful solution for some other situations.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Device Updates</strong></p>
<p><em>[TechCrunch; Campus Technology]</em></p>
<p>Gartner reports that <a href="http://techcrunch.com/2014/03/03/gartner-195m-tablets-sold-in-2013-android-grabs-top-spot-from-ipad-with-62-share" rel="nofollow">195 million tablets were sold</a> worldwide in 2013, of which 62% were Android, 36% iPad and 2% Microsoft.&nbsp; This compares with 2012 figures of 116m sales, with iPads leading at 53%, followed by 46% Android and 1% Microsoft.</p>
<p>According to IDC, overall <a href="http://campustechnology.com/articles/2014/03/05/pcs-see-most-severe-contraction-on-record.aspx" rel="nofollow">PC shipments fell by 9.8%</a> to 315 million units in 2103: &ldquo;the most severe contraction on record&rdquo;.&nbsp; IDC predicts a 6% decline this year and a further 1% in 2015.</p>
<p>The <a href="http://techcrunch.com/2014/03/09/console-crisis" rel="nofollow">games console market</a> is also looking fragile.&nbsp; Although Sony&rsquo;s 6m PS4 sales outshine Microsoft&rsquo;s 4m Xbox shipments, TechCrunch points out that these are well below sales figures for earlier consoles.</p>
<p>ABI Research reports that <a href="http://campustechnology.com/articles/2014/03/04/forecast-billions-will-have-high-speed-mobile-broadband-within-5-years.aspx" rel="nofollow">total worldwide 4G/LTE subscriptions</a> reached 230 million last year but will grow at a compound rate of 43.6% each year through to 2019, reaching about 2 billion in total.&nbsp; By then, around a third of those subscribers will have LTE-Advanced, offering peak mobile download speeds of 1 Gbps and typical download speeds of around 200 Mbps.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>The Role of Evidence in Education</strong></p>
<p><em>[edSurge]</em></p>
<p>Nesta and Pearson have published <a href="http://www.nesta.org.uk/publications/good-intentions-real-impact-rethinking-role-evidence-education-businesses" rel="nofollow">From Good Intentions to Real Impact: Rethinking the role of evidence in education businesses</a>.&nbsp; They offer a framework that they acknowledge, &ldquo;doesn't pretend to be definitive" but which they hope will lead to, &ldquo;new approaches, frameworks and ways of working to reframe current understandings of what evidence is, how it is captured, and to develop strategies and systems to ensure its better use.&rdquo;</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Repository for Non-Numeric Data</strong></p>
<p><em>[Wired Campus]</em></p>
<p>Syracuse University&rsquo;s <a href="http://chronicle.com/blogs/wiredcampus/new-repository-offers-a-home-for-data-that-arent-numbers/50865" rel="nofollow">Qualitative Data Repository</a> aims to offer a home for organising, searching and sharing&nbsp; non-numeric research data such as interview transcripts, field notes, recordings, etc.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Machine Marking of Essays</strong></p>
<p><em>[edSurge]</em></p>
<p>A paper from Getting Smart considers the relative efficacy and costs of <a href="http://cdno4.gettingsmart.com/wp-content/uploads/2014/02/ASAP-Pricing-Study-Final.pdf" rel="nofollow">human versus machine marking of essays</a>.&nbsp; It cites evidence from research sponsored by the Hewlett Foundation that, &ldquo;machine scoring engines are generally capable of producing scores similar, in the aggregate, to the scores of human raters for long form English Language Arts (ELA) essays (defined as essays with more than 150 word responses).&rdquo;&nbsp; The paper concludes that &ldquo;Machine scoring of student essays proved to be significantly less expensive than human scoring. Depending on the set of assumptions used, machine scoring of long form essays can be as low as 20 percent to 50 percent of the cost of human scoring given favorable conditions and major volumes of student responses&rdquo;</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>The Serious eLearning Manifesto</strong></p>
<p><em>[Will Thalheimer]</em></p>
<p>The <a href="http://elearningmanifesto.org/" rel="nofollow">Serious eLearning Manifesto</a> launched on 13 Mar:&nbsp;</p>
<p>&ldquo;We believe that learning technology offers the possibility for creating uniquely valuable learning experiences.&nbsp; We also believe, with a sense of sadness and profound frustration, that most elearning fails to live up to its promise.&nbsp; We further believe that current trends evoke a future of only negligible improvement in elearning design&mdash;unless something radical is done to bend the curve.&nbsp; Finally, we have concluded that in order to elevate elearning to the height of its promise, we need to begin with a personal commitment to a new set of standards.&rdquo;</p>
<p>It has the backing of some big hitters, mainly in the US commercial sector, so it will be interesting to see what transpires.</p>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>Shorts</strong></p>
<ul>
<li>Serhiy Kvit, <a href="http://www.universityworldnews.com/article.php?story=20140311231130571" rel="nofollow">Ukraine's new Minister of Education and Science</a>, gives his perspective on the current situation.&nbsp; [University World News]</li>
<li>In a mock poll held at Glasgow Caledonian University, <a href="http://www.huffingtonpost.co.uk/2014/03/11/glasgow-students-vote-against-scottish-independence_n_4940911.html?ir=UK+Universities+&+Education" rel="nofollow">63% of students voted in favour of keeping Scotland as part of the UK</a>.&nbsp; [Huffington Post]</li>
<li>An interesting definition of <a href="http://www.universityworldnews.com/article.php?story=20140212134833693" rel="nofollow">exam cheating</a> from cuddly old China: it now amounts to &ldquo;illegal acquisition of state secrets&rdquo;.&nbsp; [University World News]</li>
<li>BBC Panorama uncovers the extent of organised <a href="http://www.bbc.co.uk/news/uk-26024375" rel="nofollow">fraud in UK visa application process English tests</a> run by Studentway.&nbsp; [BBC]</li>
<li>Mikhail Panko&rsquo;s <a href="http://www.expresso-app.org/" rel="nofollow">Expresso</a> is a free web tool that analyses the construction of written text and flags weaknesses.&nbsp; [makeuseof.com]</li>
<li><a href="http://campustechnology.com/articles/2014/02/26/new-openid-connect-standard-extends-digital-identities-across-the-web.aspx" rel="nofollow">OpenID Connect</a> is a new standard for internet security and privacy just ratified by the OpenID Foundation.&nbsp; [Campus Technology]</li>
<li><a href="http://www.theguardian.com/technology/2014/mar/07/photographers-getty-images" rel="nofollow">Getty</a> is allowing social media users to freely embed almost any of its 30m images on sites such as Twitter and WordPress.&nbsp; [The Guardian]</li>
<li>Dropbox users may appreciate these seven downloads and extensions &ldquo;to <a href="http://lifehacker.com/seven-downloads-and-extensions-to-make-dropbox-even-mor-1533124676" rel="nofollow">make Dropbox even more awesome</a>&rdquo;.&nbsp; [Lifehacker]</li>
<li><a href="http://www.engadget.com/2014/03/11/google-docs-add-ons/" rel="nofollow">Google Docs</a> now has an add-on store, with 60+ productivity extensions currently available.&nbsp; [Engadget]</li>
<li>UCAS made &pound;12m last year by <a href="http://www.theguardian.com/uk-news/2014/mar/12/ucas-sells-marketing-access-student-data-advertisers" rel="nofollow">selling applicants&rsquo; and parents&rsquo; data</a> to advertisers such as mobile phone and energy drinks companies.&nbsp; [The Guardian]</li>
<li>The <a href="http://mashable.com/2014/03/13/first-cellphone-on-sale/" rel="nofollow">world&rsquo;s first mobile phone went on sale 30 years ago</a> this month.&nbsp; The Motorola DynaTAC 8000X was a snip at just $3995.&nbsp; [Mashable]</li>
<li><a href="http://ilearntechnology.com/?p=5286" rel="nofollow">Stormboard</a> is a virtual brainstorming, mindmapping and collaboration tool that lets teams share online whiteboard space.&nbsp; [iLearn Technology]</li>
</ul>
<p>~~~~~~~~~~~~~~~</p>
<p><strong>And Finally&hellip;</strong></p>
<p><em>[Huffington Post; Students Last]</em></p>
<p>The debate continues: is a degree really worth the investment?&nbsp; This promotional video from <a href="http://www.huffingtonpost.com/2014/02/24/honest-university-commercial_n_4847110.html" rel="nofollow">EveRy University</a> should leave you in no doubt</p>
<p>And can this be true?&nbsp; Has <a href="http://studentslast.blogspot.co.uk/2014/02/pearson-buys-new-york-state-education.html" rel="nofollow">Pearson</a> finally taken over the New York State Education Department?</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8622">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8622">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8622/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8622/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8622">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/digest">digest</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/e-learning">e-learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/elc">elc</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/MOOC">MOOC</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/news">news</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/newsletter">newsletter</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/report">report</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/technology">technology</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/trends">trends</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8622">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1967">e-Learning Digest</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8622">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8622">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8622">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8622">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8622">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8622">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="73"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 73) </script>
	</body>
</html>
