<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Pat Townshend's Design Narrative - Improving English Skills - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Pat Townshend's Design Narrative - Improving English Skills</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8629">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">938 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6945" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Pat Townshend</a><br />
        23 March 2014</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>Improving English skills</strong></p>
<p><strong>Narrator</strong></p>
<p>I manage the training aspect of the project.</p>
<p><strong>Situation</strong></p>
<p>A large care services employer identified fifteen members of staff judged to have insufficient functional English skills to operate as needed within their teams. They worked in widely distributed places, many miles from each other. Budgets to fund any training were extremely limited. The demands of the operation meant that they could not be allowed much release time from normal duties. All the learners had further constraints on their spare time (work and family). Face-to-face tuition was not affordable, practical or possible.</p>
<p>The key actors were the staff members/learners and their managers and the training delivery staff and their manager. &nbsp;</p>
<p><strong>Task</strong></p>
<p>The staff members/ learners would be provided with the opportunity to improve their English skills by at least one level within a twenty-six week period and ultimately to reach a level equivalent to GCSE English A*-C, Level 2.</p>
<p>The project would need to do this with little funding and great distances between individuals who had little available spare time available to them. It was decided that the only learning approach capable of addressing the challenges of distance and lack of spare time was through web-based e-learning.</p>
<p><strong>Actions</strong></p>
<ul>
<li>Carry out a risk analysis and work out ways of ameliorating these as far as possible.</li>
<li><em style="line-height: 1.5em;">Risk 1</em> &ndash; learners with reading skills at too low a level to be able to engage with the learning material. Action &ndash; carry out initial assessment of English; identify any learners with skills below Entry 3. Support these staff members to find local face-to-face tuition.&nbsp;</li>
<li><em style="line-height: 1.5em;">Risk 2</em> &ndash; learners experiencing difficulty logging on to website through lack of experience and confidence. Action &ndash; provide an opening face-to-face induction session with laptops and wifi. Ensure that they have logged on successfully and carried out some early exercises with support.</li>
<li><em style="line-height: 1.5em;">Risk 3</em> &ndash; learners not making reasonable progress over time. Action &ndash; call for their commitment at the induction session, introduce their distant tutor and ensure each learner has the opportunity for a face-to-face discussion with her. Ensure that they understand that progress will be closely monitored. Engage line managers in providing support and encouragement at work. Let them know that those who make good progress will be supported to take an English qualification that will mark their achievement.</li>
</ul>
<p>Organise induction session, as above.<br />Effects&nbsp;<br />- Two learners with Entry Level 2 English identified. They were guided to local services.&nbsp;<br />- Induction sessions were closely planned, with technical support in attendance, and a 1:3 tutor/learner ratio. The sessions engaged learners and they were enthusiastic.</p>
<p>Monitor progress on monthly basis, flagging up any who appear to have lost enthusiasm. Contact any to discuss / re-engage.<br /> Effects</p>
<p>&nbsp;- Tutor monitored learners&rsquo; activity e.g. log-on times and progress. Email and telephone calls made to any not meeting planned activity deadlines.&nbsp;</p>
<p>- Line managers were contacted in two cases and the learners became re-engaged. Monthly reports were made to training manager.</p>
<p>After 20 weeks, identify learners who may be able to be entered for qualification. Engage these learners&rsquo; line managers in forward planning to enable them to be released for preparation for formal assessment and examinations.<br /> Effects <br /> &ndash; Five learners identified as ready for formal assessment. Their line managers were contacted and plans were made.</p>
<p>After 25 weeks confirm learners going forward for formal assessment.</p>
<p>At 26 weeks provide all learners with advice and guidance about her or his next steps (formal assessment, continued e-learning, an alternative learning route)</p>
<p>Effects&nbsp;<br />- individual interviews arranged for all learners with advice and guidance tailored to each one&rsquo;s needs.</p>
<p>Re-plan for these learners and for any new staff members identified to join the programme</p>
<p><strong>Results</strong></p>
<p>Five (of 13) learners achieved one level improvement in 26 weeks and were entered for formal assessment. Four of these were successful in achieving a Level 1 English qualification. (Success rate 30% overall, 80% for formal assessment group)</p>
<p>Objective not met. It was too ambitious and set before the entry skills of learners were known or fully understood.</p>
<p>Additional outcomes &ndash; there must be a range of next steps options available for learners, including continuing on the programme, providing progress continues to be made.</p>
<p><strong>Reflections</strong></p>
<p>The detailed planning for the induction session was well-worth the time and effort involved. I knew that this face-to-face time with learners would be valuable but only available on this one occasion. It was important to lay strong foundations. I knew that the learners had strong speaking and listening skills and that social contact was important to them. They also had very poor experiences in compulsory education and lacked confidence. Well balanced encouragement was very important, and the support or their line-managers helped.</p>
<p>Other forms of communication could valuable to them, allowing them social interaction with fellow learners. It would be useful to find out what forms of digital communication they used in their lives, because it would be important use one with which many felt confident e.g. text messaging.</p>
<p>The English tuition programme was generic and &lsquo;off-the-peg&rsquo;, but the learners worked in one vocational sector with its own terminology. Value-added extras provided could have included commentated slide-shows focusing on e.g. professional communication in that sector, spelling strategies for sector specific terms.</p>
<p>My main transferable insight was a greater understanding and recognition of the need to treat each adult English literacy learner as someone with very individual and often complex needs.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8629">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8629">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8629/comments#contribute">Discussion (1)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8629/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8629">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/confidence">confidence</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Design+narrative">Design narrative</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/H800">H800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/social">social</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/web-based">web-based</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8629">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2909">Design narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8629">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8629">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8629">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8629">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8629">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8629">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
