# .gitignore

/rbin
# /bin

*user_test.html

_config.yml
/package-lock.json
/node_modules
.DS_Store
*.php.*
*.1.*
*BAK*
*ORIG*
*.sh
*.php
*.log

/cloudworks.ac.uk
/cloudworks-archive*
*index.html@q=*
ouldi-logo.png

7
8
9
/11

*.!*

# End.
