<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Title: Bringing ‘aerobic respiration’ to life through storytelling and characters. - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Title: Bringing ‘aerobic respiration’ to life through storytelling and characters.</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/10322">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">311 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/10012" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Stephanie Gordon</a><br />
        27 March 2017</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p dir="ltr"><strong>Narrator</strong></p>
<p dir="ltr">Science Teacher at a large state secondary school.</p>
<p dir="ltr"><strong>Situation</strong></p>
<p>In the first topic of the A Level course, students needed to learn the process of aerobic respiration. It is a detailed process that usually represents about 5-10% of A Level marks overall.</p>
<p dir="ltr">In the past, students have struggled with the level of detail in the biochemical aspects of the process and others have disengaged with the vast amount of content and terminology to learn. Some may have lost marks because they haven&rsquo;t fully understood the process and so could not answer more than superficial recall questions. There are not many practical lessons that teach this concept in adequate detail.</p>
<p dir="ltr">I had a class of 10 very bright and hardworking A Level students, most of which were also studying chemistry. Most had intentions of studying science related subjects at university. Of the 10 students, 9 of them had previously been in my GCSE class, but 1 student had been in the class below, (set by ability), so I had not taught him before. Although he had achieved the same GCSE results, he may have viewed himself as an outsider to the group.</p>
<p dir="ltr"><strong>Task</strong></p>
<p dir="ltr">I wanted to introduce the process of respiration in a fun and memorable way through storytelling and characters. I then wanted to translate this into a detailed explanation.</p>
<p dir="ltr">Success could be measured by students&rsquo; participation in lessons, their confidence using correct terminology and ultimately their grades in practice exam questions and in the End of Topic Test.</p>
<p dir="ltr"><strong>Actions</strong></p>
<p dir="ltr"><strong>Planning</strong></p>
<ol>
<li dir="ltr">
<p dir="ltr">I ensured that I knew the specific terminology in exam mark schemes so that this was introduced and applied in general conversional through the whole learning activity.</p>
</li>
<li dir="ltr">
<p dir="ltr">I discussed the content with chemistry teachers to see where previous learning could be applied.</p>
</li>
<li dir="ltr">
<p dir="ltr">I translated the process of respiration into a rhyming children&rsquo;s story with characters and and a plot line. Each location in the mitochondria was represented by a real place in the story. I used humour to engage the students in the story.</p>
</li>
</ol>
<p dir="ltr"><strong>Week 1:</strong></p>
<ol start="4">
<li dir="ltr">
<p dir="ltr">I gave a &lsquo;dramatic reading&rsquo; of the story to the class.</p>
</li>
<li dir="ltr">
<p dir="ltr">In groups students created images for each stage of the story to visually represent each character and the action happening. (Some used technology e.g. Microsoft paint or Google slides to do this. Some students used their favourite celebrities or film characters e.g. Harry Potter.)</p>
</li>
<li dir="ltr">
<p dir="ltr">Students retold their stories, with the images, to the class.</p>
</li>
</ol>
<p dir="ltr"><strong>Week 2</strong></p>
<ol start="7">
<li dir="ltr">
<p dir="ltr">I explained the process of respiration using actual scientific diagrams and linking the process to the story and the characters. I used images in the corner of the screen to remind students of stages of the story. I asked students to predict what would happen at each stage by using their knowledge of the story.</p>
</li>
<li dir="ltr">
<p dir="ltr">I referred to the rhymes and the characters as reminders of the details of the process.</p>
</li>
</ol>
<p dir="ltr"><strong>Week 3:</strong></p>
<p dir="ltr">9. Students tested their knowledge with various practice questions and an end of topic test.</p>
<p dir="ltr"><strong>Results</strong></p>
<p dir="ltr">Most students were more engaged in learning about the process of respiration. They remembered the details of the story, which they linked to explain details in the actual process. As a result students did well in practice questions and in the end of topic test.</p>
<p dir="ltr">An increase in student engagement &nbsp;was evident when students were revising for mocks and their actual exam later in the year. They were more confident when coming back to this topic and they could remember the storyline and characters. One student said: &lsquo;I&rsquo;m not worried about Respiration because I&rsquo;ve got the story.&rsquo;</p>
<p dir="ltr">The student who was new to the class did not wish to engage with the activity and instead preferred to read and take notes from the textbook. It appeared that he had less self confidence and perhaps viewed himself as an outsider to the group. He was also the only student who I had not previously taught through GCSEs and so he was still learning to trust my teaching methods. However, during revision, he also started to refer to the characters names and rhymes in the story which suggests that he had become a more active participator as he develop friendships with other students and became more confident in his own ability.</p>
<p dir="ltr"><strong>Reflections</strong></p>
<p dir="ltr">Using storytelling really helped students to engage with a topic that can be quite dry and one with little opportunities for meaningful science practical work. The story helped students to remember details of the process.</p>
<p>This process appeared to be more successful for students who are confident and reflective enough to see the benefit of different types of learning and who are willing to take risks when learning and participating. The one student who did not engage with the activity still benefitted from observing the learning community and participated more actively as he grew in confidence.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/10322">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/10322">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (0)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/10322/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/10322/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

</div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/10322">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2474">H800 Design Narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/10322">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/10322">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/10322">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/10322">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/10322">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/10322">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
