<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>MON: Social Work Education In A Connected Age - A Playground Learning Environment. (David Appel) - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>MON: Social Work Education In A Connected Age - A Playground Learning Environment. (David Appel)</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/11910">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">247 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/11910">3 favourites</a>        </li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/7628" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/7628" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">David Appel</a><br />
         4 January 2019</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h2>Abstract</h2>
<p>Digitalisation transforms our society in manifold ways and a profession such as Social Work needs to respond to these transformations. Likewise, social work education needs to revisit its curricula and teaching methods. However, the speed at which transformations are happening is often overstraining the capabilities of innovation, adoption and implementation of educational institutions and their stakeholders (Davis et al., 2018). This is especially the case for a discipline like Social Work with a rather uneasy relationship with technology (Taylor, 2017).</p>
<p>My project addresses this complex challenge by implementing a playground learning environment into social work bachelor and master curricula. This playground learning environment is directed towards a twofold purpose: it (a) equips students with skills and competences for their professional practice in the digital world and (b) allows teachers to gain experiences with education technology as well as rethinking their roles as guides and facilitators. Both learning experiences are as crucial as they are challenging (Adams Becker et al., 2018).</p>
<p>Setting a playground learning environment apart from the core topics and related skills and competences of the discipline of Social Work is expected to act as a threshold concept for the second purpose (Meyer and Land, 2003). Rather than comprehensive documentation, such an environment can showcase &lsquo;good practice&rsquo;, enable direct experience with online learning opportunities, and serve as a transparent reference for discussing difficulties among teachers. Thus, it can help overcome preconceptions regarding the digitally mediated interrelatedness of people and content and foster the implementation of education technology in a shifting environment.</p>
<p>At the H818 Online Conference 2019, I will present the project and context in more detail. I am involved in revising both the bachelor and master curriculum in Social Work at the Zurich University of Applied Sciences and will explain strategy, approach and major challenges for implementing education technology at this institution. I will focus on <a href="https://app.webjets.io/p/WYZtFK0GbPVCwBC2yO94kzT3On72/-LWIJn3TkbYZJYx3rlDc" target="_blank" rel="nofollow">design and purpose of the planned playground learning environment</a>. In order to explore this approach in more detail, a prototype course will be available for conference attendees with a specific interest in this topic before, during and after the conference Based on the experiences running this prototype course, we will discuss opportunities, strengths and weaknesses of such an approach in a workshop. In my presentation I will provide an overiview on the prototype course and findings from running the prototype so far.</p>
<h3>References</h3>
<p>Adams Becker, S., Brown, M., Dahlstrom, E., Davis, A., DePaul, K., Diaz, V. and Pomerantz, J. (2018) <a href="https://library.educause.edu/resources/2018/8/2018-nmc-horizon-report" target="_blank" rel="nofollow"><em>Horizon Report: 2018 Higher Education Edition</em></a>, Louisville, CO:EDUCASE.</p>
<p>Davis, C., Greenaway, R., Moore, M. and Cooper, L. (2018) &lsquo;Online Teaching in Social Work Education: Understanding the Challenges&rsquo;, <em>Australian Social Work</em>, pp. 1&ndash;13 [Online]. DOI: <a href="https://www.tandfonline.com/doi/abs/10.1080/0312407X.2018.1524918" target="_self" rel="nofollow">10.1080/0312407X.2018.1524918</a>.</p>
<p>Meyer, J. and Land, R. (2003) &lsquo;<a href="https://www.jstor.org/stable/25068074?seq=1#metadata_info_tab_contents" target="_self" rel="nofollow">Threshold Concepts and Troublesome Knowledge: Linkages to Ways of Thinking and Practising within the Disciplines</a>&rsquo;, pp. 1&ndash;14.</p>
<p>Taylor, A. (2017) &lsquo;Social work and digitalisation: bridging the knowledge gaps&rsquo;, <em>Social Work Education</em>, vol. 36, no. 8, pp. 869&ndash;879 [Online]. <a href="https://www.tandfonline.com/doi/abs/10.1080/02615479.2017.1361924" target="_blank" rel="nofollow">DOI: 10.1080/02615479.2017.1361924</a>.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-2571"></a>
			<p>If you are interested in beta testing the miniMOOC prototype, please visit the course design on webjets. You will find a Google form where you can leave the necessary information to create a beta tester acccount.</p>
<ul>
<li><a href="https://app.webjets.io/p/WYZtFK0GbPVCwBC2yO94kzT3On72/-LWIJn3TkbYZJYx3rlDc" target="_blank" rel="nofollow"><strong>Course Design and beta testing</strong></a></li>
</ul>
<p><strong>The miniMOOC protoype is available until 28 February 2019.</strong></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>					<br /> 15:56 on 11 February 2019																	(Edited 14:48 on 14 February 2019)
																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/11910">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-3330"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3></h3>
  <a id="em-n0" class="em" href="https://www.slideshare.net/dap2000/social-work-education-in-a-connected-age-a-playground-learning-environment"  rel="nofollow"></a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a></small>

</p>
</div>


<script src="https://cloudworks.ac.uk/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/11910">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (14)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/11910/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/11910/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Phill Grimes</h3>
                <div class="user-comment" id="comment-12890">
				<a name="cloud_comment-12890"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/11572">Phill Grimes</a>	                    <br />
                        12:00pm 2 February 2019	                    	                    	                   						                    <a href="#comment-12890" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I feel the same concerns exist with Social work education as with many other subjects. Your approach and solutions could well apply to many other curricula.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 2 by Annette Hendley</h3>
                <div class="user-comment" id="comment-12899">
				<a name="cloud_comment-12899"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/11073" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/11073">Annette Hendley</a>	                    <br />
                        6:57pm 3 February 2019	                    	                    	                   						                    <a href="#comment-12899" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Implementing new ideas and especially technological based ones into schools and universities seem to still be a complicated process with quite a bit of resistance. It would be interesting to see your project David. The playground idea is very clever.</p>        </div>
                          <h3 class="hidden">Comment 3 by patrick shearer</h3>
                <div class="user-comment" id="comment-12901">
				<a name="cloud_comment-12901"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/11583">patrick shearer</a>	                    <br />
                        10:35pm 3 February 2019	                    	                    	                   						                    <a href="#comment-12901" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi David,&nbsp;</p>
<p>If i am interpreting properly, the playground would be a learning environment/playground where everyone had an easy access, open area to explore and share experiences? I like the idea if it is.I work in a college and we use Moodle - it should be like a playground. However, each department has a door to their play area - and the doors are all locked to staff and students alike. I fell that the open innovation of playground is an excellent idea for increasing engagement and development for social work education.&nbsp;&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 4 by David Appel</h3>
                <div class="user-comment" id="comment-12924">
				<a name="cloud_comment-12924"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        9:12pm 4 February 2019	                    	                    	                   						                    <a href="#comment-12924" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Phil and Annette,&nbsp;</p>
<p>thank you for your feedback. Sceptisism, hesistancy, unease, resistance, etc. seem to be common reactions when it comes to using technology for education, also because it implies changes to role and traditional self-perception of teachers (the <a href="https://library.educause.edu/resources/2018/8/2018-nmc-horizon-report" target="_blank" rel="nofollow">2018 NMC Horizon Report</a> describes this as &ldquo;wicked&rdquo; challenge and &ldquo;complex to define, much less to address&rdquo;).</p>
<p>My goal is to set the playground learning environment apart from the core curricula so it does not interfere too much, but still adds value by connecting different topics. I hope to make the prototype available tomorrow and would be very interested to get your feedback.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 5 by David Appel</h3>
                <div class="user-comment" id="comment-12925">
				<a name="cloud_comment-12925"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        9:19pm 4 February 2019	                    	                    	                   						                    <a href="#comment-12925" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Patrick,</p>
<p>yes, it should be sort of a miniMOOC where learnes would exchange ideas accross the modules of the curriculum or even with professionals and practitioners from the field of Social Work. We use Moodle too and quite in the same way you describe. I hope that such an open learning environment could demonstrate opportunities and benefits for Social Work education.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 6 by Potenza Atiogbe</h3>
                <div class="user-comment" id="comment-12962">
				<a name="cloud_comment-12962"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/11214" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/11214">Potenza Atiogbe</a>	                    <br />
                        10:12pm 10 February 2019	                    	                    	                   						                    <a href="#comment-12962" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi David, your project is very innovative and interesting.&nbsp; &nbsp;I look forward to trying the playground when I can get access :-).&nbsp;</p>
<p>Like previous comments the problems that you state with implementing and using technology in other fields of education.&nbsp; In my health librarianship area, the idea of a sandpit which is similar to your playground area was introduced to encourage learning and using emerging technologies for health librarians.&nbsp; I think it will definately encourage engagement, a really clever idea.</p>
<p>In terms of the networking to develop the project , which networks in particular helped to inform the development of your project?</p>
<p>I look forward to your presentation and all the best with your preparations :-).</p>        </div>
                          <h3 class="hidden">Comment 7 by David Appel</h3>
                <div class="user-comment" id="comment-12969">
				<a name="cloud_comment-12969"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        9:07pm 11 February 2019	                    	                    	                   						                    <a href="#comment-12969" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>OpenStudio, tutor group forums, our Whatsapp group and Cloudworks here have all been helpful for feedback. Colleagues from my professional environment have also provided very useful feedback, but I have not been able to tap into new networks such as Twitter as much as I would have liked. I am still trying to find out how to best engage there.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 8 by Potenza Atiogbe</h3>
                <div class="user-comment" id="comment-12997">
				<a name="cloud_comment-12997"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/11214" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/11214">Potenza Atiogbe</a>	                    <br />
                        7:00pm 13 February 2019	                    	                    	                   						                    <a href="#comment-12997" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi David sounds like you had a lot of success with the networks you tapped into.</p>
<p>Well done with the prototype miniMOOC.&nbsp; I have sent feedback via your feedback form.&nbsp; The structure and navigation are great.&nbsp; I especially liked the forums and the clear instructions especially dates to note etc.&nbsp; This is key especially for a self-paced course otherwise time can run away with you.&nbsp; I think having a space like this will be so beneficial to share ideas and exchange views.&nbsp; &nbsp;Very user intuitive. Well done again.&nbsp; I look forward to hearing your presentation.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 9 by Dr Simon Ball</h3>
                <div class="user-comment" id="comment-13071">
				<a name="cloud_comment-13071"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/6651" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/6651">Dr Simon Ball</a>	                    <br />
                        11:07am 19 February 2019	                    	                    	                   						                    <a href="#comment-13071" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi David</p>
<p>Well done on a great presentation! Here is a summary of the comments and questions you received following your presentation (including those you may have addressed verbally). Please respond in whatever way you choose - I suspect you may wish to deal with the first few in one response!</p>
<p>Best wishes</p>
<p>Simon</p>
<p>&nbsp;</p>
<ul>
<li>What aspects of play are included in the miniMOOC?</li>
<li>how will students be motivated to do the mood. if no credit is available,?</li>
<li>Are there any incentives or rewards?</li>
<li>Our university runs 'Central' sites to address the 'silos' of students in different units.</li>
<li>Have you involved students in the min-Mooc learning design?</li>
<li>how ar e you planning to get feedback from the students - do you have some built in features so they can give their feedback?</li>
<li>Is there any support from a tutor?</li>
</ul>        </div>
                          <h3 class="hidden">Comment 10 by David Appel</h3>
                <div class="user-comment" id="comment-13125">
				<a name="cloud_comment-13125"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        3:00pm 26 February 2019	                    	                    	                   						                    <a href="#comment-13125" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <ul>
<li>What aspects of play are included in the miniMOOC?</li>
</ul>
<p>The main idea of the 'playground learning environment' is to create an environment where students and teaching staff can experiment with education technology.&nbsp; Therefore it is important for me to keep the miniMOOC separate from the mandatory modules and students are free to choose what topics they wish to research. Teachers can also interact as moderators, but they do not assess contributions. So aspects of play are not really included in the miniMOOC and I would find it difficult to do so.</p>        </div>
                          <h3 class="hidden">Comment 11 by David Appel</h3>
                <div class="user-comment" id="comment-13126">
				<a name="cloud_comment-13126"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        3:07pm 26 February 2019	                    	                    	                   						                    <a href="#comment-13126" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <ul>
<li>how will students be motivated to do the mood. if no credit is available,?</li>
</ul>
<p>Motivation might be an issue. Therefore it is important that there is a link to the curricula: the discussions and peer-reviewed contributions of the students will be picked up in the start-up sessions of the regular modules and again in the final session.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 12 by David Appel</h3>
                <div class="user-comment" id="comment-13127">
				<a name="cloud_comment-13127"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        3:11pm 26 February 2019	                    	                    	                   						                    <a href="#comment-13127" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <ul type="disc">
<li>Are there any incentives or rewards?</li>
</ul>
<p>Some form of open badges to recognise contributions which are especially valuable would certainly help to motivate students. This has been in scope of the original project which was planned to run on Moodle, but I have not yet found a suitable technical solution for it. The idea was to show a usecase of badges which could be used on a larger scale for all modules of the bachelor and master curricula as they all run on Moodle.</p>        </div>
                          <h3 class="hidden">Comment 13 by David Appel</h3>
                <div class="user-comment" id="comment-13128">
				<a name="cloud_comment-13128"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        3:13pm 26 February 2019	                    	                    	                   						                    <a href="#comment-13128" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <ul>
<li>Have you involved students in the min-Mooc learning design?</li>
<li>how ar e you planning to get feedback from the students - do you have some built in features so they can give their feedback?</li>
</ul>
<p>Students have not been involved yet, but this is a good point and I will try to add an addtional testing cycle where students can feedback on the prototype. I will also include opportunities for feedback at the end of the miniMOOC.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 14 by David Appel</h3>
                <div class="user-comment" id="comment-13129">
				<a name="cloud_comment-13129"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/7628" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7628">David Appel</a>	                    <br />
                        3:17pm 26 February 2019	                    	                    	                   						                    <a href="#comment-13129" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <ul type="disc">
<li>Is there any support from a tutor?</li>
</ul>
<p>Initially, I will support the miniMOOC, but it is a main goal of this project to involve teaching staff so they can learn how to act as virtual tutors. I am confident that they are intrested in participating as they will have to contribute content from their area of expertiese and they will also refer to discussions and contributions at the beginning of the term.</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/collaborative+learning">collaborative learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/education+technology">education technology</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/implementation">implementation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/social+work">social work</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/11910">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/3030">OU H818 'The Networked Practitioner' Online Conference 2019</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/11910">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/11910">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/11910">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/11910">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/11910">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/11910">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="8"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 8) </script>
	</body>
</html>
