<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Bob and Sue - Adult Learners returning to Higher Education - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Bob and Sue - Adult Learners returning to Higher Education</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/4103">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">8495 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/4103">5 favourites</a>        </li>
        </ul>
</div>                
                    <p>Meet Bob and Sue to listen to their perspectives as adult learners returning to University to study...</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/725" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/725" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Julie Carle</a><br />
         5 July 2010</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Meet Bob and Sue to listen to their perspectives as adult learners returning to University to study Technology Enhanced Learning.</p>
<p>Scroll down to view latest videos:<br /><strong>OpenEd10 held in Barcelona 2-4 November<br />What "Siemens Says" about 21st Century knowledge<br />Transavartarts Boo and Sob<br />Preparing for the NZ Tertiary Writers Network Colloquium<br />The Graduate, Bob and Sue version</strong></p>
<p>Series 2: <a href="http://cloudworks.ac.uk/cloud/view/4686" rel="nofollow">Rog, Bob and Sue</a>&nbsp;on ethics</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-779"></a>
			<p>This is the <a href="https://docs.google.com/leaf?id=0B7iVbUegCdETY2M2MGNmYTItODBjMS00MzJiLTg3NWItZDdkNjY0YmUzOTUx&hl=en" target="_blank" rel="nofollow">concept map</a> for the design and development of the videos.</p>
<p>Bob &amp; Sue and others join in the preparations for the <a href="http://cloudworks.ac.uk/cloud/view/4591" rel="nofollow">Oxford eLearning Debate</a>&nbsp;on Wednesday 6th October.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>					<br /> 18:31 on 14 August 2010																	(Edited 14:16 on  6 October 2010)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-918"></a>
			<p>I have included sub-titles so that the digital stories will be useful for aurally impaired learners and English language learners. To view the subtitles click on "cc" when you play the videos. Including sub-titles&nbsp;is a very easy process in YouTube and seems to work quite well. I think Xtranormal is an excellent tool to engage aurally impaired learners and give them a 'voice'.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>					<br /> 08:19 on 29 September 2010																	(Edited 00:52 on 20 July 2011)
																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4103">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-703"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>VLE vs PLE</h3>
  <a id="em-n0" class="em" href="http://www.youtube.com/watch?v=2L2k9tDPf6M"  rel="nofollow">VLE vs PLE</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-704"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Synchronous Communication</h3>
  <a id="em-n1" class="em" href="http://www.youtube.com/watch?v=OOtQ6B9ZkoY"  rel="nofollow">Synchronous Communication</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-705"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Collaboration</h3>
  <a id="em-n2" class="em" href="http://www.youtube.com/watch?v=gzQxlop17lQ"  rel="nofollow">Collaboration</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-706"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Mobile Learning Devices</h3>
  <a id="em-n3" class="em" href="http://www.youtube.com/watch?v=WdaJPeDoXPg"  rel="nofollow">Mobile Learning Devices</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-707"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Plagiarism Remixed</h3>
  <a id="em-n4" class="em" href="http://www.youtube.com/watch?v=Hjl4nZMe3LU"  rel="nofollow">Plagiarism Remixed</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-712"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Identity Crisis</h3>
  <a id="em-n5" class="em" href="http://www.youtube.com/watch?v=20j1xAevueU"  rel="nofollow">Identity Crisis</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-722"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Augmented Reality</h3>
  <a id="em-n6" class="em" href="http://www.youtube.com/watch?v=b21pgTQ21lg"  rel="nofollow">Augmented Reality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-742"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Assessment</h3>
  <a id="em-n7" class="em" href="http://www.youtube.com/watch?v=-sxHchPMm9I"  rel="nofollow">Assessment</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-756"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Sensemaking</h3>
  <a id="em-n8" class="em" href="http://www.youtube.com/watch?v=CWmFCnkFCIo"  rel="nofollow">Sensemaking</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-758"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Tworking about networks</h3>
  <a id="em-n9" class="em" href="http://www.youtube.com/watch?v=g9K5-tkJNHY"  rel="nofollow">Tworking about networks</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-766"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Tipping.Point</h3>
  <a id="em-n10" class="em" href="http://www.youtube.com/watch?v=KuZGq8h4SYA"  rel="nofollow">Tipping.Point</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-771"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Cyberfame</h3>
  <a id="em-n11" class="em" href="http://www.youtube.com/watch?v=iQ4MMR84U7E"  rel="nofollow">Cyberfame</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-782"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Playful Antics</h3>
  <a id="em-n12" class="em" href="http://www.youtube.com/watch?v=MId0W-BwXe0"  rel="nofollow">Playful Antics</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-919"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>eeeee-Learning</h3>
  <a id="em-n13" class="em" href="http://www.youtube.com/watch?v=XaJ0JRMXb2g"  rel="nofollow">eeeee-Learning</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-971"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>OpenEd10 as seen through the eyes of Bob and Sue</h3>
  <a id="em-n14" class="em" href="http://www.youtube.com/watch?v=d2ItTeZZJHs"  rel="nofollow">OpenEd10 as seen through the eyes of Bob and Sue</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-1009"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>PACCET knowledge for the 21st Century</h3>
  <a id="em-n15" class="em" href="http://www.youtube.com/watch?v=E5XrdINKndk"  rel="nofollow">PACCET knowledge for the 21st Century</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-1025"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Transavatarts Sob and Boo</h3>
  <a id="em-n16" class="em" href="http://www.youtube.com/watch?v=bHNGj5W6VNE"  rel="nofollow">Transavatarts Sob and Boo</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-1058"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>Bob and Sue preparing for the Tertiary Writers Network Colloquium</h3>
  <a id="em-n17" class="em" href="http://www.youtube.com/watch?v=n2jpw-TLcOw"  rel="nofollow">Bob and Sue preparing for the Tertiary Writers Network Colloquium</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>
<a id="embed-1070"></a>
<div class="embed-wrap em-www-youtube-com">
    <h3>The Graduate, Bob and Sue version</h3>
  <a id="em-n18" class="em" href="http://www.youtube.com/watch?v=v0lAFMPD_Bw"  rel="nofollow">The Graduate, Bob and Sue version</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a></small>

</p>
</div>


<script src="https://cloudworks.ac.uk/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/4103">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (13)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/4103/links#contribute">Links (6)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/4103/references#contribute">Academic References (7)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Carolyn Hunt</h3>
                <div class="user-comment" id="comment-4255">
				<a name="cloud_comment-4255"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/2089">Carolyn Hunt</a>	                    <br />
                        8:32pm 7 July 2010	                    	                    	                   						                    <a href="#comment-4255" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I love the thought that my future is A.R.S.!</p>
<p>This tech really interests me as I can see the potential for it in informal as well as formal education. I intend to try it as soon as I can get away on this trip and try the Museum of London version.</p>
<p>As you mention one downside is the whole 'big brother' traceability and how the information is used once collected. This does concern me but&nbsp; I had not thought about the whole area of whether we bother to think and retain information if we always have it available at our fingertips. From my experience with home educated children, I would not be too worried about this as they have shown me that they do retain information when the subject interests them and they are willing partners in the process. My son was telling me some detiaied stuff about nuclear reactors yesterday. I asked him where he had found that out and he reminded me of a trip to Anglesea Nuclear Reactor that we went on when he was 5 years old! That was 13 years ago so I think he was interested and it stuck!</p>        </div>
                          <h3 class="hidden">Comment 2 by Gráinne Conole</h3>
                <div class="user-comment" id="comment-4435">
				<a name="cloud_comment-4435"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/3" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3">Gráinne Conole</a>	                    <br />
                        10:54am 30 July 2010	                    	                    	                   						                    <a href="#comment-4435" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>The knowledge sharing toolkit looks really interesting, plan to put aside some more time to look at it. I've given it a 'recommendation' so it now appears higher in the list.</p>        </div>
                          <h3 class="hidden">Comment 3 by yasemin</h3>
                <div class="user-comment" id="comment-4459">
				<a name="cloud_comment-4459"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/3072" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3072">yasemin</a>	                    <br />
                        1:50pm 31 July 2010	                    	                    	                   						                    <a href="#comment-4459" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Really useful in education and very innovative. Since youtube is blocked in some countries, I wonder if there is any other way to reach this content other than youtube? Keep up good work. Best.</p>        </div>
                          <h3 class="hidden">Comment 4 by Julie Carle</h3>
                <div class="user-comment" id="comment-4460">
				<a name="cloud_comment-4460"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        3:29pm 31 July 2010	                    	                        (<small><em>Edited 3:33pm 31 July 2010</em></small>)
	                    	                    	                   						                    <a href="#comment-4460" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Thanks for your comment Lynn, I think your example of your son engaging in learning and making meaning from it last over time is very relevant to how technology can assist the learning process. My main concern with AR is that will it disadvantage some unfairly if they are do not have an A.R.S.</p>        </div>
                          <h3 class="hidden">Comment 5 by Julie Carle</h3>
                <div class="user-comment" id="comment-4461">
				<a name="cloud_comment-4461"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        3:31pm 31 July 2010	                    	                    	                   						                    <a href="#comment-4461" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Thanks for the recommendation given to the kstoolkit Gr&aacute;inne. This is a collaborative wiki and as such an ongoing project to collect ideas for knowledge sharing in development. I hope to be able to contribute to its development through my experiences with study and practice.</p>        </div>
                          <h3 class="hidden">Comment 6 by Julie Carle</h3>
                <div class="user-comment" id="comment-4462">
				<a name="cloud_comment-4462"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        3:32pm 31 July 2010	                    	                        (<small><em>Edited 3:34pm 31 July 2010</em></small>)
	                    	                    	                   						                    <a href="#comment-4462" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>That's a good point Yasemin. The videos can be viewed and remixed from the original Xtranormal website by clicking&nbsp;<a href="http://www.xtranormal.com/watch/6720369/" rel="nofollow">http://www.xtranormal.com/watch/6720369/</a>. It would be interesting to know whether tools like this are also blocked as well. The advantage of remixing movies, is that you get an idea of how they are constructed. You can then adapt them, save them as your own series and share with others.</p>        </div>
                          <h3 class="hidden">Comment 7 by yasemin</h3>
                <div class="user-comment" id="comment-4465">
				<a name="cloud_comment-4465"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/3072" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3072">yasemin</a>	                    <br />
                        1:29pm 1 August 2010	                    	                    	                   						                    <a href="#comment-4465" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Thank you for your quick reply Julie. All the best...</p>        </div>
                          <h3 class="hidden">Comment 8 by Carolyn Edwards</h3>
                <div class="user-comment" id="comment-4696">
				<a name="cloud_comment-4696"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/2097">Carolyn Edwards</a>	                    <br />
                        12:17pm 7 November 2010	                    	                    	                   						                    <a href="#comment-4696" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Julie,</p>
<p>Bob and Sue just rock!&nbsp; I watched the OER one twice.&nbsp; I love the playful/serious  mix, and the puns are hilarious.&nbsp; And quite apart from the OER issues,  you've raised some interesting questions about memory and learning here  as well, particularly how our understanding of a topic/a skill/whatever  is in constant flux because what we do or don't remember is always  changing. How to REfresh that understanding (and - groan - how to assess  it?)&nbsp; Well, remixing, reusing, (what was the third one again, ha ha?) and  redistributing sounds logical to me, especially when I hear it on  YouTube.&nbsp; I feel some cydeas coming on!&nbsp; Thanks for this.</p>
<p>I just want to say more generally as well, having recently met Julie in Barcelona, if anyone reading this gets the opportunity to meet any of their online peers face-to-face, and has any qualms about whether it might be awkward or weird - absolutely not, do it, you won't regret it and you definitely won't run out of things to say! &nbsp; H800 was my first experience learning online, and like most people, I suspected that the personal and social element of face-to-face learning would be missing, and missed. &nbsp; I've been surprised and delighted to find that that's not the case.&nbsp; It's certainly different, but it's definitely there, and it's been not only rewarding, but, as Julie rightly put it, moving.&nbsp; Bit off-topic, I know, and no offence to Bob and Sue, but had to be said!</p>
<p>(Em)power(ment) to the people!</p>
<p>Carolyn</p>        </div>
                          <h3 class="hidden">Comment 9 by Julie Carle</h3>
                <div class="user-comment" id="comment-4697">
				<a name="cloud_comment-4697"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        2:07pm 7 November 2010	                    	                    	                   						                    <a href="#comment-4697" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Carolyn, thx for your positive reinforcement. You have identified some valid points and I like the idea of REfresh in learning. Sometimes we just think achieving something means we have attained it. Continuing Professional Development is so important in technology learning as the change is omnipresent. The great thing about B&amp;S is that they provoke and stimulate thought - but aim to be edutainment.&nbsp;</p>
<p>Meeting virtual colleagues f2f is tremendously satisfying as you say. Learning from someone in a virtual environment is a delicious chocolate cake, and the f2f is the icing on top. Another e in the eeeee-learning video should be <strong>E</strong>motional, as that's how I felt meeting virtual colleagues f2f for the first time; truly <strong>E</strong>nlightening and <strong>E</strong>mpowering.</p>
<p>Julie</p>        </div>
                          <h3 class="hidden">Comment 10 by Julie Carle</h3>
                <div class="user-comment" id="comment-4866">
				<a name="cloud_comment-4866"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        6:45am 27 January 2011	                    	                        (<small><em>Edited 6:47am 27 January 2011</em></small>)
	                    	                    	                   						                    <a href="#comment-4866" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Unfortunately Xtranormal has removed the voices for Bob and Sue making it impossible to create new movies with these particular characters. However, they helped me progress towards a Master of Arts in Online and Distance Education and understanding some of the many issues around technology enhanced learning. Most importantly, I had great fun whilst learning. I would like to acknowledge and thank my fellow H800 students who stimulated many of the ideas in the Bob and Sue series.</p>        </div>
                          <h3 class="hidden">Comment 11 by Manish Malik</h3>
                <div class="user-comment" id="comment-4922">
				<a name="cloud_comment-4922"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/1731" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1731">Manish Malik</a>	                    <br />
                        7:13am 19 February 2011	                    	                    	                   						                    <a href="#comment-4922" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Julie,</p>
<p>Further to your comments on Steve's blog about PLEvsVLE here are my thoughts based on our work on Cloud based Open learning environments:</p>
<p>PLE is personal and people use cloud based tools happily for this. Unless there is a critical mass on a particular tool/site we do not get much out of it. For example if you and me were the only two people on twitter then it would not be as useful as having our wider PLNs too on it.&nbsp;</p>
<p>Our work is not saying that the institutional environment takes over the 80:20 informal:formal split. It presents a way forward for those of us for whom the split may not be that important and want to link the formal with the informal and vice-versa. It doesnt matter which way you mix the two. Google and Microsoft are big companies that offer cloud based solutions. Many personal web tools are now allowing users to use popular services to logon to their services. For example u can login to various PWTs using facebook, twitter, google accounts.&nbsp;</p>
<p>The PLE VLE video above highlights that for lifelong learning it is the person who wants to be in control and hence the PLE sitting in the cloud makes sense. While the institution is important only for a few years in ones life, it is significant as that is where you are likely to form your PLN and build on it. A Cloud based open VLE (or what we call CLE) will provide the best of both worlds. A CLE can be classed as being robust, it keeps up with the latest technology, allows students and staff all different levels of control, allows formation and maintenance of PLNs during and after university through your life. Providing &nbsp;a safe environment yet allowing access to some 'free for all' services will help in a creating learning environment that is versatile and the critical mass from within your PLN.</p>
<p>Manish</p>
<p>MA- ODL :)</p>        </div>
                          <h3 class="hidden">Comment 12 by Julie Carle</h3>
                <div class="user-comment" id="comment-4972">
				<a name="cloud_comment-4972"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        5:30am 6 March 2011	                    	                    	                   						                    <a href="#comment-4972" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   Thank Manish,

I really like your concept of CLE Cloud Learning Envirnoment as explained in the slideshow www.Slideshare.net/mobile/timbuckteeth/cloud-learning-environment#1 prepared by yourself and Steve.

Rgs Julie        </div>
                          <h3 class="hidden">Comment 13 by Julie Carle</h3>
                <div class="user-comment" id="comment-4973">
				<a name="cloud_comment-4973"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/725" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/725">Julie Carle</a>	                    <br />
                        5:30am 6 March 2011	                    	                        (<small><em>Edited 10:42am 7 March 2011</em></small>)
	                    	                    	                   						                    <a href="#comment-4973" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Thanks Manish, I really like your concept of CLE Cloud Learning Envirnoment as explained in the slideshow <a href="http://www.Slideshare.net/mobile/timbuckteeth/cloud-learning-environment#1" target="_blank" rel="nofollow">www.Slideshare.net/mobile/timbuckteeth/cloud-learning-environment#1</a> prepared by yourself and Steve. Rgs Julie</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/A.R.S.">A.R.S.</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/adult+education">adult education</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/animation+in+education">animation in education</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/assessment">assessment</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/augmented+reality">augmented reality</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/augmented+reality+status">augmented reality status</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/cognitive+dissonance">cognitive dissonance</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/collaboration">collaboration</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/cyber+space">cyber space</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/cyberfame">cyberfame</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/debate">debate</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/diablog">diablog</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/digital+story-telling">digital story-telling</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/distance+education">distance education</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/distance+learning">distance learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/e-learning">e-learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/eeeee-learning">eeeee-learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/elearing">elearing</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/future">future</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/H800">H800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/humour">humour</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/identity+crisis">identity crisis</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/knowledge+sharing">knowledge sharing</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/MAODE">MAODE</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/mashups">mashups</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/mobile+learning">mobile learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/motivation">motivation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/OER">OER</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/online+identity">online identity</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/OpenEd10">OpenEd10</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Personal+learning+environments">Personal learning environments</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/plagiarism">plagiarism</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/play+in+learning">play in learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/playful+antics">playful antics</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/PLE">PLE</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/privacy">privacy</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/reflective+blogs">reflective blogs</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/remixes">remixes</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/security">security</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/story+telling">story telling</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/synchronous+communication">synchronous communication</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/technology+enhanced+learning">technology enhanced learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/TEL">TEL</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/tipping+point">tipping point</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/tworking+about+networking">tworking about networking</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/U810">U810</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Virtual+learning+environments">Virtual learning environments</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/VLE">VLE</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Web+2">Web 2</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Web+2.0">Web 2.0</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Xtranormal">Xtranormal</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4103">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1955">Diagrams </a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1442">H800</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2063">Blogs in reflective learning</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2111">Design Bash 2010</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1873">Multimedia accessibility for learning</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2110">Building your digital presence: a resource for educators and researchers</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2083">Open Ed 2010 - Theme OER: Impact and Sustainability</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/4103">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4103">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4103">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/4103">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/4103">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/4103">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="24"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 24) </script>
	</body>
</html>
