<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Home Group 2 - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Home Group 2</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/5711">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1171 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/1211" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1211" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Roger Mills</a><br />
        14 September 2011</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

            </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1269"></a>
			<p>Hone GroupLeader: <strong>ALEX MOSELEY</strong></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/1211" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1211">Roger Mills</a>					<br /> 17:46 on 14 September 2011																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/5711">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/5711">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (14)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/5711/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/5711/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Roger Mills</h3>
                <div class="user-comment" id="comment-5649">
				<a name="cloud_comment-5649"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/1211" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1211">Roger Mills</a>	                    <br />
                        5:51pm 14 September 2011	                    	                    	                   						                    <a href="#comment-5649" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Home Group Leader: <strong>ALEX MOSELEY</strong></p>        </div>
                          <h3 class="hidden">Comment 2 by Alex Moseley</h3>
                <div class="user-comment" id="comment-5664">
				<a name="cloud_comment-5664"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1242">Alex Moseley</a>	                    <br />
                        12:42pm 25 September 2011	                    	                        (<small><em>Edited 12:48pm 25 September 2011</em></small>)
	                    	                    	                   						                    <a href="#comment-5664" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Welcome to home group 2.Feel free to add any topics of interest or discussions as we go through the week.</p>
<p>Alex.</p>        </div>
                          <h3 class="hidden">Comment 3 by Gill Kirkup</h3>
                <div class="user-comment" id="comment-5668">
				<a name="cloud_comment-5668"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/368" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/368">Gill Kirkup</a>	                    <br />
                        4:54pm 25 September 2011	                    	                    	                   						                    <a href="#comment-5668" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>The Role of Quality Assurance</strong></p>
<p>The discussion we started this afternoon in the home group was taken up again in parallel session Option 1 by Dele in his paper on acces and quality. In the discussion afterwards we began to explore <strong>how or if:</strong></p>
<p>-the use of national quality assurance&nbsp;systems in the 'user' country -not just the 'provider' country -&nbsp;can&nbsp;support/improve&nbsp;the overall standard of good quality cross border education?</p>
<p>- quality assurance can ever be expected to do more than simply&nbsp;stop the worst [and maybe the fraudulent] &nbsp;institutions by providing a minimum quality level for content, course design etc- But&nbsp;can it&nbsp;do anyting to&nbsp;stop there being quality differences between programmes and institutions above this minimum?</p>
<p>-&nbsp;can anyone ensure that 'user' countries implement the quality assurance&nbsp;measures that &nbsp;they have agreed to?</p>
<p>- there are hidden cultural values build into any QA system - eg content but also learning methods and assessment?</p>        </div>
                          <h3 class="hidden">Comment 4 by Gill Kirkup</h3>
                <div class="user-comment" id="comment-5673">
				<a name="cloud_comment-5673"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/368" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/368">Gill Kirkup</a>	                    <br />
                        1:07pm 26 September 2011	                    	                    	                   						                    <a href="#comment-5673" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>What is the danger posed by private for profit universities?</strong></p>
<p>We tried to tease out what we meant by &lsquo;private&rsquo; and &lsquo;for profit&rsquo; universities</p>
<p>&nbsp;We acknowledged that we were all used private &ndash; old and often very well respected private universities. The are often philanthropic, and embedded in the quality assurance systems of a national, and clearly help a country deliver high quality education. What we are worried about are for profit institutions- which are at the bottom line businesses that exist to make profits.</p>
<p>Countries have different systems which are more or less receptive to private universities eg the US is very receptive but SA is less.</p>
<p>There is concern is about multinational edu-business moving from one country to another promising &lsquo;investment&rsquo; to government partners.&nbsp; .These companies will move into failing state institutions and take them over. This is big business and harder to address and quality assure than small scale &lsquo;diploma mill&rsquo; colleges.</p>
<p>The economics of business means that these multi-nationals will go for &lsquo;low hanging fruit&rsquo; high enrolment low resource and easy to teach coursess and leave the hard to reach to public institutions.</p>
<p>Competition can be a good thing- it keeps organisations on their toes, but what happens when you have oversaturation of private providers? This provision also takes governments off the hook in providing new institutions. Does this mean that governments will no longer have university provision as part of their state provision obligation.</p>        </div>
                          <h3 class="hidden">Comment 5 by Gill Kirkup</h3>
                <div class="user-comment" id="comment-5674">
				<a name="cloud_comment-5674"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/368" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/368">Gill Kirkup</a>	                    <br />
                        1:21pm 26 September 2011	                    	                    	                   						                    <a href="#comment-5674" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>We were reminded of Rumbles costing model for DE:</strong></p>
<p>What is the contribution of academic salaries to overall costs?</p>
<p>What are the costs of the technologies that chosen- how are these chosen?</p>
<p>What is the cost of the materials- and plans for remake and updating plans for revision?</p>
<p>What are the cost of student services and learner support?</p>
<p>Technologies can increase costs both the fixed cost of infrastructure new technologies etc and the student dependent variable cost- through student support etc.</p>        </div>
                          <h3 class="hidden">Comment 6 by Folake Ruth Aluko</h3>
                <div class="user-comment" id="comment-5675">
				<a name="cloud_comment-5675"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4444">Folake Ruth Aluko</a>	                    <br />
                        2:34pm 26 September 2011	                    	                    	                   						                    <a href="#comment-5675" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>Some food for thought</strong></p>
<p>Is there a limit to the ability of ODL &amp; ICTs to satisfy demand?</p>
<p>Are ODL institutions more closed than open?</p>
<p>It appears institutions are confused e.g. admission policies, teaching methods, etc.</p>
<p>There might be the need for guidelines to improve public perception of ODL institutions.</p>
<p>What would be the role of UNESCO?</p>
<p>&nbsp;</p>
<p>Degrees from private institutions</p>
<p>There have been some studies into the fact that people&rsquo;s knowledge is being under-used at work</p>
<p>The group thinks the impression that we are educating people to get white collar jobs may have to change. In relation to social justice, it might be the question of educating people for enlightenment (e.g. sensitizing people to social justice issues.</p>
<p>2. OERs cannot be divorced from technology, and this becomes a great issue in situations where people have no access to technology.</p>
<p>Also people need expertise to contextualize the content of the materials.</p>
<p>At whose cost is the printing of OER materials for somebody who has to print the material before working on/with them?</p>
<p>How do institutions that make their materials open to the public financially survive? The argument is always that we make students pay for the support they get from institutions however such fees are often high.</p>
<p>3. Open Curriculum &ndash; what does it take for students to successfully decide what they want to learn? What are the challenges, and how successful where it is being practiced?</p>
<p>&nbsp;</p>
<p>4. Who pays for the cost of distance education?</p>        </div>
                          <h3 class="hidden">Comment 7 by Alan Davis</h3>
                <div class="user-comment" id="comment-5679">
				<a name="cloud_comment-5679"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4447">Alan Davis</a>	                    <br />
                        6:07am 27 September 2011	                    	                    	                   						                    <a href="#comment-5679" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>3 great sessions I attended&nbsp;yesterday raised the matter of defining social justice: is is just opening acces to those underserved, and we assume that&nbsp;social justice trickles down from there, or is it what we teach?</p>
<p>Are there some universal aspects of social justce that transcend all contexts that we should endeavour to share, or is that beyond what we should and could do?</p>        </div>
                          <h3 class="hidden">Comment 8 by Gill Kirkup</h3>
                <div class="user-comment" id="comment-5682">
				<a name="cloud_comment-5682"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/368" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/368">Gill Kirkup</a>	                    <br />
                        11:19am 27 September 2011	                    	                    	                   						                    <a href="#comment-5682" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>A bit of exploration of competition and marketing in HE.</strong></p>
<p>Only one of the topics that came up in the home group this moring but one that interested me&hellip;sorry there were others and I'll leave those to other people to add here&hellip;.</p>
<p>&nbsp;An argument was made that competition in HE provision can be good for us, because where there is scarcity of provision it is easier for poor E providers to survive &ndash; but where there is ample supply of provision then bad providers will not recruit students and go bankrupt &ndash; or improve. Students will &lsquo;vote with their feet&rsquo;.</p>
<p>This initiated a debate about whether students made choices based on the same criteria that educators would. Do [young] students choose an institution because it has good social/sports facilities rather than good teaching?</p>
<p>It is the job of universities to educate the potential students- and their parents about what is good quality education.</p>
<p>How should universities respond to marketing information about &lsquo;customer demand&rsquo;? If the marketing tells an institution that students want X, the institution has a choice about whether to develop X or whether to try and change the &lsquo;customers&rsquo; minds&rsquo;. Should we also be concerned abut the power that marketing departments have in determining an institution&rsquo;s activities, and about the &lsquo;marketing spend&rsquo; in Universities at the moment. How much more education could be carried out if that money was spend directly on education activities.</p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 9 by Marianne Taylor</h3>
                <div class="user-comment" id="comment-5683">
				<a name="cloud_comment-5683"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1202">Marianne Taylor</a>	                    <br />
                        1:47pm 27 September 2011	                    	                    	                   						                    <a href="#comment-5683" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Great summaries - thanks&nbsp;</p>
<p>having been on the 'pro-curriculum choice' side this morning - initially because not sure of what thought - am now enthusiastic. Though still want to add some caveats agreed by both sides, like Ruth reminding us of John Claytons's paper on reflective frame works and that might be useful practical way of scaffolding student choice.</p>
<p>Yolanda mentioned Ivan Illich and as a 70s person I have often wondered what happened to de-schooling society ideas - maybe they are about to have second life on second life . Though in fact have been developing and Yolanda will tell more&nbsp;</p>
<p>I was then reminded of Sugata Mitra who gave paper at last conference and am sure he would be sitting on 'our side ' today so posting a link to 'hole in wall' experiment.</p>
<p>http://www.ted.com/talks/Sugata_shows_</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 10 by Marianne Taylor</h3>
                <div class="user-comment" id="comment-5684">
				<a name="cloud_comment-5684"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1202">Marianne Taylor</a>	                    <br />
                        2:02pm 27 September 2011	                    	                        (<small><em>Edited 11:02pm 28 September 2011</em></small>)
	                    	                    	                   						                    <a href="#comment-5684" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>proper link to Sugata Mitra&nbsp;</p>
<p><a href="http://www.ted.com/talks/sugata_mitra_shows_how_kids_teach_themselves.html" rel="nofollow">http://www.ted.com/talks/sugata_mitra_shows_how_kids_teach_themselves.html</a></p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 11 by Marianne Taylor</h3>
                <div class="user-comment" id="comment-5685">
				<a name="cloud_comment-5685"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1202">Marianne Taylor</a>	                    <br />
                        2:13pm 27 September 2011	                    	                        (<small><em>Edited 11:05pm 28 September 2011</em></small>)
	                    	                    	                   						                    <a href="#comment-5685" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Mediaeval help desk</p>
<p>For fun - a video loved by IT people, Librarians and maybe ODL developers - mentioned to Alex and said would post - though not convinced about links working and maybe you have to do something for that here?</p>
<p><a href="http://www.youtube.com/watch?v=pQHX-SjgQvQCS" rel="nofollow">http://www.youtube.com/watch?v=pQHX-SjgQvQCS</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 12 by Alan Davis</h3>
                <div class="user-comment" id="comment-5686">
				<a name="cloud_comment-5686"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4447">Alan Davis</a>	                    <br />
                        6:03am 28 September 2011	                    	                    	                   						                    <a href="#comment-5686" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>It was great to debate the individualized approach to degree planning. I likely did not explain the Empire State College approach well: planning is not done in a vacuum: through dialogue and research, the student has to develop a degree progrma by looking at other curricula that are relevant, by adhering to the broad area of stduy guideines, and has to meet the general education requirements. So a degree in Business with a focus on Marketing will likley not be too dissimilar to others, though it will have a lot of room for elective courses in other areas.</p>
<p>In some other fields, unique interdisciplinary programs can be developed, but a clear rationale has to be provided and approved by the college.&nbsp; Within the degree plan, the student may also develop individualized studies through the development of learning contracts. This is where their own interests and context really come into te picture. It is our expectaiton that each leaner be an active partner in the design of their studies.</p>        </div>
                          <h3 class="hidden">Comment 13 by Alex Moseley</h3>
                <div class="user-comment" id="comment-5687">
				<a name="cloud_comment-5687"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1242">Alex Moseley</a>	                    <br />
                        8:16am 28 September 2011	                    	                    	                   						                    <a href="#comment-5687" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Thanks for the additional information Alan - and to Gill, Marianne and Ruth for your excellent write-ups.</p>
<p>In our third meeting, we debated the individualised approach to degrees which Alan mentions above, and covered in his keynote. A summary follows:</p>
<p>
<p><strong>THE MOTION:</strong> To truly meet the needs of international students, the students themselves - not institutions - should set their own curricula according to local needs.</p>
<p><strong>FOR: </strong>context is all important - without local context you can't deliver local needs to students. Importing potentially foreign elements isn't going to work. Motivation will be higher amongst students and local instructors; based on Illic's ideas - students will learn better if they can learn when, where and how they want to.</p>
<p><strong>AGAINST: </strong>you can self-select curriculum to avoid areas of contention or challenge ('ultimate truths' such as evolution or equality) - may help to pervade small-mindedness/national problems. Self-selection may be fine for interest, but for developmental learning for competencies etc. then expert advice/lead is needed. Needs to be collective: collaboration between instructors and students.</p>
<p><strong>FOR: </strong>The 'ultimate truths' might be imposed from the delivering institution and may be culturally nuanced: the point of the observer defines the truth. Students might already have the skills to self-select their knowledge, and know exactly what they want from where.&nbsp;</p>
<p><strong>AGAINST:</strong> When you look at theories of development and learning (from psychology), it is clear that students should have guidance and not direct their own learning freely. There is a level of innocence in learners: when they start a course they don't have a full picture of their own needs, abilities and what is available or best for them. Different levels of education will be more or less able to choose their own learning (eg. PhD level might be fine; undergraduate not).</p>
</p>        </div>
                          <h3 class="hidden">Comment 14 by Gill Kirkup</h3>
                <div class="user-comment" id="comment-5693">
				<a name="cloud_comment-5693"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/368" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/368">Gill Kirkup</a>	                    <br />
                        10:23am 28 September 2011	                    	                    	                   						                    <a href="#comment-5693" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p><strong>One of the topics that we would like to see more of in a futre conference</strong></p>
<p>.A better understanding of the power structures issues underlying all the technologies use. E.g.Ownership and profit on commercial technologies, access and control of information and communication by government and other organisations.</p>
<p>&nbsp;What should we know about for example privacy &ndash; of our own information and our communications. Who owns has access to and can control these. &nbsp;For example the saying that if you are getting anything for free that is because you are the product that is being sold. Very true of the internet where most companies make profits out of the information you provide abut yourself. What is being traded?</p>
<p>We are na&iuml;ve in education we talk about whether the technologies are good or bad for our students without understanding larger issues of who produces, controls and generates profit from these media . This involves analysing the activity of governments as well as commercial organisations.</p>
<p>&nbsp;We need new critical digital literacies- do we understand the power and how money is being made in power/commercial aspects of digital technologies.</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/5711">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2343">2011 Cambridge International Conference on Open and Distance Learning </a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/5711">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/5711">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/5711">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/5711">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/5711">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/5711">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="2"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 2) </script>
	</body>
</html>
