<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>A12.5 Sharing your results about Second Life - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>A12.5 Sharing your results about Second Life</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6292">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1447 views</div></li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://www.mitpressjournals.org/doi/pdf/10.1162/dmal.9780262693646.229"  rel="nofollow">http://www.mitpressjournals.org/doi/pdf/10.1162/dmal.9780262693646.229</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/4108" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Elena Kondyli</a><br />
         7 May 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>I have done some research on Second Life and I have found an interesting article which can be found below. Some parts from the article that I think they are important are as follows:</p>
<p>&nbsp;</p>
<ul>
<li>Second Life has remarkable participation rates. Within any thirty-day period, over 66&amp; of the residents who used it created something.</li>
<li>Second Life has a nearly balanced usage by men and women, &nbsp;a median age in the early 30s, with women slightly more likely to continue using Second Life than men.</li>
<li>Second Life is a particularly good environment for learning.</li>
<li>33% of online teens share self-created media on the web and nearly 20% maintain blogs.</li>
<li>Second Life has proven so effective at displaying and communicating information that educators at all levels are choosing to expand their classrooms into the virtual world.</li>
<li>Different communities within Second Life have taken on education as well, i.e. Shock Proof, CyberOne.</li>
<li>Second Life becomes a place where people of different ages, experiences and cultures come together to collaborate, share and play =&gt; different learning and teaching opportunities =&gt; geography is not the primary determining factor in who can learn together or who can teach =&gt; affinity groups and CoP create the structures and methods needed to teach and to learn.</li>
<li>Groups of universities have joined together to create visually impressive spaces within Second Life, with classrooms and lecture areas that are immediately recognizable for those new to virtual worlds. &nbsp;these spaxes can act to extend the xlasroom by adding a holodeck to the blackboard or by allowing students to join the classroom from all over the world.</li>
</ul>
<p>&nbsp;</p>
<p>I consider the above points that I have addressed important ones while reading the article and additionally I have read about research methods like surveys which could be used in order to research specific questions which were mentioned in the article, however I did not meet new research methods. &nbsp;</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1446"></a>
			<p>I found this an interesting paper, <a href="http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141" rel="nofollow">http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141</a></p>
<p>The findings seem very positive in favour of SL as an experiential learning environment and also has several intersting references.</p>
<p>Sharon</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4055">Sharon Emmett</a>					<br /> 12:59 on  9 May 2012																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6292">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6292">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (9)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6292/links#contribute">Links (1)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6292/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by zorah abu kassim</h3>
                <div class="user-comment" id="comment-6014">
				<a name="cloud_comment-6014"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5033">zorah abu kassim</a>	                    <br />
                        9:43am 8 May 2012	                    	                    	                   						                    <a href="#comment-6014" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Elena,</p>
<p>You are quick! I have been reading a few articles on Second Life and I will post my comments as soon as I can. Just playing around and browsing with cloudworks .</p>
<p>Zorah</p>        </div>
                          <h3 class="hidden">Comment 2 by Elena Kondyli</h3>
                <div class="user-comment" id="comment-6015">
				<a name="cloud_comment-6015"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4108">Elena Kondyli</a>	                    <br />
                        6:58pm 8 May 2012	                    	                    	                   						                    <a href="#comment-6015" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hello Zorah,</p>
<p>I have just fell too much behind due to internet connection problems I had the passed 2 weeks and I was not able from work to follow up that is one reason why I am "running" a little bit. &nbsp;I do not think that it is though a completed response. I could find more articles and research papers but due to lack of time I cannot.&nbsp;</p>
<p>I would be glad to share our ideas with you all !!!</p>
<p>BW</p>
<p>Elena</p>        </div>
                          <h3 class="hidden">Comment 3 by Elena Kondyli</h3>
                <div class="user-comment" id="comment-6016">
				<a name="cloud_comment-6016"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4108">Elena Kondyli</a>	                    <br />
                        7:00pm 8 May 2012	                    	                    	                   						                    <a href="#comment-6016" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hello Zorah,</p>
<p>I have just fell too much behind due to internet connection problems I had the passed 2 weeks and I was not able from work to follow up that is one reason why I am "running" a little bit. &nbsp;I do not think that it is though a completed response. I could find more articles and research papers but due to lack of time I cannot.&nbsp;</p>
<p>I would be glad to share our ideas with you all !!!</p>
<p>BW</p>
<p>Elena</p>        </div>
                          <h3 class="hidden">Comment 4 by zorah abu kassim</h3>
                <div class="user-comment" id="comment-6017">
				<a name="cloud_comment-6017"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5033">zorah abu kassim</a>	                    <br />
                        2:44am 9 May 2012	                    	                    	                   						                    <a href="#comment-6017" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi all,</p>
<p>You may be interested to browse this website:</p>
<p>http://secondlifegrid.net/casestudies</p>
<p>Quite interesting on case studies and white papers on Second Life.</p>
<p>Zorah</p>        </div>
                          <h3 class="hidden">Comment 5 by zorah abu kassim</h3>
                <div class="user-comment" id="comment-6018">
				<a name="cloud_comment-6018"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5033">zorah abu kassim</a>	                    <br />
                        2:44am 9 May 2012	                    	                    	                   						                    <a href="#comment-6018" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi all,</p>
<p>You may be interested to browse this website:</p>
<p>http://secondlifegrid.net/casestudies</p>
<p>Quite interesting on case studies and white papers on Second Life.</p>
<p>Zorah</p>        </div>
                          <h3 class="hidden">Comment 6 by zorah abu kassim</h3>
                <div class="user-comment" id="comment-6019">
				<a name="cloud_comment-6019"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5033">zorah abu kassim</a>	                    <br />
                        2:45am 9 May 2012	                    	                    	                   						                    <a href="#comment-6019" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi all,</p>
<p>You may be interested to browse this website:</p>
<p>http://secondlifegrid.net/casestudies</p>
<p>Quite interesting on case studies and white papers on Second Life.</p>
<p>Zorah</p>        </div>
                          <h3 class="hidden">Comment 7 by Sharon Emmett</h3>
                <div class="user-comment" id="comment-6021">
				<a name="cloud_comment-6021"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4055">Sharon Emmett</a>	                    <br />
                        1:01pm 9 May 2012	                    	                    	                   						                    <a href="#comment-6021" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I found this an interesting paper</p>
<p><a href="http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141" rel="nofollow">http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141</a></p>
<p>It concludes that there are several positive outcomes to using SL as an experiential learning tool.&nbsp; It also contains a number of interesting references which might be worth following up.</p>        </div>
                          <h3 class="hidden">Comment 8 by Sharon Emmett</h3>
                <div class="user-comment" id="comment-6022">
				<a name="cloud_comment-6022"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/4055">Sharon Emmett</a>	                    <br />
                        1:02pm 9 May 2012	                    	                    	                   						                    <a href="#comment-6022" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I found this an interesting paper</p>
<p><a href="http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141" rel="nofollow">http://www.sciencedirect.com.libezproxy.open.ac.uk/science/article/pii/S0360131509000141</a></p>
<p>It concludes that there are several positive outcomes to using SL as an experiential learning tool.&nbsp; It also contains a number of interesting references which might be worth following up.</p>        </div>
                          <h3 class="hidden">Comment 9 by deirdre robson</h3>
                <div class="user-comment" id="comment-6031">
				<a name="cloud_comment-6031"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3967">deirdre robson</a>	                    <br />
                        12:53pm 15 May 2012	                    	                    	                   						                    <a href="#comment-6031" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>An interesting case study using qualitative research methods to investigate Second Life can be found on the JISC website - 'Modelling of Second Life Environments' (MOOSE) (Final report 2009). As it is a JISC study the focus is upon second life in relation to education.&nbsp;</p>
<p><a href="http://www.jisc.ac.uk/whatwedo/programmes/usersandinnovation/moose.aspx" rel="nofollow">http://www.jisc.ac.uk/whatwedo/programmes/usersandinnovation/moose.aspx</a></p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Second+Life">Second Life</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6292">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2300">What does research say about Second Life in relation to education?</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6292">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6292">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6292">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6292">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6292">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6292">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="5"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 5) </script>
	</body>
</html>
