<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Careers news... - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Careers news...</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6602">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">587 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/3131" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/3131" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Sally-Anne Barnes</a><br />
         6 November 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h2>Futuretrack Conference: The changing relationship between HE and the graduate labour market</h2>
<p>Watch online for free &ndash; Wednesday 7th November 2012&nbsp;&nbsp; &nbsp;(10.15am-4.30pm)</p>
<p><strong><em>They applied to university in 2006, and after three years of hard study the majority graduated into one of the worst recessions in history. So, what influenced their career journey and where are they now?</em></strong></p>
<p>We will be exclusively broadcasting the findings of the Futuretrack studies at our conference on 7th November and invite you and your colleagues to watch the presentations (not the round table discussion groups, sorry) online and submit your questions to the panel via Twitter. Please see the programme for the day, attached.</p>
<p><strong>What is Futuretrack?</strong></p>
<p>Futuretrack has been tracking how students develop over a six year period; it surveyed 130,000 students at the time of UCAS application in 2006, twice during their period at university and finally two years after graduating. It is the most comprehensive research of the relationship between higher education and the graduate labour market ever undertaken with unprecedented levels of data.</p>
<p>Register your interest now by emailing <a title="blocked::mailto:v.miles@prospects.ac.uk" href="mailto:v.miles@prospects.ac.uk" rel="nofollow">v.miles@prospects.ac.uk</a> &nbsp;The conference is free to view online and you can follow us at <a title="blocked::http://www.twitter.com/futuretrack2006" href="http://www.twitter.com/futuretrack2006" rel="nofollow">www.twitter.com/futuretrack2006</a></p>
<p>&nbsp;</p>
<h2><strong>Pearson/iCeGS report and schools survey</strong></h2>
<p>&nbsp;Please find below info and links about the latest report from the Pearson Think Tank and iCeGS about a project called Careers 2020.&nbsp;</p>
<p>Also find a link below to a&nbsp;<strong>survey</strong>&nbsp;Pearson is undertaking with &nbsp;schools in England to find out about how the statutory duty is being implemented by schools.</p>
<p>Please disseminate to your school networks as widely as possible so that they can get the best possible response rate. This is crucial for collecting data on what is happening in schools.</p>
<p><a href="http://thepearsonthinktank.com/research/careers-2020/" rel="nofollow">Careers 2020</a>&nbsp;is a project by the Pearson Think Tank to scope out how young people can best be supported to plan for, and progress into, their futures. The first phase of the project, conducted with the&nbsp;<a href="http://www.derby.ac.uk/icegs" rel="nofollow">International Centre for Guidance Studies at the University of Derby</a>, has produced a report &lsquo;Careers 2020 - options for future careers work in English schools&rsquo; which will be launched in November.</p>
<p>The next phase of Careers 2020 surveys educators to explore what careers activities recently took place in schools and what they are planning to do in the future. We&rsquo;re asking all those involved in school careers in England to help shape policy (and be in with a chance of winning a Kindle) by sharing their views anonymously here:&nbsp;<a href="http://www.pearsonpanel.co.uk/uc/admin/1958/" rel="nofollow">http://www.pearsonpanel.co.uk/uc/admin/1958/</a>. We encourage you to share this live survey with your networks as we hope to gather important new evidence based on a robust number of responses.</p>
<p>Any comments or queries about Careers 2020 should be directed to Louis Coiffait, Head of Research in the Pearson Think Tank at&nbsp;<a href="mailto:louis.coiffait@pearson.com" rel="nofollow">louis.coiffait@pearson.com</a>.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6602">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6602">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (1)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6602/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6602/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Morgan Cooper</h3>
                <div class="user-comment" id="comment-11769">
				<a name="cloud_comment-11769"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/10533">Morgan Cooper</a>	                    <br />
                        6:19am 6 October 2017	                    	                    	                   						                    <a href="#comment-11769" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Future track has been following how understudies make over a six year length; it considered understudies at the season of UCAS application in 2006,&nbsp;<a href="http://www.intellectsquare.com/seo-service-san-diego" rel="nofollow">San Diego SEO Services</a> twice in the midst of their period at school in the long run two years happening to graduating. It is the most entire research of the connection between cutting edge heading and the graduate work show at whatever point attempted with remarkable levels of data. A dedication of thankfulness is all together to shear this post with me I would love to isolate this lighting up post.</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6602">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6602">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6602">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6602">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6602">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6602">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6602">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="7"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 7) </script>
	</body>
</html>
