<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>template - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>template</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6623">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1373 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/6623">2 favourites</a>        </li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="https://drive.google.com/previewtemplate?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w&mode=public"  rel="nofollow">https://drive.google.com/previewtemplate?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w&mode=public</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/99" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/99" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Yishay Mor </a><br />
        14 November 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Copy the headers from this cloud to yours, or use the google doc template and embed the resulting doc in your cloud.</p>
<h3>Please do not create your project proposal as a comment on this cloud. Create it as a separete cloud, and add it to the <a href="http://prezi.com/b44jwdgvs8nl/olds-mooc-introduction/?kw=view-b44jwdgvs8nl&rc=ref-24410" target="_blank" rel="nofollow">dreambaazar cloudscape</a>.</h3>
<p><a style="color: #4374b7; margin: 0px; padding: 0px; border: 0px; font-size: 13px; text-decoration: initial; text-align: center;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/deed.en_GB" rel="nofollow"><img style="vertical-align: middle; margin: 0px; padding: 0px; line-height: 1; font-family: inherit;" src="http://i.creativecommons.org/l/by-nc-sa/2.0/uk/88x31.png" alt="Creative Commons Licence" /></a>&nbsp;This work&nbsp;by the&nbsp;<a href="http://iet.open.ac.uk" rel="nofollow">The Institute of Educational Technology (IET) at theOpen University</a>&nbsp;is licensed under a&nbsp;<a style="color: #4374b7; margin: 0px; padding: 0px; border: 0px; font-size: 13px; text-decoration: initial; text-align: center;" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/uk/deed.en_GB" rel="nofollow">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 UK: England &amp; Wales License</a>.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-2166"></a>
			<p>Cercar maneres d'acostar l'arquitectura a l'educaci&oacute; prim&agrave;ria</p>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/7346">teresa carrera</a>					<br /> 05:10 on  6 November 2014																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6623">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-2224"></a>
<div class="embed-wrap em-docs-google-com">
    <h3></h3>
  <a id="em-n0" class="em" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w"  rel="nofollow"></a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/99">Yishay Mor </a></small>

</p>
</div>
<a id="embed-2392"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>Mark Johnstone: Competency-based assessment in second language learning and teaching</h3>
  <a id="em-n1" class="em" href="https://docs.google.com/document/d/1WrcSljqhuJ8q03duVrMVmmTf7LL976uAc33svvX0TgA/edit"  rel="nofollow">Mark Johnstone: Competency-based assessment in second language learning and teaching</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5911">Mark Johnstone</a></small>

</p>
</div>


<script src="/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6623">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (4)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6623/links#contribute">Links (1)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6623/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Tony Gleeson</h3>
                <div class="user-comment" id="comment-6336">
				<a name="cloud_comment-6336"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5835" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5835">Tony Gleeson</a>	                    <br />
                        11:49pm 10 January 2013	                    	                    	                   						                    <a href="#comment-6336" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <h1 style="padding-top: 24pt; line-height: 1.15; color: #000000; font-size: 18pt; font-family: Arial; padding-bottom: 6pt; direction: ltr;">Tony Gleeson: &lt;open to suggestions or a collaboration&gt;</h1>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; direction: ltr; line-height: normal;">Tags: elearning Activity Motivation&nbsp;</p>
<h2 style="padding-top: 18pt; line-height: 1.15; color: #000000; font-size: 14pt; font-family: Arial; padding-bottom: 4pt; direction: ltr;"><a name="h.4bp4dqwnv5r" rel="nofollow"></a>Your situation (context)</h2>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<p><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="03886407239acd80d9f1b800f673b5bfe00fcb0a" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="0" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a></p>
<table style="border-collapse: collapse; font-family: arial, sans, sans-serif;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">Describe the material and social characteristics of the environment in which you operate. Where will your project take place? Who are the main actors involved? Include images, videos, sketches - anything that would help others understand the opportunities and constraints you are dealing with.</p>
</td>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">Like to work with the basics, mainly because novice users are often confronted by techno glitz and noise.</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">&nbsp;</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">I wish to work with at least one other from this MOOC on a simple project that:</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">&nbsp;</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">
<ul>
<li>motivates</li>
<li>makes activity engaging and enjoyable</li>
<li>not too hard and not too easy - a reasonable challenge</li>
<li>some peer critique</li>
<li>shared learning experience</li>
</ul>
</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; height: 11pt; direction: ltr;">&nbsp;<em>Anyone interested</em>?</p>
</td>
</tr>
</tbody>
</table>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<h2 style="padding-top: 18pt; line-height: 1.15; color: #000000; font-size: 14pt; font-family: Arial; padding-bottom: 4pt; direction: ltr;"><a name="h.px2qrfygg073" rel="nofollow"></a>The change you would like to see (challenge)</h2>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<p><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="a0ee511cfed0ee5e7b53cb5925b033954da6aeaf" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="1" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a></p>
<table style="border-collapse: collapse; font-family: arial, sans, sans-serif;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">What do you hope to achieve? What would be different if you succeed?</p>
</td>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">I am not looking at changing much - not within the next couple of months,</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">&nbsp;</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">I want to embed a templatable solution that is extensible and in a learning object format - perhaps with simple media - an mp3 or 1 mb video, but with group solutions to questions posed.</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; height: 11pt; direction: ltr;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<h2 style="padding-top: 18pt; line-height: 1.15; color: #000000; font-size: 14pt; font-family: Arial; padding-bottom: 4pt; direction: ltr;"><a name="h.g43dw92x84m" rel="nofollow"></a>How you might go about bringing that change</h2>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>
<p><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="c50be4d172a5846d7ab437f52ef1f4fea8a72ca8" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a><a style="font-family: arial, sans, sans-serif; font-size: medium; line-height: normal;" name="2" href="https://docs.google.com/document/pub?id=1S1umV2uB-9FtVia2ecmwxIyuYGzE0QllKWGgL7oJi8w" rel="nofollow"></a></p>
<table style="border-collapse: collapse; font-family: arial, sans, sans-serif;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">What is your pedagogical approach? Which technologies will you use to implement it, and how?</p>
</td>
<td style="vertical-align: top; width: 234pt; border: 1pt solid #000000; padding: 5pt;">
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;"><strong><em>learner centric</em></strong> - group solutions, peer questions and answers ...</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">&nbsp;</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;"><strong><em>simple manageable technologies </em></strong>only - nothing too wild like 3d animations, 2nd life, scenerio based software, games etc.</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">&nbsp;</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; direction: ltr;">Just a forum style so that solutions evolve via contributary, stimulating <strong>text </strong>based narritives.</p>
<p style="font-size: 11pt; margin-bottom: 0px; font-family: Arial; line-height: 1; height: 11pt; direction: ltr;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="color: #000000; font-size: 11pt; margin-bottom: 0px; font-family: Arial; height: 11pt; direction: ltr; line-height: normal;">&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 2 by Helen Walmsley-Smith</h3>
                <div class="user-comment" id="comment-6352">
				<a name="cloud_comment-6352"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/1498" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1498">Helen Walmsley-Smith</a>	                    <br />
                        9:48am 11 January 2013	                    	                    	                   						                    <a href="#comment-6352" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>The link to the google template document above does not work :(</p>        </div>
                          <h3 class="hidden">Comment 3 by Phil Langton</h3>
                <div class="user-comment" id="comment-6407">
				<a name="cloud_comment-6407"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5846" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5846">Phil Langton</a>	                    <br />
                        5:02pm 11 January 2013	                    	                    	                   						                    <a href="#comment-6407" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>As Helen says the link does not work. Copying it opens a template area but if you agree to use it then you see an error screen (can't paste in screenshot) saying there is a server error</p>
<p>&nbsp;</p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 4 by Yishay Mor </h3>
                <div class="user-comment" id="comment-6452">
				<a name="cloud_comment-6452"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/99" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/99">Yishay Mor </a>	                    <br />
                        12:22am 12 January 2013	                    	                    	                   						                    <a href="#comment-6452" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Helen, Phil - that's strange. I click and it works for me. Can you email me the screenshot? yishay dot mor at open dot ac dot uk</p>
<p>Try this:</p>
<p>
<ul>
<li>go to drive.google.com</li>
<li>click create / from template</li>
<li>search for dreambazaar</li>
</ul>
<div>let me know if it works</div>
</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6623">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2450">Dreambazaar</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2451">OLDS MOOC Week 1: Initiate</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2452">OLDS MOOC OERs</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2508">The Hitch Hiker's Cloud to OLDS</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6623">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6623">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6623">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6623">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6623">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6623">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="16"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 16) </script>
	</body>
</html>
