<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Learning Design as Key for eLearning Quality - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Learning Design as Key for eLearning Quality</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6624">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1208 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5316" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">patrizia maria margherita ghislandi</a><br />
        14 November 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p align="right"><strong>Teacher-led Inquiry and Learning Design: The Virtuous Circle</strong></p>
<p align="right"><em>A hands-on research workshop at the</em>, <em>January, 28 &ndash; February, 1st 2013</em>,&nbsp;&nbsp; <em>Villard‐de‐Lans, Vercors</em></p>
<p>&nbsp;</p>
<blockquote>
<p>Learning<em> design</em> is <em>the</em> keyword for an effective (e)Learning.</p>
</blockquote>
<p>I maturated this position after mostly 25 years in research and practical work with technology enhanced learning (videotape, videodiscs, CDs, CBT, distance learning, eLearning, etc...) and 10 years (the last 10) of researches on eLearning quality.</p>
<p>In Italy most of university teachers implementing eLearning as part of their courses have in mind a very traditional model of eLearning, based on the transmission of knowledge and on the download of (textual) documents, with a very limited use of other resources, particularly environments that allow a dialogic approach (. Therefore, it is not surprising that eLearning courses are seen by the students as second choice courses (with some appreciation, anyway, by the students that work, and that do not have time to participate to the faculty life)</p>
<p>Only with the support of instructional designers and/or with the exposition to some examples &nbsp;of "good" teaching online the teachers are able to switch to a more constructivistic teaching framework, based on student collaboration, co-construction of multimedia materials, intensive forum use.</p>
<blockquote>
<p>&nbsp;In my 25 years of educational technology work I was instructional designer and coordinator of a group of designers in two different universities in Italy (Milano and Trento), setting up in both cases an university level eLearning project.</p>
</blockquote>
<p>In both the Universities my main concern was:</p>
<ol>
<li>to prepare a group of instructional designers that could help the faculty in designing (mainly) constructivistic&nbsp; eLearning courses;</li>
<li>to promote the new possibilities offered by the educational technologies (i.e. showing&nbsp; to the different faculty professors examples of "non old-style" eLearning courses)</li>
</ol>
<p>My focus in the last 10 years has been quality of eLearning.</p>
<p>&nbsp;During 4 national level research projects (PRIN) I tried:</p>
<ol>
<li>to better understand what quality eLearning is at the different level (University, faculty, single course) and for the different stakeholders (university managers, dean, teachers, students) (P. Ghislandi, P. Calidoni, F. Falcinelli, C. Scurati, 2008). We adopted the 5 points Sloan-C model, especially concentrating in the "learning effectiveness" point </li>
<li>to build/validate/promote specific tools to help the teachers in designing &nbsp;more effective eLearning (P. Ghislandi, 2012) as key dimension of quality.</li>
</ol>
<p>&nbsp;I am now in this second phase, and I am managing (for Trento) a research that see the collaboration of Catholic University of Milan, State University of Milan Bicocca, University of Pavia, University of Verona,&nbsp; with the title: <em>Evaluation for the improvement of educational contexts. A research involving University and local communities in the participatory development of innovative assessment models.</em></p>
<blockquote>
<p>My research group about quality in eLearning include a Chinese PhD student (Nan Yang) and an Argentinian post-doc researcher (Juliana Raffaghelli). We work a lot in an eResearch basis (N. Yang, P. Ghislandi, F. Cumer, 2011)</p>
</blockquote>
<p>We are now reflecting on which qualitative research methodology&nbsp; (Partecipative Action Research?, DBR-Design Based Research?, Grounded theory?, Mixed Methods?) will be the best to reach our goals that are:</p>
<ol>
<li>promote , in a case study in our own faculty, university professors&rsquo; reflection on (e)Learning design as key dimension for preparing &nbsp;effective (students learn) courses . In order to support this reflection, we provide university teachers with tools that <em>mediate </em>the process of reflection (Ghislandi &amp; Raffaghelli, 2012) </li>
<li>involve the university professors in participatory action research (the concept id very near to what you call Teacher-led Inquiry into Student Learning (TISL) about quality Technology Enhanced Learning), as a mean to promote the expression of their <em>agency </em>as professionals of education, understanding eLearning as part of &nbsp;a context of educational shift where they are engaged (Ghislandi, Raffaghelli &amp; Yang, in press)</li>
</ol>
<p>But perhaps the most important thing is that I have always implemented what I suggested: a socio-constructivist approach to my academic courses.&nbsp;</p>
<p>I was very well impressed when I read the call for expression of interest about the <em>Workshop on Teacher-led Inquiry and Learning Design</em>, because I immediatly thought that this will be a marvelous opportunity to:<strong>&nbsp;</strong></p>
<ol>
<li>share our ideas and gain new perspectives with people that are working/researching in similar fields and <strong>&nbsp;</strong></li>
<li>learn on other approaches to support the introduction of eLearning at University Level, in general, and Learning Design as strategy to promote university teachers&rsquo; reflection on&nbsp; technological and pedagogical issues concerning the implementation of eLearning courses. &nbsp;<strong>&nbsp;</strong></li>
</ol>
<p>The aims of the workshop are really significant to me!</p>
<ol>
<li>Establish a new area of research in Education, synergizing LD and TISL, and focusing on context, practice and change</li>
<li>Network to build a new community around this research theme</li>
<li>Produce 5-6 draft papers for a special journal issue</li>
<li>Potential for new significant research grant proposals</li>
<li>Archive the work outputs from the workshop activities as a useful resource to other practitioners</li>
</ol>
<p>&nbsp;</p>
<p><strong>References</strong></p>
<p><ol>
<li>P. Ghislandi, P. Calidoni, F. Falcinelli, C. Scurati (2008)&nbsp;<em>eUniversity. a cross-case study in four Italian universities</em>.&nbsp;&ldquo;BJET-British Journal of Educational Technology&rdquo;, Vol 39 N&deg;3/2008, ISSN (versione elettronica): 1467-8535, ISSN (versione cartacea): 0007-1013, pp.443-455<a href="http://www.wiley.com/bw/journal.asp?ref=0007-1013&site=1" rel="nofollow">http://www.wiley.com/bw/journal.asp?ref=0007-1013&amp;site=1</a></li>
<li>&nbsp;N. Yang, P. Ghislandi, F. Cumer, (2011), <em>Daily ICTs use in eResearch collaboration between Italy and China,</em> in Proceedings of World Conference on<em> </em>E-Learning in Corporate, Government, Healthcare &amp; Higher Education 2011, ISBN 1-880094-90-8, Chesapeake, VA: AACE,&nbsp; pp. 2562-2568</li>
<li>&nbsp;P. Ghislandi (2012), <em>adASTRA: </em>A Rubrics&rsquo; Set for Quality eLearning Design, in Ghislandi, P. (ed.),<em> </em><em>eLearning: theories, design, software, applications</em>, InTech - Open Access Publisher, ISBN: 978-953-51-0475-9, Rijeka, Croatia, pp., 91-106.</li>
<li>&nbsp;P. Ghislandi, J.Raffaghelli (2012) La mediaci&oacute;n del proceso de Learning Design como aporte a la calidad del aprendizaje en red (The Learning Design process mediation as a support of networked learning quality). Proceeding s of Congreso Iberoamericano de Aprendizaje Mediado por la Tecnolog&iacute;a, Universidad Aut&ograve;noma de M&eacute;xico, 12-14 September 2012.</li>
<li>P.Ghislandi, J.Raffaghelli (2012a), Implementing quality eLearning in Higher Education: Change efforts, tensions and contradictions<em>. Proceedings of the Fifth Annual Edition of ICERI2012: 5th International Conference of Education, Research and Innovation</em>. Madrid (Spain) on the 19th, 20th and 21st of November, 2012</li>
<li>&nbsp;P.Ghislandi, J.Raffaghelli, N.Yang (in press), Defining eLearning Quality in Higher Education. From international frameworks to a case study in Italy</li>
</ol></p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1538"></a>
			<p>Recent Presentations</p>
<p>&nbsp;</p>
<div style="margin-bottom:5px"><strong> <a title="Participatory and Constructivistic eLearning Quality" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality" target="_blank" rel="nofollow">Participatory and Constructivistic eLearning Quality</a> </strong> from <strong><a href="http://www.slideshare.net/JulianaElisaRaffaghelli" target="_blank" rel="nofollow">Juliana Elisa Raffaghelli</a></strong></div>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a>					<br /> 17:37 on 14 November 2012																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1539"></a>
			<p>Two Recent Presentations at&nbsp;<em>Fifth Annual Edition of ICERI2012: 5th International Conference of Education, Research and Innovation</em></p>
<p><strong><a title="IMPLEMENTING QUALITY ELEARNING IN HIGHER EDUCATION: CHANGE EFFORTS, TENSIONS AND CONTRADICTIONS" href="http://www.slideshare.net/JulianaElisaRaffaghelli/ghislandi-raffaghelli-b" target="_blank" rel="nofollow">Implementing Quality eLearning in Higher Ed: Change Efforts, Tensions and Contradictions </a>&nbsp;</strong></p>
<p><strong><a title="Participatory and Constructivistic eLearning Quality" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality" target="_blank" rel="nofollow">Participatory and Constructivistic eLearning Quality</a>&nbsp;</strong><strong></strong></p>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a>					<br /> 17:43 on 14 November 2012																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1540"></a>
			<p>To recent presentations at:</p>
<p><em>Fifth Annual Edition of ICERI2012: 5th International Conference of Education, Research and Innovation</em></p>
<p><a title="ICERI-Ghislandi-Raffaghelli" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality" target="_blank" rel="nofollow"><strong>Participatory and constructivist-evaluation as part of eLearning Quality: A case study</strong></a></p>
<p><a title="ICERI-Ghislandi_Raffaghellib" href="http://www.slideshare.net/JulianaElisaRaffaghelli/ghislandi-raffaghelli-b" target="_blank" rel="nofollow"><strong>Implementing quality eLearning in Higher Education: Change efforts, tensions and contradictions<em>.</em></strong></a></p>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a>					<br /> 17:47 on 14 November 2012																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1541"></a>
			<p>Hi Patrizia!</p>
<p>To recent presentations of our group at:</p>
<p><em>Fifth Annual Edition of ICERI2012: 5th International Conference of Education, Research and Innovation</em></p>
<p><a title="ICERI-Ghislandi-Raffaghelli" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality" target="_blank" rel="nofollow"><strong>Participatory and constructivist-evaluation as part of eLearning Quality: A case study</strong></a></p>
<p><a title="ICERI-Ghislandi_Raffaghellib" href="http://www.slideshare.net/JulianaElisaRaffaghelli/ghislandi-raffaghelli-b" target="_blank" rel="nofollow"><strong>Implementing quality eLearning in Higher Education: Change efforts, tensions and contradictions<em>.</em></strong></a></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5332" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5332">Juliana Elisa Raffaghelli</a>					<br /> 17:54 on 14 November 2012																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1542"></a>
			<p>Here is part of my work with rubrics</p>
<h3><a title="eLearning-Ghislandi" href="http://www.intechopen.com/books/elearning-theories-design-software-and-applications" target="_blank" rel="nofollow">eLearning - Theories, Design, Software and Applications</a></h3>			<div class="posted-by">
										    <img src="/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a>					<br /> 18:04 on 14 November 2012																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6624">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-2226"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>Recent presentation (B) Participatory and Constructivistic eLearning Quality</h3>
  <a id="em-n0" class="em" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality"  rel="nofollow">Recent presentation (B) Participatory and Constructivistic eLearning Quality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a></small>

</p>
</div>
<a id="embed-2227"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>Recent presentation (B) Participatory and Constructivistic eLearning Quality</h3>
  <a id="em-n1" class="em" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality"  rel="nofollow">Recent presentation (B) Participatory and Constructivistic eLearning Quality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a></small>

</p>
</div>
<a id="embed-2228"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>Recent presentation (B) Participatory and Constructivistic eLearning Quality</h3>
  <a id="em-n2" class="em" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality"  rel="nofollow">Recent presentation (B) Participatory and Constructivistic eLearning Quality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a></small>

</p>
</div>
<a id="embed-2229"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>Recent presentation (B) Participatory and Constructivistic eLearning Quality</h3>
  <a id="em-n3" class="em" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality#"  rel="nofollow">Recent presentation (B) Participatory and Constructivistic eLearning Quality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a></small>

</p>
</div>
<a id="embed-2230"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>Recent presentation (B) Participatory and Constructivistic eLearning Quality</h3>
  <a id="em-n4" class="em" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality#"  rel="nofollow">Recent presentation (B) Participatory and Constructivistic eLearning Quality</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/5316">patrizia maria margherita ghislandi</a></small>

</p>
</div>


<script src="/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6624">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (1)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6624/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6624/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Juliana Elisa Raffaghelli</h3>
                <div class="user-comment" id="comment-6175">
				<a name="cloud_comment-6175"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5332" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5332">Juliana Elisa Raffaghelli</a>	                    <br />
                        5:54pm 14 November 2012	                    	                        (<small><em>Edited 5:56pm 14 November 2012</em></small>)
	                    	                    	                   						                    <a href="#comment-6175" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Patrizia!</p>
<p>Here are two recent presentations of our research group that could support your position.</p>
<p><em>Fifth Annual Edition of ICERI2012: 5th International Conference of Education, Research and Innovation</em></p>
<p><a title="ICERI-Ghislandi-Raffaghelli" href="http://www.slideshare.net/JulianaElisaRaffaghelli/participatory-and-constructivistic-elearning-quality" target="_blank" rel="nofollow"><strong>Participatory and constructivist-evaluation as part of eLearning Quality: A case study</strong></a></p>
<p><a title="ICERI-Ghislandi_Raffaghellib" href="http://www.slideshare.net/JulianaElisaRaffaghelli/ghislandi-raffaghelli-b" target="_blank" rel="nofollow"><strong>Implementing quality eLearning in Higher Education: Change efforts, tensions and contradictions<em>.</em></strong></a></p>
<p><strong>Bye,</strong></p>
<p><strong>Juliana</strong></p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/4th+Generation+Evaluation">4th Generation Evaluation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/alpine+rendezvous">alpine rendezvous</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ARV2013">ARV2013</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Design+Based+Research">Design Based Research</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/eLearning+Quality">eLearning Quality</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Higher+Education">Higher Education</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/LD">LD</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Learning+Design">Learning Design</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/TILD">TILD</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6624">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2440">Teacher-led Inquiry and Learning Design: The Virtuous Circle</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6624">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6624">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6624">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6624">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6624">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6624">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="17"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 17) </script>
	</body>
</html>
