<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>discuss: "Healthy Eating" in an e-Design Template - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>discuss: "Healthy Eating" in an e-Design Template</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6695">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">2137 views</div></li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://www.ld-grid.org/resources/learning-designs/pi-project-healthy-eating-activity/-healthy-eating-in-an-e-design-template"  rel="nofollow">http://www.ld-grid.org/resources/learning-designs/pi-project-healthy-eating-activity/-healthy-eating-in-an-e-design-template</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/99" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/99" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Yishay Mor </a><br />
         7 December 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Please use the "contribute" section below to discuss the Learning Design Grid resource&nbsp;<a href="http://www.ld-grid.org/resources/learning-designs/pi-project-healthy-eating-activity/-healthy-eating-in-an-e-design-template" rel="nofollow">"Healthy Eating" in an e-Design Template</a></p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6695">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6695">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (6)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6695/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6695/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Tom Cheek</h3>
                <div class="user-comment" id="comment-10068">
				<a name="cloud_comment-10068"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/6926">Tom Cheek</a>	                    <br />
                        1:19pm 30 March 2015	                    	                    	                   						                    <a href="#comment-10068" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>My conclusions from this case study are:</p>
<p>The table make&nbsp;it very easy to identify aspects of teaching that have and/or have not been utilised.&nbsp; For example there is no 'Self Organised Learner' activities for the entire healthy eating delivery.</p>
<p>There is lots of structured and managed activity but limited open activity.&nbsp; This&nbsp;may support a specific syllabus (such as preparing for a specific exam) but lacks the openess and broader learning experience that could be gained when reviewing a subject as debatable at healthy eating - there is lots of conflictive data out there.</p>        </div>
                          <h3 class="hidden">Comment 2 by Mandy Honeyman</h3>
                <div class="user-comment" id="comment-10078">
				<a name="cloud_comment-10078"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/2080" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/2080">Mandy Honeyman</a>	                    <br />
                        4:05pm 31 March 2015	                    	                    	                   						                    <a href="#comment-10078" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I agree Tom. I also like how easy it is to see how the lesson is chunked. There is mention of student-external activity in the paragraph following the table, it is difficult to see where this might be. I think it would be very interesting to see the final or penultimate lesson and see if any activity made it over to the self-organised learner column.</p>
<p>I do think it is early enough in the inquiry not to expect much open activity, though perhaps the case study itself might have missed an opportunity by picking such an early lesson to evaluate?</p>        </div>
                          <h3 class="hidden">Comment 3 by Adrian Pickering</h3>
                <div class="user-comment" id="comment-10086">
				<a name="cloud_comment-10086"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7650">Adrian Pickering</a>	                    <br />
                        8:47am 1 April 2015	                    	                    	                   						                    <a href="#comment-10086" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>This is solely an example of an e-Design template that could be applied to any topic. Having titled it "Healthy Eating" there are no references to&nbsp;the topics&nbsp;aims or learning outcomes.</p>
<p>I liked the headings in each of the four columns and the four stages of best practice principles for e-learning. Unfortunately in this example from week 2, only the first two columns had content in. Again, no&nbsp;detail is shown on what Video is to be shown or any detail inn the&nbsp;lines of enquiry the discussions should take.&nbsp;</p>
<p>My confusion lies in why are they using an e-Design template for a face to face and / or&nbsp;e-learning activity?</p>        </div>
                          <h3 class="hidden">Comment 4 by sarah dain</h3>
                <div class="user-comment" id="comment-10106">
				<a name="cloud_comment-10106"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7645">sarah dain</a>	                    <br />
                        11:31am 2 April 2015	                    	                    	                   						                    <a href="#comment-10106" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I think it could be useful for comparing how much of each lesson in a series is utilising the 4 categories. It could help with reflection after delivery of the syllabus, to see where more of one type or less of another may help in the whole process eg was there too much time spent on tutor led closed activities and could this be changed to&nbsp; a task where students manage their own learning.&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 5 by Louise Worsley</h3>
                <div class="user-comment" id="comment-10134">
				<a name="cloud_comment-10134"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7385">Louise Worsley</a>	                    <br />
                        7:44pm 6 April 2015	                    	                    	                   						                    <a href="#comment-10134" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Like Adrian - I am slightly concerned that the approach seems to make no references to the aims. &nbsp;It claims this can be used for face-to-face and online environments. &nbsp;I think it can - but it asumes tha aim is 'deep learning' and I'm not sure that is a real goal of the "healthy eating scenario".</p>        </div>
                          <h3 class="hidden">Comment 6 by Wayne Gibbons</h3>
                <div class="user-comment" id="comment-10196">
				<a name="cloud_comment-10196"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/7651">Wayne Gibbons</a>	                    <br />
                        3:12pm 15 April 2015	                    	                    	                   						                    <a href="#comment-10196" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I like the graphic used to explain this approach. I'm not sure, however, that it can be applied to every single scenario: surely something as specific as a healthy eating programme will not need much by way of self-directed learning? I would have thought that on such a course, the teacher-led activities should cover the entire course content without having to employ self-directed learning. I think that as a model it could be used for face to face as well as online, certainly for scenarios that I personally work wtihin (lecturing on year-long modules as part of Higher Education degrees)</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6695">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2466">Learning Design Grid</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6695">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6695">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6695">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6695">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6695">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6695">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="2"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 2) </script>
	</body>
</html>
