<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Towards a principled approach to evaluating learning design tools - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Towards a principled approach to evaluating learning design tools</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6700">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">908 views</div></li>
        </ul>
</div>                
                    <p>Chapter for Section 1 of the Art and Science of Learning Design</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/985" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/985" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Liz Masterman</a><br />
         8 December 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>A revised draft of this chapter is now available for review: <a title="Revised draft of Liz's chapter" href="https://weblearn.ox.ac.uk/access/content/user/5739/Liz Masterman - Revised - Evaluating Learning Design Tools.docx" target="_blank" rel="nofollow">download</a> it from my workspace in our insitutional VLE.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6700">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6700">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (3)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6700/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6700/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Tom Nyvang</h3>
                <div class="user-comment" id="comment-6221">
				<a name="cloud_comment-6221"></a>

                <div class="posted-by">
                                            <img src="/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5564">Tom Nyvang</a>	                    <br />
                        2:49pm 30 December 2012	                    	                    	                   						                    <a href="#comment-6221" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>First of all I would like to stress that this chapter is an important contribution to the book. At the same time it is on a complicated mission &ndash; developing approaches to evaluating learning design tools while the tools themselves are still under development.</p>
<p>I would, however, like to comments on two issues in the chapter that could benefit from clarification and discussion.</p>
<ol>
<li>Subject matters? I wonder to which extent the patterns you identify in your interview-data all are patterns across data from different lecturers, different subject matter experts talking or a mix of the two? What I mean by experts is the lecturer in educational development talking about the needs of students and design communities (as we would more or less expect based on the professional background) and the humanities lecturer that is part of a discipline body and here used to argue for development of personal professional knowledge (as we would expect from someone that appears to take part in setting professional standards). I don&rsquo;t know your data, so I am not sure what the impact of these reflections would be, but I wonder if you are identifying lecturer personas meaning that the 5 behaviors represent 5 different lecturer profiles and approaches to learning design or in fact 5&nbsp; behaviors ideally being part of all learning design? </li>
<li>Evaluating the process rather than the tool itself? Seems to be a fair conclusion, but where does that leave us? Can we only evaluate learning design tools in use or do we have something to say about the tool itself, so that the worst tool errors can be removed before trial? And does the fact that learning design tools can best be evaluated as part of a learning design process suggest that learning design tools should deal (more) with the design process since impacting the process appears to be what really matters? </li>
</ol>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 2 by Simos Retalis</h3>
                <div class="user-comment" id="comment-8886">
				<a name="cloud_comment-8886"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/2349" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/2349">Simos Retalis</a>	                    <br />
                        5:42pm 16 June 2013	                    	                    	                   						                    <a href="#comment-8886" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>This is an interesting chapter which can add value to the book. It proposes a new way of looking at the way of evaluating the effectiveness of learning design tools. The authors propose a new theory-informed evaluation framework of such tools which gives emphasis on the influence of the tools on teachers&rsquo; design practice.</p>
<p>The authors need to clarify some things such as:</p>
<p>1. They should mention all the other evaluation frameworks-approaches of LD tools so that they give an overview of this topic.</p>
<p>2. The authors should not make any references to learners and the way of evaluating the impact of tools on learning. The target audience of this work is teachers. So any reference to learners can only create some fuzziness because one could easily argue that the effectiveness of a LD tool on practice (with or without a tool) is reflected to the outcomes of the learning process which has been designed using that tool. Of course, this is not a valid argument per se and the authors correctly do not address this issue. However, they should not make any references to learners&rsquo; outcomes unless they have other ideas that have not been clearly presented.</p>
<p>3. The framework is not clearly presented as is. It is presented via the case study but not at an abstract level. Perhaps there should be a separate section</p>
<p>4. Since this study had some limitations, the final section with concluding remarks should contain the overview of the pros and cons of the framework and whether it is easy to apply it in other cases of LD tools. Can it be used in addition to existing evaluation frameworks which focus on the usability of the LD tools?</p>
<p>This chapter is nice and should be included in the book given that some changes will be made.</p>        </div>
                          <h3 class="hidden">Comment 3 by Liz Masterman</h3>
                <div class="user-comment" id="comment-8896">
				<a name="cloud_comment-8896"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/985" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/985">Liz Masterman</a>	                    <br />
                        11:24am 27 August 2013	                    	                    	                   						                    <a href="#comment-8896" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hello Tom and Simos,</p>
<p>Thank you both for your very constructive comments. As you will see from the following notes, I haven&rsquo;t agreed with all of them, in acting on most of them I have made changes which I believe have considerably improved the chapter.</p>
<h3>Tom</h3>
<p><em>T1.1 &hellip;patterns across data from different lecturers, different subject matter experts talking or a mix of the two?</em></p>
<p>&gt;&gt; These patterns are intended to be present in all teachers (whether subject lecturers or staff developers). To make this clearer, I have reversed paras 2 and 3 of the &lsquo;Evidence&rsquo; section, so that the broader literature on which the i/vs were based is presented first.</p>
<p><em>T1.2 &hellip; I wonder if you are identifying lecturer personas meaning that the 5 behaviors represent 5 different lecturer profiles and approaches to learning design or in fact 5&nbsp; behaviors ideally being part of all learning design?</em></p>
<p>&gt;&gt; The latter. As the quotations show, one person can exhibit multiple behaviours (and the converse), so the concept of &lsquo;persona&rsquo; does not apply here. I have inserted an appropriate clarification in para 4 of the &lsquo;Evidence&rsquo; section.</p>
<p><em>T2.1 Can we only evaluate learning design tools in use or do we have something to say about the tool itself, so that the worst tool errors can be removed before trial? </em></p>
<p>&gt;&gt; My omission. Evaluation for usability has to precede evaluation for effectiveness. I have inserted a brief section after the Introduction, which also refers to evaluations of other LD tools (responding to S1 and S4.2 below).</p>
<p><em>T2.2 Does the fact that learning design tools can best be evaluated as part of a learning design process suggest that learning design tools should deal (more) with the design process since impacting the process appears to be what really matters? </em></p>
<p>&gt;&gt; I&rsquo;m not sure that I fully understand this question: usability &amp; learnability evaluations aside, to me an LD tool can only realistically be evaluated within the context of the activity/process which it has been designed to support. Moreover, I&rsquo;m not sure what a design tool deals with if not the design process. No action taken.</p>
<h3>Simos</h3>
<p><em>S1. mention all the other evaluation frameworks-approaches of LD tools</em></p>
<p>&gt;&gt; See T2.1 above.</p>
<p><em>S2. The authors should not make any references to learners and the way of evaluating the impact of tools on learning. </em></p>
<p>&gt;&gt; This is a problematic area. It&rsquo;s much easier to cut off the LD process at the end of the &lsquo;instantiating/setting up&rsquo; phase of the LD cycle, because of all the other factors that come into play during the &lsquo;implementation&rsquo; phase with students. However, TEL tools &ndash; whether LD tools for teachers or (cognitive) tools for learners &ndash; are ultimately judged by whether they improve learning outcomes: universities are reluctant to invest money in tools unless the tools demonstrate that students&rsquo; performance will improve as a result. This poses a particular challenge to LD tools: how do they demonstrate their effectiveness in the face of such restricted criteria? And this places a burden on the researcher-designers of such tools: how, ultimately, do we evaluate them? I don&rsquo;t try to answer that question in this chapter (and can&rsquo;t do so at this stage), but maybe I should have done.</p>
<p>&gt;&gt; In the meantime, to return to your statement that I shouldn&rsquo;t make any references to learners. In fact, I mention student performance in 4 places only, 3 of which are in contexts where I make it clear that this can&rsquo;t be a factor in evaluating the effectiveness of LD tools. I have reduced the number of mentions, but I think it inadvisable to remove them all.</p>
<p><em>S3. The framework is not clearly presented as is.</em></p>
<p>&gt;&gt; Point taken. I have inserted some introductory material about the HEA framework in para 3 of the &lsquo;Methodology&rsquo; section and expanded my commentary on its application to the LDer in the next para.</p>
<p><em>S4.1 overview of the pros and cons of the framework and whether it is easy to apply it in other cases of LD tools. </em></p>
<p>&gt;&gt; We didn&rsquo;t have the time to explore the pros and cons of the framework; also, the purpose of the paper was not to put forward the framework as an exemplar for other LD tools development projects to adopt, but to argue the case that they should move on from usability/usefulness evaluations and turn their attention to evaluating the effectiveness of the tools, adopting a theory-informed approach for the purpose. I have amended the Conclusion slightly to emphasise this.</p>
<p><em>S4.2 &hellip;existing evaluation frameworks which focus on the usability of the LD tools.</em></p>
<p>&gt;&gt; See T2.1 above.</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6700">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2444">ASLD Book - section 1: Practices, Methods and Methodologies</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6700">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6700">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6700">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6700">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6700">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6700">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="1"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 1) </script>
	</body>
</html>
