<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Adam Warren - OLDS-MOOC Learning Journal 2 - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Adam Warren - OLDS-MOOC Learning Journal 2</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6851">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1398 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/5388" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5388" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Adam Warren</a><br />
        10 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>A second attempt.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6851">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6851">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (11)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6851/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/6851/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Adam Warren</h3>
                <div class="user-comment" id="comment-6296">
				<a name="cloud_comment-6296"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        1:42pm 10 January 2013	                    	                        (<small><em>Edited 1:42pm 10 January 2013</em></small>)
	                    	                    	                   						                    <a href="#comment-6296" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>This is 'Learning Journal 2' because my first cloud was "sent for moderation". WTF? Here I am, all fired up and ready to start my journal and Cloudworks decides to slam on the brakes, even though I am logged in. Just as well that I am not easily put off...</p>
<p>I am senior learning designer in the Centre for Innovation in Technologies and education (CITE) at the University of Southampton, UK. I've been working in the field of 'computer assisted learning' (how old-fashioned that CAL acronym sounds now, compared to technology-enhanced learning TEL) for over 20 years, so I have a good historical perspective on all this. This is my fourth MOOC; I bounced off the second-ever one run by George Siemens and Stephen Downes, but completed ones by Curtis Bonk (Coursesites) and Jonathan Tomkin (Coursera) last year.</p>
<p>At the moment, my concern is over the apparently complex design of this MOOC and the demanding (daily!) schedule of activities. Will real life enable me to cope and engage with this as I might wish? That said, I really like the idea of a project-based MOOC and look forward to working with my CITE colleagues on designing and developing a learning activity/resource.</p>        </div>
                          <h3 class="hidden">Comment 2 by Adam Warren</h3>
                <div class="user-comment" id="comment-6297">
				<a name="cloud_comment-6297"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        1:48pm 10 January 2013	                    	                    	                   						                    <a href="#comment-6297" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Personal objectives for the week:</p>
<ul>
<li>Get my head around Cloudscapes</li>
<li>Liaise with work colleagues to form team (maybe)</li>
<li>Dream up a possible project</li>
<li>Join a study circle</li>
</ul>        </div>
                          <h3 class="hidden">Comment 3 by Lindsay Jordan</h3>
                <div class="user-comment" id="comment-6355">
				<a name="cloud_comment-6355"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/1663" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1663">Lindsay Jordan</a>	                    <br />
                        10:00am 11 January 2013	                    	                    	                   						                    <a href="#comment-6355" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Adam - just a note to say that looking at your Cloud has been useful... in a way... I can't figure out whether our journal entries are supposed to be:</p>
<p>
<ul>
<li>individual clouds within our Cloudscape</li>
<li>items of 'Content' within a Journal cloud</li>
<li>'contributions' (i.e. like this one) to a Journal cloud</li>
</ul>
<div>At this point, things look clearest the way you've done it here, but I can imagine that might start looking less organised as the course goes on. I'm used to journalling through a blog, and using tags and categories to organise posts, and having discussion threads around each post. To me, it would seem to make more sense so have journal entries - or weeks - as individual clouds within our Cloudscape. But that's not what they've asked us to do either :-)</div>
<div></div>
<div>Ah, blessed confusion... through challenge comes learning!!</div>
</p>        </div>
                          <h3 class="hidden">Comment 4 by Adam Warren</h3>
                <div class="user-comment" id="comment-6365">
				<a name="cloud_comment-6365"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        11:08am 11 January 2013	                    	                        (<small><em>Edited 11:09am 11 January 2013</em></small>)
	                    	                    	                   						                    <a href="#comment-6365" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Lindsay. I agree that this approach might get increasingly less useful as the course progresses - for example I note that the newest posts are at the bottom rather than the top (as in a blog) so I'll be scrolling further and further as time goes on. I'll miss the tagging and categories of WordPress as well.</p>
<p>In fact, on reflection, although I thought I'd try using Cloudworks for this journal, I'll probably jump ship and set up a WordPress blog. This just isn't the right tool for the job.</p>
<p>[Edit] and the fact that I can't reply to your comment, and that your comment appears 'at the same level' as my own posts just reinforces this view.</p>
<p>If you'd feel happier creating one cloud per week for your journal, go right ahead. There is no right or wrong way to approach this - just ones that work for you.</p>        </div>
                          <h3 class="hidden">Comment 5 by Elizabeth Kate Switaj</h3>
                <div class="user-comment" id="comment-6396">
				<a name="cloud_comment-6396"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5460" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5460">Elizabeth Kate Switaj</a>	                    <br />
                        3:04pm 11 January 2013	                    	                    	                   						                    <a href="#comment-6396" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>The Cloudscape I set up to be my portfolio was also sent to moderation! (But it was very quickly OKed.)</p>        </div>
                          <h3 class="hidden">Comment 6 by Heather Peters</h3>
                <div class="user-comment" id="comment-6432">
				<a name="cloud_comment-6432"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5916" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5916">Heather Peters</a>	                    <br />
                        10:47pm 11 January 2013	                    	                        (<small><em>Edited 10:50pm 11 January 2013</em></small>)
	                    	                    	                   						                    <a href="#comment-6432" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I had to laugh. I tried to engage colleagues in a debate that maybe distance learning is a rather outdated concept/label (brings up images in my head of postage stamps, envelopes and lonely individuals toiling away at home with nobody to engage with) and suggested what we really do is&nbsp;technology-enhanced learning ... and essentially got 'laughed out of the room' (politely of course) for being old-fashioned.</p>
<p>Just how does one set up a study circle anyways?</p>
<p>WTF indeed. :)</p>
<p>&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 7 by Heather Peters</h3>
                <div class="user-comment" id="comment-6438">
				<a name="cloud_comment-6438"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5916" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5916">Heather Peters</a>	                    <br />
                        11:18pm 11 January 2013	                    	                    	                   						                    <a href="#comment-6438" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>ARRRGH!!! I set up a cloud and tried to add content and then to start a discussion reflecting on my experience so far and both are being moderated. I am so confused as I thought the cloud was meant to be 'our space'. I'm hoping the time difference does not mean that there will end up being a big delay between trying to add to my learning journal and actually seeing the words appear.&nbsp;</p>
<p>And why is it that I'm being moderated in my cloud but not in yours...more things to ponder.</p>        </div>
                          <h3 class="hidden">Comment 8 by Mikhail Maus</h3>
                <div class="user-comment" id="comment-6653">
				<a name="cloud_comment-6653"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5544" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5544">Mikhail Maus</a>	                    <br />
                        4:04pm 13 January 2013	                    	                    	                   						                    <a href="#comment-6653" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>My cloud was sent for moderation, which was really depressing when starting a new course.&nbsp; Has anyone managed to find anyone else trying to do teaching and learning about stress? Or risk assessment? My search has revealed precisely no one so far. Any one any ideas?</p>        </div>
                          <h3 class="hidden">Comment 9 by Adam Warren</h3>
                <div class="user-comment" id="comment-6833">
				<a name="cloud_comment-6833"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        11:32am 14 January 2013	                    	                    	                   						                    <a href="#comment-6833" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I've moved my journal to WordPress. Latest post (in the form of a narrative dream) is</p>
<p><a title="Permalink to Little Nemo’s adventures in the Bazaar of Dreams" rel="bookmark" href="http://connectology.wordpress.com/2013/01/13/little-nemos-adventures-in-the-bazaar-of-dreams/" rel="nofollow">Little Nemo&rsquo;s adventures in the Bazaar of&nbsp;Dreams</a></p>        </div>
                          <h3 class="hidden">Comment 10 by Adam Warren</h3>
                <div class="user-comment" id="comment-7218">
				<a name="cloud_comment-7218"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        12:21pm 16 January 2013	                    	                    	                   						                    <a href="#comment-7218" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Blog post with reflections on week 1:</p>
<p><a title="Permalink to So, how’s this new mook going?" rel="bookmark" href="http://connectology.wordpress.com/2013/01/15/new_mook/" rel="nofollow">So, how&rsquo;s this new mook&nbsp;going?</a></p>        </div>
                          <h3 class="hidden">Comment 11 by Adam Warren</h3>
                <div class="user-comment" id="comment-7573">
				<a name="cloud_comment-7573"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5388" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5388">Adam Warren</a>	                    <br />
                        8:50pm 19 January 2013	                    	                    	                   						                    <a href="#comment-7573" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Final blog post explaining why I have decided to withdraw from the mooc:</p>
<p><a title="Permalink to Snowed under…" rel="bookmark" href="http://connectology.wordpress.com/2013/01/19/snowed-under/" rel="nofollow">Snowed&nbsp;under&hellip;</a></p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6851">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2560">Adam Warren - OLDS-MOOC Portfolio</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2449">Introduce yourself!</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2787">OLDS MOOC: Reflect</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6851">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6851">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6851">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6851">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6851">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6851">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="3"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 3) </script>
	</body>
</html>
