<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Ida Rodgers' Activity Dream Cloud: A Template for a Course Glossary Self-Study Tool - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Ida Rodgers' Activity Dream Cloud: A Template for a Course Glossary Self-Study Tool</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/7622">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">604 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/6010" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6010" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Ida L. Rodgers, Ph.D.</a><br />
        19 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>I have to make a decision, so for the moment I will throw out for consideration one of my activity dreams: &nbsp;To create a template that I could use for different courses where in students need to become familiar with the langage of the subject. I want the glossary self-study tool to provide students with a study pathway that is loose enough that they can make choices about what to do and in what order, a group of short activities that require the students to see different points-of-view about the term being studied, and a quiz with immediate feedback when they have completed the self-study activities for a set of terms (probably 10). The template should include a way for each student to have an account that tracks their progress through all the sets of glossary terms and provides them with a certificate of completion (badge, whatever--just something that they can take away with them) when they learn to correctly use the terms.&nbsp;</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1841"></a>
			<h3 align="LEFT">Activity Cloud: My Dream: A template for a glossary self-study activity</h3>
<p align="LEFT">&nbsp;<strong style="line-height: 1.5em;">My situation (context)</strong></p>
<p align="LEFT">The courses I teach (editing, research, and technical writing) involve learning to use the language of the subjects, and I have not been thrilled by the online quizzes provided by the textbook authors. These online quizzes seem dry, boring, and the result of passing the task of building chapter quizzes to graduate teaching assistants rather than a professional evaluators work.</p>
<p align="LEFT">I want to build a self-study glossary program that I can use to create glossaries for different courses, test, and revise over time&nbsp;</p>
<p align="LEFT"><strong>The change I would like to see (challenge)</strong></p>
<p align="LEFT">The challenges I face include the fact that I don't do computer programming, so I must rely on something that already exists. Several programs that would work do exist, so I guess one of my first steps is to create a criteria for selecting which program to use and next to review those programs.</p>
<p align="LEFT">The change would like to see is the creation of a template that can be easily adapted by myself and others for creating self-study glossary tutorials and quizzes that are effective in terms of teaching students the terminology of the course they are taking.</p>
<p align="LEFT"><strong>How you might go about bringing that change</strong></p>
<p align="LEFT">I think what I need most is input from other online teachers:</p>
<ul>
<li>How do you teach the terminology for your subject matter?\</li>
<li>What works?</li>
<li>What does not work?</li>
<li>How do you make it fun and interesting?</li>
<li>How do you evaluate the learning?</li>
<li>How do you evaluate the activities?</li>
</ul>
<p align="LEFT">&nbsp;Please feel free to share your thoughts in the discussion section.&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/6010" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/6010">Ida L. Rodgers, Ph.D.</a>					<br /> 18:19 on 19 January 2013																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7622">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/7622">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (1)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/7622/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/7622/references#contribute">Academic References (2)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Ida L. Rodgers, Ph.D.</h3>
                <div class="user-comment" id="comment-7563">
				<a name="cloud_comment-7563"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/6010" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/6010">Ida L. Rodgers, Ph.D.</a>	                    <br />
                        6:04pm 19 January 2013	                    	                    	                   						                    <a href="#comment-7563" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I invite you to contribute your thoughts, experiences, and resources for the creation of a template or just the creation of one glossary self-learning activity. For example, one of the courses I teach is research methods in communication studies, and the glossary for the course is quite lengthy. Knowledge of some of those glossary terms are needed in the Senior Capstone class that I also teach. I would like to have a self-study glossary activitiy that I could use in both classes. Glossaries for other classes include two editing classes, technical writing, and business writing.&nbsp;</p>
<p>I wonder what folks teaching other classes see as useful for their students in terms of building self-study activities that provide students with automated feedback.&nbsp;</p>
<p>Your thoughts?&nbsp;</p>
<p>Ida</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7622">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/7622">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7622">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7622">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/7622">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7622">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/7622">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
