<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Week 2 Learning - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Week 2 Learning</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/7629">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">670 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/5850" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5850" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Chris Basson</a><br />
        19 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>I am exhausted! The learning is wonderful but extremely taxing. I have made a lot of notes on Evernote as I worked my way through the study material. There are constantly opening worlds for me with each article I read and each assignment I do.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7629">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/7629">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (4)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/7629/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/7629/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Alice （Xin） Huang</h3>
                <div class="user-comment" id="comment-7742">
				<a name="cloud_comment-7742"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5833" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5833">Alice （Xin） Huang</a>	                    <br />
                        9:57am 22 January 2013	                    	                    	                   						                    <a href="#comment-7742" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>I am using evernote as well! Same here, a bit exhausted, I was seriously thinking of quitting, until I saw the scenario you put together for our project! So thank you for keep me going!&nbsp;</p>
<p>Cheers,</p>
<p>Alice</p>        </div>
                          <h3 class="hidden">Comment 2 by Chris Basson</h3>
                <div class="user-comment" id="comment-7902">
				<a name="cloud_comment-7902"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5850" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5850">Chris Basson</a>	                    <br />
                        11:07am 24 January 2013	                    	                    	                   						                    <a href="#comment-7902" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p style="font: 12px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0px 0px 1.5em; padding: 0px; color: #444444; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">I have learned that the personas are a very valuable tool in getting a feel for the target audience. It is quite hard to develop a persona that can be tested in reality. My initial thoughts on personas was very scientific, describing a set of characteristics or variables but with guidance I realized that a person is more than this. It needs a lot of context to be an effective persona.</p>
<p style="font: 12px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0px 0px 1.5em; padding: 0px; color: #444444; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">If I have to go through the reading there are a number of&nbsp;of things that stood out for me:</p>
<p style="font: 12px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0px 0px 1.5em; padding: 0px; color: #444444; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">1) The context differs not only from prospective but also by theoretical approach. When I thought of context I immediately taught about it from a poistivist perspective. Learning the difference from a phenomenological perspective was a wonderful but challenging insight.</p>
<p style="font: 12px/18px 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0px 0px 1.5em; padding: 0px; color: #444444; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">2) I learned a lot about learner centred learning where:</p>
<ul>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">Responsibility is shared between the learner and teacher</div>
</li>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">&nbsp; &nbsp; &nbsp;Students develop learning skills for further learning</div>
</li>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">&nbsp; &nbsp; &nbsp;Students become self-directed lifelong learners</div>
</li>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">&nbsp; &nbsp; &nbsp;Students can assess their own learning</div>
</li>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">&nbsp; &nbsp; &nbsp;Students become proficient in assessment of own strengths and weaknesses</div>
</li>
<li>
<div style="font: 11px/17px Tahoma; color: #000000; text-transform: none; text-indent: 0px; letter-spacing: normal; word-spacing: 0px; white-space: normal; orphans: 2; widows: 2; font-size-adjust: none; font-stretch: normal; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;">&nbsp; &nbsp; &nbsp;Students become proficient in all information literacy skills</div>
</li>
</ul>
<p>3. My learning also went outside of the designed curriculum learning about the 5 essential literacies.</p>
<ul>
<li>Attention</li>
<li>Participation</li>
<li>Collaboration</li>
<li>Critical consumption</li>
<li>Network awareness</li>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>        </div>
                          <h3 class="hidden">Comment 3 by Joshua Underwood</h3>
                <div class="user-comment" id="comment-8041">
				<a name="cloud_comment-8041"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/1549" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/1549">Joshua Underwood</a>	                    <br />
                        10:01am 28 January 2013	                    	                    	                   						                    <a href="#comment-8041" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Hi Chris, great to see your reflections and summary on learner-centred learning and 5 essential literacies - they look very useful. I'm going to start working on mine :-)</p>        </div>
                          <h3 class="hidden">Comment 4 by Penny Bentley</h3>
                <div class="user-comment" id="comment-8266">
				<a name="cloud_comment-8266"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/5431" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5431">Penny Bentley</a>	                    <br />
                        11:12pm 6 February 2013	                    	                    	                   						                    <a href="#comment-8266" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   Alice, me too...I'm a bit dishevelled trying to keep up in a different time zone here in Oz. Where are you?

My Evernote folders are filling up with notes, my Diigo reading list will keep me busy for months and my "Paper" app journals/scribbles are on the increase. I've even taken to making audio notes in Evernote when I'm hit with an idea in random places, such as the supermarket. Thoroughly enjoying my mobile #oldsmooc.

Chris thanks for "putting pen to paper" with your thoughts. I'm beginning to realise that so much of what I'm doing in #oldsmooc is trying to articulate how I've "done" 25 yrs in the secondary classroom. Deeply probing/reflecting on "regardless of content..in my maths, science, chemistry classes...how did I DO the teaching? What worked best, what was a flop, why, what are my peers doing in their classrooms, why do kids sit still with teacher x but run a muck with teacher y? 

Penny        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7629">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2808">Chris Basson's Cloudscape</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/7629">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7629">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7629">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/7629">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7629">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/7629">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
