<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Julie's Learning Journal ... in the right place, just maybe! - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Julie's Learning Journal ... in the right place, just maybe!</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/7672">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">730 views</div></li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://cloudworks.ac.uk/user/view/5571"  rel="nofollow">http://cloudworks.ac.uk/user/view/5571</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5571" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Julie Pisano</a><br />
        21 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Week 2</p>
<p>Another interesting week in the OLDS MOOC ... working on the activities has provided some excellent 'food for thought' as I produce a plan for my corporate training for "Convening and providing support for meetings".</p>
<p>I'm wondering if this is a combined one program to address all 'meeting' functions or if it does need to be broken down into different areas/levels of the program - meeting support (agendas and minute taking), being a chairperson (dealing with difficult situations and bring meetings to resolutions and decisions) and participating in meetings (appropriate behaviours, what if it gets out of hand). &nbsp;This is being considered because of the work I have done exploring scenarios, personas and EoR.</p>
<p>Excellent YouTube's showing how personas were used to develop this MOOC ... this really assisted my thinking.</p>
<p>Now, if I can only work out where I'm supposed to post my responses to the right spot!</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7672">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/7672">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (6)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/7672/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/7672/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Julie Pisano</h3>
                <div class="user-comment" id="comment-7890">
				<a name="cloud_comment-7890"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        1:11am 24 January 2013	                    	                        (<small><em>Edited 1:12am 12 March 2013</em></small>)
	                    	                    	                   						                    <a href="#comment-7890" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 2 &ndash; 23<sup>rd</sup> January, 2013</p>
<p>&nbsp;Objectives for Week 2</p>
<ul>
<li>Expand understanding of context and how it applies to project</li>
<li>Consider alternative learning activities that already identified.</li>
<li>Ask self:&nbsp; why did you do it this way?&nbsp; What other options are available and why don&rsquo;t you want to use these?</li>
</ul>
<p>&nbsp;At the end of Week 2 &hellip; have I achieved my objectives for this week.</p>
<p>&nbsp;Well looking back on this week&rsquo;s learning there are a number of things that are standout&rsquo;s for me:</p>
<ul>
<li>Understanding context and how it applies to my project
<ul>
<li>I&rsquo;ve worked up several personas for the project based on my assumptions of the types of learners that will participant in the program.&nbsp; I want to check these assumptions by having some discussions with those learners who are on the &lsquo;wait list&rsquo; for the face-to-face course to engage with the learners and consider their needs/expectations/limitations in the program &hellip; check with my boss to do this</li>
<li>I&rsquo;ve also used scenarios to consider how learners may engage with the content and how they may go about the learning in their work environment</li>
<li>I&rsquo;ve also used the ecology of resources to consider how learners can use tools in the workplace to engage with learning (online program, google, actual meetings) and more able partners (peers, supervisors) and how these resources can be utilised in the learning and the filters and barriers to learning (motivation, workload/time commitment, existing knowledge and prior experiences)</li>
<li>In the process of this I have identified some design solutions, but I&rsquo;m waiting to build on these in future weeks.</li>
</ul>
</li>
</ul>
<p>This week I&rsquo;m feeling more confident in the approach being used in the MOOC and have worked out where to post information on Cloudworks &hellip; although still a bit of a lurker, I&rsquo;ve joined a Learning Group and have read a number of other participants work/activities.&nbsp; This has been very useful to my thinking about the project and the ideas presented.</p>
<p>&nbsp;I found a great article about Ecology of Resources that wasn&rsquo;t included in the readings.</p>
<p>&nbsp;I have also found the Convergence/end of week videos a great way to cement and clarify my thinking &hellip; even with a focus on online learning hearing an explanation is valuable &hellip;. Mmm</p>
<p>&nbsp;Have I achieved all my objectives for the week ... no... but I've learnt a lot about context that I didn't realise I didn't know and certainly am thinking more about this.&nbsp; Although I have recognised that in previous learning designs, I did consider context but didn't know the language for what I was doing or have an approach/s to explore context in a guided way.</p>
<p>OK &hellip; I&rsquo;m&nbsp; ready ?? for next week!</p>
<p>Additional information 12/3/13</p>
<p>Persona examples developed:</p>
<p>Alison: New to chairing meetings, Wants to do a good job, Excited by new opportunity but nervous about how chairperson can be treated by meeting attendees.&nbsp; Chair meetings in professional manner to achieve outcomes in a timely manner.&nbsp; Manage any difficult behaviours and achieve agreement.</p>
<p>Jenny:&nbsp; New to meeting preparation and minutes, Wants to do a good job, Excited by new opportunity but nervous about ability to achieve.&nbsp; Arrange meeting and document minutes in timely way with no reason for backlash.</p>
<p>Which was then summarised into:</p>
<p>Never prepared meeting arrangements, Never prepared meeting agenda,Never taken minutes, Has prepared for meeting/ agenda in different organisation/ purpose ie informal - formal, Taken minutes for informal &ndash; needs to move into formal or visa versa</p>
<p>New Chairperson, Chairperson with difficult participants/ not achieving outcome/ difficulties, Meeting participant needs to develop confidence/ be assertive/ manage anger &ndash; frustration, Meeting participant needs to present argument/ point of view appropriately/ build support</p>
<p>These personas have since been tested on a group of potential participants and found to be reflective of this group ... very useful activity for me to develop the course keeping these personas in mind.</p>
<p>By completing the Ecology of Resources activity I have identified the following considerations for the course:</p>
<p>Is it still three separate courses of one course made up of numerous levels?&nbsp;&nbsp;Easy to identify what I know/don&rsquo;t know &ndash; quiz? Branching?&nbsp;&nbsp;Engaging, interactive&nbsp;&nbsp;How to build community and engagement with other learners?&nbsp;&nbsp;Using Moodle &ndash; tips, etc&nbsp;Short/long route&nbsp;&nbsp;How to support with &lsquo;real&rsquo; workplace activities?&nbsp;</p>
<p>Promote course via website/ newsletter&nbsp;&nbsp;Pilot &ndash; promote online learning experience</p>
<p>Source materials from wide range &ndash; additional resources for long route</p>
<p>Who will these be where relationships are strained?&nbsp; Option to include video examples&nbsp; WIIFM</p>        </div>
                          <h3 class="hidden">Comment 2 by Julie Pisano</h3>
                <div class="user-comment" id="comment-8212">
				<a name="cloud_comment-8212"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        11:15pm 3 February 2013	                    	                    	                   						                    <a href="#comment-8212" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 3 &ndash; 30<sup>th</sup> January, 2013</p>
<p>&nbsp;This week started with the &ldquo;Course Features Cards&rdquo; and reviewed the &ldquo;Meetings &ndash; roles &amp; responsibilities&rdquo; (course title under development!!) and found the following:</p>
<ol>
<li>&nbsp;Online &ndash; this program is a conversion of several face-to-face short training sessions into a 100% online program.&nbsp; Having considered creating 3 separate online courses to cover the three face-to-face sessions, I will now create one online course incorporating all so participants can come back to the course as they take on different meeting roles and they will be able to explore other aspects while they are there.</li>
<li>Individual or personalised experience and Student autonomy &ndash; this program will be developed and offered on a &ldquo;create your own learning experience&rdquo; &hellip; do as much or as little of this program as you like.&nbsp; There are no assessments requirements for this program.&nbsp; It is a workplace based learning program providing just-in-time learning opportunities.&nbsp; The aim is to provide an interactive and engaging program so that participants will explore the program and return to the program to learn more about meetings.</li>
<li>Feed-forward assessment, Self assessment and Computer marked assessment &ndash; there will be self assessment activities within the program as an option for participants to check their understanding of what has been presented in the program and to check their existing level of knowledge.&nbsp; These will be set up in a way that directs the participants to parts of the program if they have not understood some content or have existing knowledge.</li>
<li>Accessible &ndash; this program is being developed to provide just-in-time learning opportunity to participants who are geographically spread throughout Australia.&nbsp; This will provide a far more accessible program than is currently being offered in only face-to-face delivery.&nbsp;</li>
<li>Student choice &ndash; as with individual and personalised experience.&nbsp; Participants will chose how much they complete and whether or not they completed the self assessment activities.</li>
<li>Authentic resources and Authentic learning or assessment &ndash; it is envisaged that we will include activities based on real work experiences and where possible, include tips/interviews from More Able Partners.</li>
<li>Practice based &ndash; it is envisaged that there will be practice activities which may be completed and we will be encouraging participants to work with More Able Partners to gain practice before undertaking the roles on their own</li>
<li>Reused or found &ndash; learning resources will be used.&nbsp; This topic have a myriad of resources available already and learning resources to be developed will be focused on real work activities and tips/interviews from relevant staff from within the organisation</li>
<li>Scaffolded learning &ndash; each program will be chunked into manageable sections to enable learning to be developed in layers, however, participants will have the option through navigation paths to complete only aspects that are relevant to them.</li>
<li>Sustainable &ndash; being an online program it will continue to be available to participants at any time.&nbsp; The program will be revisited on a regular basis for updating.</li>
</ol>
<p>&nbsp;The Course Features Activity has been excellent in clarifying the design of this program and has provided an excellent way to present the design to my Line Manager for support and confirmation of this approach.&nbsp;&nbsp;&nbsp;I would definitely use this activity again.</p>
<p>A Course Map has been created based on these features and other considerations raised through previous weeks learning. &nbsp;&nbsp;This was another excellent tool I will be using again also.</p>        </div>
                          <h3 class="hidden">Comment 3 by Julie Pisano</h3>
                <div class="user-comment" id="comment-8267">
				<a name="cloud_comment-8267"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        11:49pm 6 February 2013	                    	                    	                   						                    <a href="#comment-8267" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 4:&nbsp; 6<sup>th</sup> February, 2013</p>
<p>&nbsp;At first I couldn&rsquo;t see the relevance and use of the Pedagogical Pattern Collector &hellip; while I recognised the ease of using this type of tool; I found it difficult to relate the existing pedagogical templates into the project I am working on.</p>
<p>&nbsp;However, when I started to use the framework that exists within the PPC to develop the design of my project I found patterns emerging &hellip; a light bulb moment!</p>
<p>&nbsp;So while I haven&rsquo;t used the PPC program for this, I have continued to use this framework to build the design of my project at the next layer &hellip; a more detailed plan is emerging.</p>
<p>&nbsp;I found this week&rsquo;s Convergence session a very interesting discussion again:</p>
<ul>
<li>Analogy with approach used in science being adopted by teachers &hellip; experiment, draw conclusions, publish and others build on this work.&nbsp; A long frustration of mine has been that teachers I have worked with are reluctant to share their approach to teaching.&nbsp; I&rsquo;ve always considered this is about protection of self (particularly in the organisation I am thinking of), the lack of scrutiny of work practices and the isolation of working individually in a classroom.&nbsp; I&rsquo;ve always enjoyed team teaching as I found I can learn a lot from others &hellip; even if sometimes this is what I won&rsquo;t do.&nbsp; I also think this is about having a common language and approach that can be discussed openly and objectively and many of these tools in this program I can see could be used to facilitate this discussion, share practices and build on the work of others.</li>
<li>Tools &lsquo;make thinking visible&rsquo;</li>
<li>Tool can be used to consider the time students are expected to work on a topic &hellip; great.&nbsp; We do need to consider what our expectations are of how much time is involved in learning something and consider the &lsquo;outside contact&rsquo; time required to achieve the outcomes we are expecting</li>
<li>Creativity labs &ndash; look at other ideas to launch from</li>
</ul>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Stimulate creatively from looking at/thinking of other related/unrelated items/ideas</p>
<p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Redesign a plane by looking at a fish!</p>
<ul>
<li>LAMS Learning Activity Management System Macquarie University &hellip; investigate</li>
<li>Getting the community right in an online environment is difficult &hellip; in a MOOC it&rsquo;s emphasised because of the larger numbers</li>
<li>Premise of a MOOC is that you receive input from Lecturers/experts and then peers come together to work collaboratively.&nbsp; Presumptions about the audience for the MOOC have guided the design approach but the presumptions haven&rsquo;t turned out to be quite true/reality &hellip; isn&rsquo;t this potentially the issue any learning program can face?&nbsp; Reinforces the need to understand the learner, the content/what is to be learnt and how to marry the two.</li>
<li><strong>What does it take to learn this (topic)?</strong></li>
</ul>
<p>&nbsp;I may have started this week wondering what benefit it could bring me &hellip; but I certainly found these along the way.&nbsp; Another great week for me.</p>        </div>
                          <h3 class="hidden">Comment 4 by Julie Pisano</h3>
                <div class="user-comment" id="comment-8350">
				<a name="cloud_comment-8350"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        4:52am 13 February 2013	                    	                    	                   						                    <a href="#comment-8350" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 5:&nbsp; 13<sup>th</sup> February, 2013</p>
<p>&nbsp;This week I&rsquo;ve developed several examples of prototypes for my course:&nbsp;</p>
<ul>
<li>Course navigation and Home Page.&nbsp; This organisation uses Moodle for it&rsquo;s Learning Management System and has limited the design opportunities for the Home Page to quite a large extent (compared to the previous organisation I worked for).&nbsp; So I&rsquo;ve been working on developing an engaging and inviting Home Page that will only display limited information to new learners with drop into Topic links and Home Return links embedded in each page.&nbsp; Each topic will then have navigation links into the content and activities.</li>
</ul>
<p>Most Home Pages here are designed with the &lsquo;scroll of death&rsquo; approach and I am trying to provide other options and solutions to participants, who may show others how this course has been developed.</p>
<p>&nbsp;I&rsquo;ve been sharing these ideas with my Line Manager and will be tested further during the pilot of the course.&nbsp;</p>
<p>My plan is that if this approach is not well received by the pilot participants, then it is easy to change and will have only a minor time impact on the delivery of the course.</p>
<ul>
<li>&nbsp;Activities within the course. I have developed several prototypes for activities in the course as I would like it to be as interactive as possible.&nbsp; Interactivity is limited to the course content itself as this is an open course in which collaboration with other learners will be problematic as it is a just-in-time learning solution available to participants throughout the organisation.</li>
</ul>
<p>&nbsp;One of these prototypes uses animation and transitions in Power point &hellip; I knew power point could do these but had little use for these previously.&nbsp; I want to build interactive meetings for participants to take minutes, suggest ways to manage situations etc and having a chance to &lsquo;map&rsquo; the interactions using power point has been valuable.&nbsp;</p>
<p>&nbsp;One thing it did highlight is the need for me to source examples of real work related meetings to use as the content/storyboard for these interactions.</p>
<p>I did have a look at the Balsamiq, but feel I can work quickly with MS Word and Power point for the types of prototyping I need to do at this stage, although I can see how this could be useful if I didn&rsquo;t have the constraints I need to work with.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>More useful ideas being generated all the time &hellip; great!</p>        </div>
                          <h3 class="hidden">Comment 5 by Julie Pisano</h3>
                <div class="user-comment" id="comment-8425">
				<a name="cloud_comment-8425"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        12:28am 20 February 2013	                    	                    	                   						                    <a href="#comment-8425" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 6:&nbsp; 19<sup>th</sup> February, 2013</p>
<p>&nbsp;Mmmm &hellip; have discovered quite a lot about OER&rsquo;s that I didn&rsquo;t know:</p>
<ul>
<li>They can be frustrating to find for the topic I&rsquo;m currently working on</li>
<li>There is some great content and resources for other topics I teach &hellip; excellent</li>
<li>For vocational education &ndash; Australian Flexible Learning Toolbox and Repository are all created in a way that is reusable and can be customised &hellip; use it all the time <a href="http://tle.tafevc.com.au/toolbox/access/home.do" rel="nofollow">http://tle.tafevc.com.au/toolbox/access/home.do</a></li>
</ul>
<p>&nbsp;Great discussion in the Convergence session with points to ponder:</p>
<ul>
<li>Create own open content &hellip; have been thinking about starting to blog but recognise the discussion in convergence about the confidence required to do so &hellip; want to think more about who am I blogging for?&nbsp; What do I want to say etc</li>
<li>Use of creative commons license in institutional setting &hellip; which is compounded by Australian copyright laws &hellip; similar to UK but with tight restrictions on how much can be reused</li>
<li>Using open content for ideas not just to reuse</li>
<li>Find out more about mashups &hellip;. what&rsquo;s involved, how to do</li>
<li>Mmm thought provoking</li>
</ul>
<p>&nbsp;I am continuing to work on my &ldquo;Meetings and Committee Support Training&rdquo; &hellip; formal title which I&rsquo;m not too fond of but anyway.&nbsp;&nbsp; I&rsquo;m interested in getting into next week on Evaluation as I&rsquo;m intending to pilot the course in April which should give me enough time to develop additional resources &hellip;. which I may create as open source, if possible &ndash; need to find out more about organisational boundaries about this.</p>        </div>
                          <h3 class="hidden">Comment 6 by Julie Pisano</h3>
                <div class="user-comment" id="comment-8475">
				<a name="cloud_comment-8475"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/5571">Julie Pisano</a>	                    <br />
                        11:24pm 26 February 2013	                    	                    	                   						                    <a href="#comment-8475" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>Week 7:&nbsp; 26<sup>th</sup> February, 2013</p>
<p>&nbsp;From the reading and activities from this week I identified the following activities I can do and use to evaluate learning activities and programs:</p>
<ul>
<li>&nbsp;Audio log</li>
<li>Confidence log</li>
</ul>
<p>&nbsp;</p>
<p>From:&nbsp; <a href="http://fevatools.wikispaces.com/" rel="nofollow">http://fevatools.wikispaces.com/</a></p>
<ul>
<li>Rubic for Online Instruction resources</li>
<li>What is the muddiest point in this session?&nbsp; Is there something you would like to go over again from this session?&nbsp; What is something you didn&rsquo;t understand from this session?</li>
<li>What did you learn today that you can use tomorrow?</li>
</ul>
<p>My evaluation plan for the &ldquo;Meetings &amp; Committee Support Training&rdquo; is:</p>
<p><strong style="line-height: 1.5em;">Purpose:</strong>&nbsp; the purpose of this evaluation plan is to describe the evaluation approach to be used for the &ldquo;Meetings &amp; Committee Support Training&rdquo; program.&nbsp; The purpose of evaluating this program is to ensure the online program delivers training that is relevant, timely, at the right level and with sufficient appropriate activities to provide participants with confidence and skills to participate, chair or provide secretarial support to team, general or committee meetings.</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Audiences:</strong>&nbsp; evaluation will involve a group of participants who have identified themselves as requiring training in specific areas of the program and subject matter experts including Training &amp; Development Manager, experienced committee secretaries and chairpersons.</p>
<p><strong style="line-height: 1.5em;">Decisions:</strong>&nbsp; feedback received from the audience will direct the review and improvements to the course before it is released to the wider audience.&nbsp;</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Questions:&nbsp; </strong>the questions below will directed to pilot participants and subject matter experts.&nbsp; (Although the wording will be slightly altered for each group)</p>
<ul>
<li>&nbsp;The course objectives were clear to me</li>
<li>The course lived up to my expectations</li>
<li>The content is relevant to my job</li>
<li>The course activities stimulated my learning</li>
<li>The activities in this course gave me sufficient practice and feedback</li>
<li>The difficulty level of this course is appropriate</li>
<li>The information in the course is presented clearly</li>
<li>It was easy to move around the course without getting lost</li>
<li>I accomplished my objectives for this course</li>
<li>I will be able to use what I learned in this course</li>
<li>This online learning program was a good way for me to learn this content</li>
<li>Commentary on improvement opportunities, positive aspects of the course</li>
</ul>
<p>&nbsp;<strong style="line-height: 1.5em;">Methods: </strong>&nbsp;questionnaires and personal contact (either face-to-face or by phone) will be used for this evaluation.</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Sample:</strong>&nbsp; an invitation to all participants on the &lsquo;wait list&rsquo; for these programs has been issued with the option for being included in the evaluation of the program.&nbsp; Sample will include participants for each area of the course ie meeting participants, chairpersons and secretaries.&nbsp; Subject matter experts will be sourced from current and experienced holders of these roles.</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Instrumentation:</strong>&nbsp; questionnaires will be developed for pilot participants and subject matter experts based on the questions identified above.&nbsp; A matrix will be used to gather and summarise feedback received.</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Limitations:</strong>&nbsp; follow up discussions have been included to explore feedback received from questionnaires.&nbsp;</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Timeline:</strong>&nbsp; the timeline for general release of this program is May, 2013 which should give ample time to meet development, evaluation and improvement phases.</p>
<p>&nbsp;<strong style="line-height: 1.5em;">Budget:</strong>&nbsp; cost will be absorbed within usual business costs for salaries of developer, participants and subject matter experts.</p>        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7672">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2449">Introduce yourself!</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2800">Team Lost - OLDSMOOC (Week 1,  2, 3 ...!)</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/7672">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7672">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7672">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/7672">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7672">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/7672">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="3"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 3) </script>
	</body>
</html>
