<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Business models for the future - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Business models for the future</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/818">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1229 views</div></li>
        </ul>
</div>                
                    <p>What should we be trying to achieve to help sustain Web2.0 research activity?</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/66" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/66" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Patrick McAndrew</a><br />
        10 February 2009</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        The unusual ways that business seems to work online could be providing opportunities.
    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/818">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/818">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (4)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/818/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/818/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

                  <h3 class="hidden">Comment 1 by Gráinne Conole</h3>
                <div class="user-comment" id="comment-270">
				<a name="cloud_comment-270"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/3" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3">Gráinne Conole</a>	                    <br />
                        9:53am 10 February 2009	                    	                    	                   						                    <a href="#comment-270" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   I think this is one of the key challenges for the future - in a world where content is essentially free, where expertise is a mouse click away via google or twitter - what is the role of formal educational institutions? I think initiatives such as the Open Educational Resource movement and the SocialLearn project at the OU are exploring what business models we might need.
        </div>
                          <h3 class="hidden">Comment 2 by Paul Lefrere</h3>
                <div class="user-comment" id="comment-297">
				<a name="cloud_comment-297"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/373">Paul Lefrere</a>	                    <br />
                        1:21pm 10 February 2009	                    	                    	                   						                    <a href="#comment-297" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>
Other more competitive Higher Ed. models are coming, eg<br />
<br />
- competence-focused: certification to global HR standards of formal competences taught in degree courses<br />
<br />
- free for all aspects of, apart from exam/accreditation. <br />
Examples: http://www.uopeople.com/ and possibly in vocational areas from others, eg the Work Related Learning and Development International Competency University http://worldicu.ca/services<br />
<br />
- personalised by learners not by institutions: <br />
KMI is a partner in ROLE (EC TEL project) that is exploring ways for students to create their own degree programs, (including tutoring, mentoring and buddy systems) via self-chosen mash ups of components of free and for-fee learning opportunities offered formally or informally not just by today's universities but also by professional associations, societies and communities of practice.
</p>
<p>
&nbsp;
</p>
<p>
Paul 
</p>
        </div>
                          <h3 class="hidden">Comment 3 by Gráinne Conole</h3>
                <div class="user-comment" id="comment-299">
				<a name="cloud_comment-299"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/3" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/3">Gráinne Conole</a>	                    <br />
                        1:48pm 10 February 2009	                    	                    	                   						                    <a href="#comment-299" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   <p>
Thanks for these Paul
</p>
<p>
&nbsp;
</p>
<p>
I think it will be interesting to see in the next few years which models succeed and how the mix of different kinds of educational institutions are positioned in this new landscape. 
</p>
        </div>
                          <h3 class="hidden">Comment 4 by Robert Schuwer</h3>
                <div class="user-comment" id="comment-304">
				<a name="cloud_comment-304"></a>

                <div class="posted-by">
                                            <img src="https://cloudworks.ac.uk/image/user_32/366" alt="" style="float:left; margin-right: 5px"/>
                    

                    <p class="date-stamp">
                       <a href="https://cloudworks.ac.uk/user/view/366">Robert Schuwer</a>	                    <br />
                        2:17pm 10 February 2009	                    	                    	                   						                    <a href="#comment-304" class="permalink">Permalink</a>
                    </p>
                    </div>
                    <br />

                   At the OUNL we have thought a lot about this after ending of the external funding of our OpenER project. We have devised a business model in which OER plays a certain role. Our users are life long learners who for a great part do not have the wish to take examinations or go for a Masters degree. So we have compiled a list of services we could charge a user for. E.g.: extra support, extra tries for an examination, access to all kinds of resources. OER has the role to persuade a visitor to become a paying visitor (through a subscription model where s/he pays a monthly amount (inspired by the wordl of the mobile phones). Besides content we also offer all kinds of tools with which a visitor can find out what course of study will be worthwhile to him/her (tools developed in the 10competence project). We plan to start implementing this model this year. It will certainly take a couple of years to implement this.
        </div>
            </div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/818">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/804">Researcher 2.0</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/818">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/818">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/818">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/818">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/818">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/818">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
