<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Tim's Design Narrative for Online Reading Circles - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Tim's Design Narrative for Online Reading Circles</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8366">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">970 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/6232" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6232" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Tim Jones</a><br />
         5 April 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>Title </strong></p>
<p>Providing students with the opportunity to engage with communicative reading tasks.</p>
<p>Narrator</p>
<p><em>My role, as an English Language Teacher at the Higher Colleges of Technology, was to <strong>design</strong> an online version of a traditional reading circle for use by foundation (and undergraduate) students. </em>This done my role was to <strong>facilitate and encourage reading</strong> of texts relevant to the learners&rsquo; real-life needs and goals.</p>
<h2>Situation</h2>
<p>English is the medium of instruction in all government tertiary institutions throughout the UAE and to exit Foundations and proceed to a locally-accredited bachelor&rsquo;s programme students only need an overall Band 5 in the IELTS. However, the majority of students fail to obtain the necessary grade. Emiratis show a clear weakness in demonstrating an affective reading ability in such externally standardised benchmark exams as the IELTS. For the adult learner, reading is a key to success in higher education.</p>
<p>The local culture is often referred to as an oral culture but perhaps a better description would be a non-reading culture! One does not become a good reader unless one reads a lot, this might seem like stating the obvious but it is something that does not seem to occur to my learners. The activity I describe here is designed to help address this lack of a reading culture.</p>
<h2>Task</h2>
<p>In line with the college learning outcomes and to help address this &lsquo;<em>non-reading culture&rsquo;</em> the main aims of this activity are as follows:</p>
<ol>
<li>To encourage student autonomy and independent reading and learning.</li>
<li>To provide students with the opportunity to read extensively and (hopefully) for pleasure.</li>
</ol>
<p>The secondary aims are:</p>
<ol>
<li>To expose students to a variety of texts types relevant to their real life needs.</li>
<li>To help build vocabulary and deeper understanding academic texts.</li>
<li>To begin challenging and evaluating text.</li>
</ol>
<p>The activity is based on the concept of a <em>Reading Circle. </em>This usually takes place face-to-face when a group of five or six like-minded individuals meet to discuss a piece of literature in depth. They share their experiences in a structured discussion which guides the participants to a deeper understanding of the text. Collaboration is at the heart of this approach. Each group member has a specific role and there is group leader whose job it is to develop questions for the group to discuss.</p>
<h2>Actions</h2>
<p>As we meet face to face in college every day the activity was set up in the classroom via an introductory IELTS lesson in third week of the semester, or once the class size has settled down and all students have been issued with their iPads.</p>
<p>This lesson is staged as follows:</p>
<p>Engage and interest the learners in the topic, set context for the reading, activate vocab and background knowledge. Emphasize the need read more often and on a variety of themes.</p>
<p>The first reading circle text is done in class. This makes it easier to set up the activity, form groups, give clear instructions with examples and then monitor closely to check all students are on task. I then monitor discretely; guiding, encouraging and prompting only when and where necessary. Thorough preparation for the online activity should provide an incentive for more effective participation.</p>
<p>Provide clear instruction of the process with screen shots of the BBL interface and links to BBL&rsquo;s own instructional videos will be the first documents the learners will encounter. I will also set up and &lsquo;sandbox&rsquo; course for the learners to play around in. This will be accompanied by example videos of each of the role cards completed for an example text. I would also create a &ldquo;Help&rdquo; in the discussion board, feedback would be timely but the contract would be that I only answer in office hours.</p>
<p>A &lsquo;spark&rsquo; &ndash;&ndash; the role cards which accompany the text provide the learners with the stimulus, challenge, task or problem. The learners rotate roles so as not to repeat the same role, and therefore the same way of looking at a text. The first five texts are obligatory and run in order but after that, in turn, each student can select form a bank of suitable texts.</p>
<p>Example role cards:</p>
<p><strong>Artist </strong></p>
<ul>
<li>Your job is to create an image or images based on the text.</li>
<li>Your image(s) can be anything that you want. For example, a picture, a diagram, a cartoon, a flow chart, a graph, etc.</li>
<li>You will need to explain and justify your image(s) to the group.</li>
</ul>
<p><strong>Global Issues Analyst</strong></p>
<ul>
<li>Your job is to read the text and find information relating to global issues.</li>
<li>This information could relate to social, political, economic and environmental issues that affect us all.</li>
<li>You will need to explain and justify your choices to the group.</li>
</ul>
<p>The learners complete the task on their role cards and post a short video message via Voice Board.</p>
<p>Students have to respond &ndash; the students must respond and comment on at least three other students&rsquo; posts.</p>
<h2>Results</h2>
<p>It is now only three weeks into the activity and it is not compulsory it is too early to talk of results. As this activity goes beyond the course boundaries to provide an extra layer of learning for students, only the students who are extremely enthusiastic or who have the extra time are expected to participation.&nbsp;Those involved in the learning activity are assigned different roles when undertaking these tasks. The role cards I have designed are specifically aimed at each of these learning outcomes and the development of the associated reading skills and sub-skills. The initial sequencing of texts before letting the activity become more student-centred as students choose their readings is also an important part of achieving my aims and making the activity a success.</p>
<p>Hopefully, on completing this course, students should be able &lsquo;<em>to read with some independence&rsquo;</em>, being able &lsquo;<em>to select a reading strategy suited to their purpose and the text&rsquo;</em>, and &lsquo;<em>to demonstrate comprehension in a variety of ways&rsquo;</em>.</p>
<h2>Reflections</h2>
<p>Again it is too early to reflect on this activity, or lack of activity, the use of BBL for the purposes of recording and reflecting on achievement and the ease with which comments can be made for support, encouragement and continuous formative assessment make it the ideal tool. My initial impulse was for no assessment, as in schools here reading is rarely taught but frequently tested. There are many negative connotations with words such as &lsquo;assessments,&rsquo; &lsquo;grades,&rsquo; &lsquo;wrong,&rsquo; &lsquo;punishment.&rsquo; I wanted to avoid this. However, my students are pragmatic in their approach to learning; they will try to obtain the maximum grade with the minimum amount of effort. So, in reality that would mean that without some sort of assessment, most students at HCT simply would not participate. When discussing with other faculty it seems students make the postings needed to earn marks, but rarely contribute otherwise. What to do?</p>
<p>&nbsp;</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8366">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8366">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (0)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8366/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8366/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

</div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/BBL">BBL</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Blackboard+Learn">Blackboard Learn</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/collaborative+learning">collaborative learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/communicative+approach">communicative approach</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/design+narrative">design narrative</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/English">English</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ESL">ESL</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/H800">H800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/online+reading">online reading</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/problem+based+learning">problem based learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/reading+circles">reading circles</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Reading+skills">Reading skills</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8366">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2474">H800 Design Narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8366">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8366">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8366">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8366">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8366">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8366">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
