<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Students engaging more closely with Lesson Objectives - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Students engaging more closely with Lesson Objectives</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8673">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">850 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6951" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Aidan Wallis</a><br />
        29 March 2014</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h2>Narrator</h2>
<p>I teach two classes of Level 3 BTEC Business Students&nbsp;</p>
<h2>Situation</h2>
<p>They are second year BTEC Business students mostly aged between 17 and 19 years old.&nbsp; The course consists of 18 units covered over two years. I was teaching Internet Marketing which involved the students in much researching on line.</p>
<p>Assessment of students is through coursework.&nbsp; Tutors set 1-3 assignments per unit</p>
<p>The two classes are taught in a relatively modern teaching block. The classrooms are equipped with desktop computers or laptops.&nbsp; Students mostly choose their own desks on entering the classroom.&nbsp;</p>
<h2><strong>Task</strong></h2>
<p>College policy was for all courses to have Schemes of Work (a detailed week by week plan for teaching each module) and each lesson to have a Lesson Plan.&nbsp; The format of these were mandatory following OFSTED guidelines.&nbsp;&nbsp;</p>
<p>Tutors are subject to at least one formal observation each year.&nbsp; Two years ago the main feedback for tutors following observations focused on &lsquo;lesson objectives&rsquo; and weaknesses in students&rsquo; engagement with them during a lesson.&nbsp; I, like others, would write up the lesson objectives at the beginning of the lesson and refer to them during the lesson and at the end when the results of each lesson would be summed up in the &lsquo;plenary section&rsquo; of the class. &nbsp;</p>
<p>My initial objective was to find a way for students and me, their tutor, to engage better with the objectives of a lesson in the hope that their participation in class and performance in the assessments would improve. And, yes, another objective was that this might contribute to a nice grade if the class was observed!&nbsp;</p>
<p>Initially, take up and use by and feedback from students would be a leading indicator of success together with my own reflections.&nbsp; This could be followed up by comparing the performance of students with assignments compared with previous years or other units.&nbsp; The best indicator of success would be the number of referrals of student work.&nbsp; Whilst this data is now being gathered, comparative data would be hard to find.&nbsp;</p>
<h2>Actions</h2>
<ol start="1">
<li>Early in the teaching of the module, ask students to review the module's assessment criteria and for each assessment criterion describe:</li>
</ol>
<ul>
<li>What they need to know and</li>
<li>What they need to know how to do in order to be able to meet each criterion</li>
</ul>
<ol start="2">
<li>In order to create a meaningful list of students&rsquo; learning objectives, each criterion was discussed in class and students completed descriptions of what they felt they needed to know and what they needed to be able to do to achieve the assessment criterion.&nbsp; I then collected these at the end of the lesson.&nbsp; The difficulty here was that students would often not identify all the knowledge and skills gaps that would need to be covered.&nbsp; In these cases I introduced these in the discussion and &lsquo;reserved the right&rsquo; to add others later</li>
<li>By the next lesson, I had pulled the students&rsquo; objectives together and created a combined &lsquo;learning log&rsquo; from the output of the discussions. The challenge was to preserve the essence and the words of students whilst keeping the list of objectives short and comprehensive. &nbsp;The log consisted of a multi page, four column table.<ol start="1">
<li>The left hand column listed the assessment criteria.</li>
<li>The second column listed the various learning objectives agreed with the students for each criterion</li>
<li>The third column was blank and headed &lsquo;Date when learnt&rsquo;</li>
<li>The final column also blank was headed &lsquo;How Learnt&rsquo;</li>
</ol></li>
</ol>
<p>Each criterion was thus linked to 5 &ndash; 10 learning objectives which would now form the basis of lessons. These Lesson Objectives would appear on the interactive whiteboard at various points in the lesson and would always be in front of students in class on paper, on their desks.&nbsp; &nbsp;Copies of the log was made and given to each student who added their names to the log. &nbsp;</p>
<ol start="4">
<li>At the beginning of each lesson, I handed out the log to of the students.&nbsp; The lesson was introduced with reference to learning objectives set on the log.&nbsp; During the lesson I could refer to the log as the lesson developed</li>
<li>At the end of the lesson, students were asked to review their logs and place today's a date next to each lesson objectives that the student felt they had met.&nbsp; Students were also asked to place a comment in the &lsquo;How Learnt&rsquo; column.&nbsp; The difficulty here was convincing students not to blindly tick everything but date only those objectives they felt were achieved.&nbsp; This often worked and I was sometime disappointed how few objectives were ticked &ndash; though happy that I was aware of this!</li>
<li>Before students left the class, they handed back the log to me which enabled me to see quickly what each student felt they had learnt</li>
<li>As preparation for the next lesson, I could see where there were gaps in each students&rsquo; progress and could adapt the next lesson accordingly.&nbsp; This helped with differentiation in class</li>
<li>As I handed out the logs at the beginning of the next lesson it was evident where gaps in each student&rsquo;s learning existed.&nbsp; In practice it was often difficult for me to assess the starting point of each student.&nbsp; As students arrived in the classroom over a period of minutes there was some time for me to assess each student&rsquo;s log. However this was often not completely effective.&nbsp;</li>
</ol>
<h2>Results</h2>
<ol start="1">
<li>Completion of the logs was initially patchy but gradually improved so that by the end of the unit most of the logs were at least, complete.&nbsp; Some students simply ticked rather than dated each entry.&nbsp; It is clear that some saw the exercise as a &ldquo;tick box&rdquo; affair.</li>
<li>However, most students were more thorough entering dates and often how they learnt.&nbsp; Interestingly as the exercise progressed, students would ask for their logs if I was slow handing them out.</li>
<li>Two students tried to use the lesson objectives as assessment criteria in their assignments which actually slowed their progress to completion of assignments.&nbsp; One of these students preferred to retain the log at the end of the lesson rather than return it.</li>
<li>The result was that I could use the logs to find gaps in achievement or student confidence.&nbsp; For me the logs were very useful evidence of what had worked in the class and what did not.&nbsp;&nbsp;</li>
</ol>
<h2>Reflections</h2>
<ol start="1">
<li>For me the technique holds promise:&nbsp; students are now used to completing the logs and are happy to do so.&nbsp; Some are more diligent than others.&nbsp; However, non attendance does mean that the logs are blank and this in itself is a graphic way of highlighting gaps in learning to be filled in.</li>
<li>The next step would be to try and measure success in a quantifiable way.</li>
<li>It would also be useful to see what other teachers have found in similar schemes.</li>
<li>The key to developing this would be to find a way of tracking success efficiently.&nbsp; Given the load of other tasks, it is hard to find time to do this.&nbsp; On the other hand, if by taking a little more responsibility for their learning, students can produce better work, time should be saved in marking and revision.</li>
<li>I am conscious that the whole exercise is paper based!&nbsp; In an environment where all students have desktops in classrooms the reliance on technology is significant.&nbsp; Would another window open on line be as effective as this rare paper exercise?&nbsp; My feelings are that for this classs, paper is a more convenient way for students to record their learning and that it is quicker for me to access.&nbsp;</li>
<li>Finally I am conscious that it might be useful to show examples of the log and I will endeavour to scan some in. &nbsp;</li>
</ol>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8673">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8673">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (0)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8673/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8673/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

</div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/H800">H800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Lesson+Objectives">Lesson Objectives</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8673">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8673">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8673">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8673">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8673">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8673">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8673">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
