<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Art and Athletics:Form and Body - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Art and Athletics:Form and Body</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/9903">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">668 views</div></li>
        </ul>
</div>                
                    <p>Erica's design narrative</p>
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="https://docs.google.com/document/d/1NOPoVrKVGEQNevFai2mCMYNUVnkk5kdWVQG_82Ybv7I/edit?usp=sharing"  rel="nofollow">https://docs.google.com/document/d/1NOPoVrKVGEQNevFai2mCMYNUVnkk5kdWVQG_82Ybv7I/edit?usp=sharing</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/8472" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/8472" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Erica Gutenschwager</a><br />
        12 April 2016</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p dir="ltr">Title</p>
<p dir="ltr">Art and Athletics: From and Body</p>
<p dir="ltr">Narrator</p>
<p dir="ltr">I am an artist teaching a basic art course to fourth year primary school education students in a university pedagogical department.</p>
<p dir="ltr">Situation</p>
<p dir="ltr">My class is comprised of 140 fourth year students divided into four smaller groups. &nbsp;Each group is taught a three hour studio class covering the seven basic elements of art (line, shape, form, value, space, texture and color). &nbsp;</p>
<p dir="ltr">As part of the student&rsquo;s teacher training program they are required to organize and teach for two weeks in a local school.</p>
<p dir="ltr">During the two weeks they are asked to teach a &lsquo;project&rsquo; oriented class which requires incorporating many artistic concepts and materials.</p>
<p dir="ltr">Keeping this in mind I designed a three week &lsquo;project&rsquo; incorporating &lsquo;form&rsquo; and the human body through the use of art and athletics.</p>
<p dir="ltr">To try and make the &lsquo;project&rsquo; more meaningful I invited an athlete to talk to the students about his expeditions while trying to reach his goal of climbing all seven of the world&rsquo;s highest summits.</p>
<p dir="ltr">Task</p>
<p dir="ltr">1. Learn the meaning and different types of &lsquo;form&rsquo; in art.</p>
<p dir="ltr">2. Have students apply their understanding of &lsquo;form&rsquo; to a collaborative work of art</p>
<p dir="ltr">3. Help students understand how to design and organize their own &lsquo;project&rsquo; through real life experiences.</p>
<p dir="ltr">4. Help students discover the various tools and processes available to them in designing, organizing and implementing their own &lsquo;project&rsquo;.</p>
<p dir="ltr">5. Connect students with &lsquo;real world experts&rsquo;.</p>
<p dir="ltr">Actions</p>
<p dir="ltr">Chronological order</p>
<p dir="ltr">Day 1</p>
<p dir="ltr">1. Give an introductory presentation on &lsquo;form&rsquo; in art.</p>
<p dir="ltr">2. Watch a short video on the elements of art:<a href="http://ww2.kqed.org/artschool/2014/10/14/elements-of-art-form/" rel="nofollow"> KQED ART SCHOOL</a></p>
<p dir="ltr">3. Presentation by<a href="http://www.andro.gr/drasi/ο-νίκος-μαγγίτσης-των-7-κορυφών/" rel="nofollow"> Nikos Maggitsis</a> (athlete and mountain climber)</p>
<p dir="ltr">4. Fifteen minute break</p>
<p dir="ltr">5. Short Power Point presentation on the history of &lsquo;Art and Athletics&rsquo;</p>
<p dir="ltr">6. Athletic poses: each student takes turns posing while the other members of the group draw the particular athletic pose (tennis, basketball, baseball, etc.) using a simple line and shape technique.</p>
<p dir="ltr">Day 2</p>
<p dir="ltr">1. Three dimensional form: each student selects the one of their drawings to use in creating a form of their two dimensional drawing.</p>
<p dir="ltr">2. Cutting out the form: each student draws and cuts their form from a cardboard box using and exacto knife.</p>
<p dir="ltr">3. Collage: using old newspapers or magazines each student cuts out appropriate clothing and equipment for their form.</p>
<p dir="ltr">4. Drawing: each student draws facial characteristics using magic markers.</p>
<p dir="ltr">Day 3</p>
<p dir="ltr">Collaborative synthesis of all the final &lsquo;athletic forms&rsquo; created by each student. &nbsp;All the students participate in creating a large canvas (2,5cm x 3 cm) made from cardboard boxes which will serve as the background for their individual forms. &nbsp;Once the background is complete each students glues their form on the large canvas.</p>
<p dir="ltr">Effects</p>
<p dir="ltr">I had expected the students to be more engaged when meeting and listening to Niko Maggitsi talk about his mountaineering expeditions. &nbsp;Only two parts of the entire project seemed to excite them most. &nbsp;The first was activity 6 on Day 1: athletic poses. &nbsp;They were enthusiastic, engaged, joyful and extremely creative not only in their poses but also their drawing of each pose. &nbsp;The second part was the<a href="https://www.facebook.com/media/set/?set=a.918935558224591.1073741835.816271648490983&type=3" rel="nofollow"> final result</a>; they were amazed at the beauty and simplicity of the final work of art and couldn&rsquo;t believe that they had created it.</p>
<p dir="ltr">Results</p>
<p dir="ltr">I was well aware of the fact and expected that most of the students would not engage themselves in the project more than they had to in order to complete the task I had prepared for them. &nbsp;I think this is understandable for several reasons. &nbsp;First of all, they could not have a clear understanding of the whole project and how it might culminate into a collaborative work of art because they were not involved in the organizational process. &nbsp;Secondly, they were asked to immerse themselves in a subject matter, athletics, which perhaps held little meaning to them.</p>
<p dir="ltr">I had hoped that by the end of the project the students would at least be able to appreciate and hold in higher esteem their own personal artistic abilities but I did not expect that the final result would have such a positive impact on them. &nbsp;The students were not only impressed at their own capabilities but that with such little effort and with the use of mostly recycled materials they could create a beautiful work of art. &nbsp;Several commented that they were anxious to use the project and tasks and materials in their own classroom students.</p>
<p dir="ltr">Reflections</p>
<p dir="ltr">I was very pleased that the students were overjoyed with what they had created but next time, I would definitely involve them more in the overall organization and process of the project so that they might gain more insight not only at the end but also during the creative process. &nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;</p>
<p dir="ltr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9903">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-3129"></a>
<div class="embed-wrap em-www-facebook-com">
    <h3>Art and Athletics: Final composition</h3>
  <a id="em-n0" class="em" href="http://www.facebook.com/media/set/?set=a.918935558224591.1073741835.816271648490983&type=3"  rel="nofollow">Art and Athletics: Final composition</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/8472">Erica Gutenschwager</a></small>

</p>
</div>
<a id="embed-3130"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>"7 Summits"</h3>
  <a id="em-n1" class="em" href="https://www.slideshare.net/secret/HUJQ6fOOFay7cX"  rel="nofollow">"7 Summits"</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/8472">Erica Gutenschwager</a></small>

</p>
</div>


<script src="https://cloudworks.ac.uk/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/9903">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <strong>Discussion (0)</strong>
                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/9903/links#contribute">Links (0)</a>                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/9903/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid" id="comments">

</div>

<div class="grid">
    <a name="post"></a><h3 id="post-comment">Contribute to the discussion</h3>
    <p>Please <a href="https://cloudworks.ac.uk/auth/login">log in</a> to post a comment. <a href="https://cloudworks.ac.uk/user/register">Register here</a> if you haven't signed up yet.</p>
    </div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/art">art</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/art+class">art class</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/athletics">athletics</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/body">body</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/climbing">climbing</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/form">form</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/mountain">mountain</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/summits">summits</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/teacher+training">teacher training</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/teaching">teaching</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9903">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/9903">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9903">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9903">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/9903">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/9903">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/9903">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="6"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 6) </script>
	</body>
</html>
