<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>e-Learning Digest No 70 - Jun 10 - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>e-Learning Digest No 70 - Jun 10</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/3956">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">2159 views</div></li>
        </ul>
</div>                
                    <p>A monthly digest of e-Learning news</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/1761" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1761" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Jim Ellis</a><br />
        15 June 2010</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>OU Annual Conference</strong>&nbsp;</p>
<p>This year&rsquo;s annual OU annual conference - Learning in the Open World - is being held entirely online on <strong>22 &amp; 23 Jun</strong>.&nbsp; We hope this will make it easier for people to &lsquo;attend&rsquo; specific sessions, particularly those based outside Walton Hall for whom distance may have been an issue in previous years.&nbsp; We also hope to encourage some staff to dip a first toe in the water of online collaboration and communication tools such as Elluminate.&nbsp; A <a href="/cloud/view/2994" rel="nofollow">provisional conference programme</a> is now available and you can register your interest by clicking the 'Mark as attending' button on the <a href="/cloudscape/view/2012" rel="nofollow">conference Cloudworks page</a>.</p>
<p>[Martin Weller]</p>
<p>~~~~~~~~</p>
<p><strong>UK </strong><strong>Conferences &amp; Workshops </strong></p>
<ul>
<li>28-29 Jun, Middlesbrough, <a href="http://www.tees.ac.uk/sections/research/social_futures/events_details.cfm?event_id=2851" rel="nofollow">Immersive Technologies for Learning</a>.&nbsp; [ALT]</li>
<li>28-30 Jun, London, <strong><a href="http://www.i-society.eu/" rel="nofollow">International Conference on Information Society (i-Society 2010)</a>.&nbsp; [JE]</strong><strong></strong></li>
<li><strong>30 Jun-2 Jul, Edinburgh, </strong><a href="http://www.psychology.heacademy.ac.uk/plat2010/" rel="nofollow">Psychology Learning and Teaching Conference</a>.&nbsp; [JE]</li>
<li>2 Jul, Hatfield, <a href="http://www.heacademy.ac.uk/events/detail/2010/jointevents/QAQESIG6July" rel="nofollow">Quality Assurance and Quality Enhancement in e-Learning</a>.&nbsp; [HEA]</li>
<li>7 Jul, Greenwich, <a href="http://www.gre.ac.uk/e-conference" rel="nofollow">Future Learningscapes: a 21st century challenge</a>.&nbsp; [ALT]</li>
<li>13 Jul, Olympia, <a href="http://www.headstar-events.com/eaccess10/" rel="nofollow">e-Access 2010: Technology For All</a>.&nbsp; [ALT]</li>
<li>15 Jul, Oxford, <a href="http://lams2010.lamsfoundation.org/" rel="nofollow">2010 European LAMS Conference</a>.&nbsp; [ALT]</li>
<li>16 Jul, London, <a href="http://bit.ly/maharauk10" rel="nofollow">MaharaUK 2010 conference</a>.&nbsp; [ALT]</li>
<li>20-21 Jul, Southampton, <a href="http://caa.ecs.soton.ac.uk/" rel="nofollow">2010 International Computer Assisted Assessment Conference</a>.&nbsp; [ALT]</li>
<li>20-22 Jul, Oxford, <a href="http://www.ucisa.ac.uk/groups/ssg/Events/2010/usersupport.aspx" rel="nofollow">User Support Conference 2010</a>. [ALT]</li>
<li>21-23 Jul, Sheffield, <a href="http://www.psypag.co.uk/conference/" rel="nofollow">Psychology Postgraduate Affairs Group 2010 conference</a>.&nbsp; [BPS]</li>
</ul>
<p>~~~~~~~~</p>
<p><strong>LiveTime Learning</strong></p>
<p>Brighton-based Brightwave has launched <a href="http://www.brightwave.co.uk/livetime-learning/" rel="nofollow">LiveTime Learning</a>, a rolling daily schedule of 20 min learning nuggets, supported by collaborative knowledge-sharing, problem-solving and polls.&nbsp; 100+ modules are planned, with current topics including time management, appraisals, discrimination, coaching and better writing.&nbsp; A free taster is available.</p>
<p>[eLearning Guild]</p>
<p>~~~~~~~~</p>
<p><strong>Google CloudCourse</strong></p>
<p>Google have tried to solve the problem of connecting expert teachers to eager students around the globe.&nbsp; The company has released <a href="http://google-opensource.blogspot.com/2010/05/cloudcourse-enterprise-application-in.html" rel="nofollow">CloudCourse</a> as an open source learning platform which allows anyone to create and track learning activities.&nbsp; CloudCourse also offers calendaring, waitlist management and approval features, and is fully integrated with Google Calendar.</p>
<p>[Ross Mackenzie, Pete Mitton]</p>
<p>~~~~~~~~</p>
<p><strong>Virtual Worlds Initiatives at the OU</strong></p>
<p>A recent Eduserv-funded <a href="http://virtualworldwatch.net/wordpress/wp-content/uploads/2010/05/Snapshot-8.pdf" rel="nofollow">Virtual World Watch Report</a> profiles virtual world projects in UK HE and FE.&nbsp; The report highlights OU Second Life initiatives such as virtual worlds: as a social space for distance-education students for meeting and for socialisation; for supporting part-time PhD students at a distance; for language learning (e.g. Spanish); supporting disabled students through the Access Centre; supporting M253 (Team working in Distributed Environments); a JISC-funded <a href="http://is.gd/c4zn9" rel="nofollow">DELVE</a> project researching the design of 3D learning spaces; staff development through role-playing scenarios; and the research toolkit being developed to support researchers who are carrying out qualitative research in 3D virtual worlds.</p>
<p>[Shailey Minocha]</p>
<p>~~~~~~~~</p>
<p><strong>Accessible e-Book Platforms</strong></p>
<p>Nearly 65% of teaching staff and students have used an e-book to support their work, study or leisure, according to the JISC national e-books observatory project.&nbsp; Now, further work funded by JISC-TechDis has investigated how to help disabled readers use e-book resources effectively.&nbsp; A practical guide, <a href="http://www.techdis.ac.uk/resources/files/e-books leaflet final.pdf" rel="nofollow">Towards accessible e-book platforms</a>, advises on aspects such as how to control magnification, colour change, keyboard access and text to speech.</p>
<p>[Liz Mallett]</p>
<p>You may remember that one of the drivers behind Amazon&rsquo;s larger screen Kindle DX was to hit the education market.&nbsp; However, <a href="http://seattletimes.nwsource.com/html/businesstechnology/2011938870_kindle24.html" rel="nofollow">recent trialing of the DX</a> at the University of Washington has revealed disappointing results.&nbsp; &ldquo;You don't read textbooks in the same linear way as a novel,&rdquo; said one 23-year-old, &ldquo;you have to flip back and forth between pages, and the Kindle is too slow for that.&rdquo;&nbsp; Amongst MBA students at the University of Virginia, 80% said they would not recommend the $490 device as a study aid.</p>
<p>[Stephen Downes]</p>
<p><a href="http://www.gearlog.com/2010/06/sony_exec_predicts_e-books_to.php" rel="nofollow">Sony</a> obviously doesn&rsquo;t agree.&nbsp; Steve Haber, president of their digital reading business division believes, &ldquo;Within five years there will be more digital content sold than physical content&rdquo;.</p>
<p>[Stephen Downes]</p>
<p><a href="http://www.linuxinsider.com/rsstory/70064.html?wlc=1274811985&wlc=1275399340" rel="nofollow">Pandigital</a> is launching a $199 Android-based eReader with a 7&rdquo; colour touchscreen display, wifi, 6hr battery life and access to 1m+ Barnes &amp; Noble eBooks and journals.&nbsp; The price places it between the $150 <a href="http://www.ecommercetimes.com/story/69967.html?wlc=1275472191" rel="nofollow">Kobo</a> and $250 Kindle, but its functionality appears to easily beat both of those.</p>
<p>[The Xplanation]</p>
<p>And Andrew reminds us that there are <a href="http://www.wired.com/magazine/2010/05/pl_backstory_popupbook/" rel="nofollow">some things you just can&rsquo;t do with an eBook</a>.</p>
<p>[Andrew Hedges]</p>
<p>~~~~~~~~<br /><br /></p>
<p><strong>University of California Goes (Grudgingly) Online</strong></p>
<p>Elite US universities have avoided online education, but the <a href="http://chronicle.com/article/In-Crisis-U-of-California/65445" rel="nofollow">University of California</a> want to break that mould, with plans to spend $5m+ on a pilot project that could clear the way for the system to offer online undergraduate degrees and push distance learning further into the mainstream.&nbsp; Some diehards oppose the plans whilst others wonder why it&rsquo;s taken so long; for example, more than half of the University of Central Florida&rsquo;s 53,500 students already take at least one online course each year.</p>
<p>[Tony Bates]</p>
<p>~~~~~~~~</p>
<p><strong>Moodle.&nbsp; Every Little Helps&hellip;</strong></p>
<p>Rapid eLearning specialists Kineo have worked with <a href="http://www.kineo.com/case-studies/tesco-moodle-lms-2.html" rel="nofollow">Tesco</a> to put in place a Moodle-based LMS, coupled with a Joomla-based CMS to provide an eLearning portal that will serve up to 400,000 staff.</p>
<p>[Kineo]</p>
<p>And Joyce Seitzinger has put together a useful <a href="http://www.cats-pyjamas.net/2010/05/moodle-tool-guide-for-teachers/" rel="nofollow">Moodle Tool Guide</a>.&nbsp; It relates to standard Moodle so is not a direct match for the OU version, but it is a nicely designed idea that could be adapted.</p>
<p>[Andrew Cupples]</p>
<p>University of London Computer Centre (ULCC) and The Learning Edge Europe have announced a partnership to provide UK educational institutions with access a securely hosted <a href="http://bit.ly/ULCCTLEE" rel="nofollow">EQUELLA/Moodle repository</a> of learning objects, research, streamed content, exam papers, media collections and theses.</p>
<p>[ALT]</p>
<p>~~~~~~~~</p>
<p><strong>Visualisation</strong></p>
<p>Three Stanford academics have put together a <a href="http://queue.acm.org/detail.cfm?id=1805128" rel="nofollow">Visualisation Zoo</a>, &ldquo;showcasing techniques for visualizing and interacting with diverse data sets &hellip; Here we focus on a few of the more sophisticated and unusual techniques that deal with complex data sets.&rdquo;&nbsp; Some good examples but (I seem to be saying this a lot lately) you&rsquo;ll need something better than IE7 to view the enlargements.</p>
<p>[Stephen Downes]</p>
<p>Similar but different is Futurelab&rsquo;s <a href="http://www.educationeye.org.uk/" rel="nofollow">educationeye</a>, which dynamically organises information on the general topic area of innovation in education.&nbsp;</p>
<p>[Stephen Downes]</p>
<p>And of course, where would we be without an interactive <a href="http://www.marca.com/deporte/futbol/mundial/sudafrica-2010/calendario-english.html" rel="nofollow">World Cup visualisation thingy</a>&hellip;</p>
<p>[Stephen Downes]</p>
<p>~~~~~~~~</p>
<p><strong>What are Universities for?</strong></p>
<p>Donald Clark brings his unique style to a debate on the subject of <a href="http://donaldclarkplanb.blogspot.com/2010/05/salon-debate-what-are-universities-for.html" rel="nofollow">What are Universities for?</a>&nbsp; &ldquo;I&rsquo;m a fan of the University system, and see them as institutions that are worth preserving and fighting for, but I despair at the idea that Universities are beyond criticism. &nbsp;Academics who defend freedom of speech and intellectual debate are very uncomfortable when it comes to criticism of their own methods and institutions&rdquo;.</p>
<p>[Donald Clark]</p>
<p>Sir Howard Newby (VC of Liverpool) thoroughly recommends the recently published, <strong><a href="http://www.timeshighereducation.co.uk/story.asp?storycode=411892" rel="nofollow">The Great Brain Race: How Global Universities Are Reshaping the World</a>, b</strong>y Ben Wildavsky.&nbsp; &ldquo;In a post-election debate about the role and structure of higher education, many of the issues identified by Wildavsky will take centre stage.&nbsp; Complacency and mild paranoia are not unique to the US.&rdquo;</p>
<p>[THE]</p>
<p>In her article, <a href="http://www.insidehighered.com/views/2010/06/03/larson" rel="nofollow">Higher Education's Big Lie</a>, Anne Larson questions the value of putting more (US) school leavers through HE, querying course completion rates and doubting whether so many jobs require degree-level education.&nbsp; How significant is the societal component?&nbsp; Stephen notes, &ldquo;In order for higher education to support social mobility, social mobility must be possible.&rdquo;</p>
<p>[Stephen Downes]</p>
<p>~~~~~~~~</p>
<p><strong>iPad</strong></p>
<p>Rutgers University and Apple&rsquo;s higher education team are collaborating on a <a href="http://theelearningcoach.com/elearning2-0/first-ipad-university-course/" rel="nofollow">Mini-MBA in Digital Marketing</a> that will fully integrate the iPad.&nbsp; The programme will take place in the classroom, but will provide students with iPads loaded with all required reading material, videos and custom applications.&nbsp; The 36 hour executive education course is currently only offered offline, either as a one week intensive program or once a week over 12 weeks. Participants receive a Rutgers Certificate and are eligible to waive up to 3 elective credits in the full-time MBA programme.</p>
<p>[JE]</p>
<p>The <a href="http://www.chicagotribune.com/news/education/ct-talk-iit-ipads-0519-20100518,0,156235.story" rel="nofollow">Illinois Institute of Technology</a> will give all freshmen an iPad this autumn, costing the university $250,000.&nbsp; Students will be able to download lecture notes and PowerPoint presentations and call them up during class, as well as being able to read books, check e-mail and surf the Internet.&nbsp; Tuition fees will be $31,363 but the university says students should consider the iPad a gift, as costs were not factored when tuition costs were set.</p>
<p>[Agnes Kukulska-Hulme]</p>
<p>Sue Halpern assesses <a href="http://www.nybooks.com/articles/archives/2010/jun/10/ipad-revolution/?page=1" rel="nofollow">the iPad revolution</a> in the New York Review of Books, looking at some of the realities and hype behind its development and launch, and the likely impact on book and eBook sales, and on other devices such as Nook and Kindle.</p>
<p>[Richard Easterbrook]</p>
<p>Authors Neal Stephenson and Greg Bear are writing a serial novel, <a href="http://news.cnet.com/8301-13772_3-20005982-52.html?part=rss&subj=news&tag=2547-1_3-0-20" rel="nofollow">The Mongoliad</a>, for the iPad.&nbsp; Set during the Mongol invasion of Europe in 1241, the novel will be interactive and will include re-enactments of sword fights; guest authors (but not the general public) will also be invited to contribute.</p>
<p>[JE]</p>
<p>Australian JetStar airways is about to trial <a href="http://www.engadget.com/2010/06/04/jetstar-airways-first-to-rent-out-ipads-only-8-40-a-flight/" rel="nofollow">iPads for in-flight entertainment</a> on trips exceeding 90 mins, for a hire fee of $10 Aus (approx &pound;6).</p>
<p>[Engadget]</p>
<p>If imitation is the sincerest form of flattery, Steve Jobs must be chuffed to bits with these seven <a href="http://www.crunchgear.com/2010/05/28/the-top-seven-ipad-knockoffs/" rel="nofollow">Chinese iPad clones</a>&hellip;</p>
<p>[TechCrunch]</p>
<p>&hellip;but he may have less to fear from <a href="http://community.livejournal.com/vintage_ads/1949523.html" rel="nofollow">Radio Shack</a>.</p>
<p>~~~~~~~~</p>
<p><strong>Twitter in HE</strong></p>
<p>Is <a href="http://elearnmag.org/subpage.cfm?section=articles&article=123-1" rel="nofollow">Twitter</a> a solution looking for an academic problem?&nbsp; Can meaningful education take place in 140 character-chunks?&nbsp; Hend Suliman Al-Khalifa&rsquo;s article in eLearn Magazine considers the issues, including a recent survey of more than 2,000 US HE professionals which found that, &ldquo;more than half the surveyed faculty members think Twitter has no future in academia or potential use in higher education&rdquo;.</p>
<p>[eLearn Magazine]</p>
<p>Tell that to Jane Hart.&nbsp; She used Twitter to deliver a <a href="http://janeknight.typepad.com/pick/2010/05/using-twitter-to-deliver-a-collaborative-keynote.html" rel="nofollow">collaborative keynote presentation</a> at a recent conference on Ireland and three <a href="http://janeknight.typepad.com/pick/2010/05/social-learning-an-explanation-using-twitter.html" rel="nofollow">collaborative workshops on social learning</a> in London.&nbsp; She also recommends, as a variation on a theme, <a href="http://hootcourse.com/" rel="nofollow">HootCourse</a>.&nbsp;</p>
<p>[Jane Hart]</p>
<p>Twitter COO Dick Cosotolo reports that the company is now attracting 190 million visitors per month and generating <a href="http://techcrunch.com/2010/06/08/twitter-190-million-users/" rel="nofollow">65 million Tweets a day</a>.</p>
<p>[TechCrunch]</p>
<p>~~~~~~~~</p>
<p><strong>Are the New Millennium Learners Making the Grade?</strong></p>
<p>A new <a href="http://www.oecdbookshop.org/oecd/display.asp?k=5KSCG4J39DHB&lang=en" rel="nofollow">OECD report</a> analyses to what extent investments in technology enhance educational outcomes.&nbsp; One of the most striking findings is that the digital divide in education goes beyond the issue of access to technology (less than 1% of 15-year-olds in the 30 OECD countries has never used a computer).&nbsp; A second form of digital divide has been identified: the one existing between those who have the right competencies to benefit from computer use, and those who do not.&nbsp; (Follow the &lsquo;look inside&rsquo; link for a full version but with limited functionality).</p>
<p>[Tony Bates]</p>
<p>Support for this perspective also comes from a recent Cengage/Eduventures survey, <a href="http://www.cengage.com/trends/pdf/Survey Release and Results.pdf" rel="nofollow">Debunking the Digital Native Myth: HE Students Ask for More Support in Using Classroom Technology</a>.&nbsp; They found that 65% of instructors think students are tech savvy when it comes to using digital tools in the classroom.&nbsp; Conversely, only 42% of students believe there is enough support for educational technology.</p>
<p>[JE]</p>
<p>Never mind.&nbsp; At least the UK has organisations such as <a href="http://www.guardian.co.uk/technology/2010/may/24/becta-government-closure" rel="nofollow">Becta</a> to help move things forward&hellip;</p>
<p>~~~~~~~~</p>
<p><strong>Online English Language Education Market Growing by 22%</strong></p>
<p>A new report by Ambient Insight, <a href="http://www.ambientinsight.com/Reports/eLearning.aspx" rel="nofollow">The Worldwide Market for English Language Education Self-paced eLearning Content: 2009-2014 Forecast and Analysis</a>, suggests the worldwide demand for English language education e-Learning content is growing at a five-year rate of 22.1%, with revenues reaching $1.69 billion by 2014.&nbsp; In 2009, English language education e-Learning content accounted for 51% of all language-related revenues, but this is predicted to rise to 68% by 2014.</p>
<p>[JE]</p>
<p>~~~~~~~~</p>
<p><strong>Learning and Talent Development</strong></p>
<p>The <a href="http://www.cipd.co.uk/NR/rdonlyres/BC060DD1-EEA7-4929-9142-1AD7333F95E7/0/5215_Learning_talent_development_survey_report.pdf" rel="nofollow">CIPD&rsquo;s L&amp;D survey</a> is a good barometer of what&rsquo;s going on in the industry and their 12<sup>th</sup> annual report has just been released.&nbsp; This takes soundings from 724 L&amp;D professionals, mostly UK based and approx two-thirds to one-third private/public sector.&nbsp; eLearning shows the greatest increase in uptake since last year - now used by 62% of organisations - as opposed to conferences and workshops which show a 26% decline.&nbsp; However, on 12% of respondents rated eLearning as &lsquo;most effective&rsquo;.</p>
<p>[Clive Shepherd]</p>
<p>CIPD&rsquo;s former L&amp;D adviser, Martyn Sloman, upped sticks a couple of years ago and decamped to Australia.&nbsp; He is one of the contributors to the inaugural issue of <a href="http://journal.elnet.com.au/index.php?journal=impact" rel="nofollow">Impact</a>, the online journal of the eLearning Network of Australia.</p>
<p>[Tony Bates]</p>
<p>~~~~~~~~</p>
<p><strong>Virtual Sistine Chapel</strong></p>
<p>This Vatican-based site presents a 360 degree <a href="http://www.vatican.va/various/cappelle/sistina_vr/index.html" rel="nofollow">virtual Sistine Chapel</a> in Flash.&nbsp; It&rsquo;s very nicely done, complete with choral background music, and is much more zoomable (without degradation) than many of these 360 models.</p>
<p>[Chris Hough]</p>
<p>~~~~~~~~</p>
<p><strong>Legal Action over e-Reserves</strong></p>
<p>Academic publishers taking legal action against four individuals at Georgia State University in respect of the practice known as <a href="http://www.publishersweekly.com/pw/by-topic/industry-news/publisher-news/article/43500-a-failure-to-communicate.html" rel="nofollow">e-reserves</a>, or electronic reserves, on college campuses and the murky contours of copyright and fair use in the digital age. &nbsp;The traditional library reserve model gives permission for a limited number of physical copies of articles or a book chapter to be made available for students but, in the digital world, that's all changed and publishers are concerned about the lack of control.&nbsp; What makes this novel (excuse the pun) is that the publishers are in essence suing their very partners in the scholarly publishing enterprise (including a university librarian).</p>
<p>[Pete Mitton]</p>
<p>~~~~~~~~</p>
<p><strong>Alison Free eLearning</strong></p>
<p><a href="http://alison.com/AllCourses" rel="nofollow">Alison.com</a> has just released 3 secondary-level chemistry e-learning courses, taking their total collection to over 100 free modules.&nbsp; This wide-ranging list includes academic topics, business skills, health &amp; safety and ICT &ndash; including some in Arabic.</p>
<p>[eLearning Guild]</p>
<p>~~~~~~~~</p>
<p><strong>No, the Internet Won&rsquo;t Make You Stupid</strong></p>
<p>There&rsquo;s been lots written by educators and psychologists about the power/threat of the internet in terms of <a href="http://techcrunch.com/2010/06/13/no-the-internet-wont-make-you-stupid/" rel="nofollow">what and how we learn</a>.&nbsp; Just for a change, TechCrunch brings a slightly different perspective, based on Nick Carr&rsquo;s recent book, The Shallows: What The Internet Is Doing To Our Brains.&nbsp; Carr notes that, &ldquo;What we seem to be sacrificing in all our surfing and searching is our capacity to engage in the quieter, attentive modes of thought that underpin contemplation, reflection and introspection.&nbsp; The Web never encourages us to slow down.&nbsp; It keeps us in a state of perpetual mental locomotion.&rdquo;</p>
<p>[TechCrunch]</p>
<p>~~~~~~~~</p>
<p><strong>Shorts&hellip;</strong></p>
<ul>
<li>Novelty of the month &ndash; a felt-tip-pen-based <a href="http://www.engadget.com/2010/06/02/lego-printer-writes-hello-world-with-felt-tipped-pen-video/" rel="nofollow">printer constructed entirely from Lego</a> (90sec video).&nbsp; [Engadget]</li>
<li>Edu-tastic (yes, really) brings us <a href="http://bestonlineuniversities.com/2010/25-e-learning-education-start-ups-that-could-change-the-world/" rel="nofollow">25 e-Learning &amp; Education Start-ups That Could Change the World</a>.&nbsp; [JE]</li>
<li>Libya wants to collaborate with the UK to develop a <a href="http://www.universityworldnews.com/article.php?story=20100514205127437" rel="nofollow">&lsquo;multiversity&rsquo; to serve Libya</a> and other parts of Africa.&nbsp; [University World News]</li>
<li>Issue 2 of Dutch ICT in HE magazine, <a href="http://www.surf.nl/en/OverSURF/Publicaties/Documents/SURF02_2010_UK.pdf" rel="nofollow">Surf</a>, leads with an article on digital assessment.&nbsp; [ALT]</li>
<li>Presence TeleCare are offering <a href="http://presencetelecare.com/" rel="nofollow">distance speech therapy</a> using interactive online activities with video conferencing.&nbsp; [Elliott Masie]</li>
<li>If you just happen to be doing quantitative research into <a href="http://www.statcan.gc.ca/daily-quotidien/100510/dq100510a-eng.htm" rel="nofollow">Canadian internet use</a>, here&rsquo;s a big bucket of data for you.&nbsp; [Tony Bates]</li>
<li>The University of Bergen has made 5,000 pages of <a href="http://www.wittgensteinsource.org/" rel="nofollow">Wittgenstein&rsquo;s writings</a> available for open access.&nbsp; [University World News]</li>
<li><a href="http://finance.paidcontent.org/paidcontent/?GUID=13115937&Page=MediaViewer&Ticker=AMZN" rel="nofollow">AmazonCrossing</a> is acquiring the rights to foreign language books which it will translate and publish in English.&nbsp; [The Xplanation]</li>
<li>Apple and Microsoft are now equal in terms of <a href="http://www.engadget.com/2010/05/26/apple-and-microsoft-now-neck-and-neck-in-market-capitalization/" rel="nofollow">market capitalisation</a>, at just under $230bn each.&nbsp; [JE]</li>
<li>During April 2010, 178m US web users watched <a href="http://bits.blogs.nytimes.com/2010/06/01/youtube-dominates-online-video-views/?partner=rss&emc=rss" rel="nofollow">online video</a>; YouTube served more than 13 billion clips.&nbsp; [The Xplanation]</li>
<li>There are already more than <a href="http://techcrunch.com/2010/06/11/10000-ipad-apps/" rel="nofollow">10,000 iPad apps</a> available.&nbsp; [TechCrunch]</li>
</ul>
<p>~~~~~~~~</p>
<p><strong>And Finally&hellip;</strong></p>
<p>Donald Clark rants about waste, inefficiency and <a href="http://donaldclarkplanb.blogspot.com/2010/05/eurozzzzzzzzone.html" rel="nofollow">pointless European Union-funded projects</a> before settling on <a href="http://donaldclarkplanb.blogspot.com/2010/05/donkeypedia-dumb-ass-idea-donkeypedia.html" rel="nofollow">Donkeypedia</a> as the most extreme example: &ldquo;7 million Euros to send a donkey around Europe with a solar panel, video camera and GPS, for marking images and videos on a map&rdquo;.</p>
<p>[JE]</p>
<p>Donkeypedia may be profligate, but at least it&rsquo;s democratic, unlike a recent vote on a new drink-driving law in the Russian State Duma which was passed on its first reading by more than 440 members, even though only 88 were present - this <a href="http://www.youtube.com/watch?v=3-gVSKARKPM#t=0m35s" rel="nofollow">YouTube clip</a> shows how.</p>
<p>[Paul Hollins]</p>
<p>~~~~~~~~</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/3956">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/3956">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/3956/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/3956/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/3956">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/digest">digest</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/e-learning">e-learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/elc">elc</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/news">news</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/report">report</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/technology">technology</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/trends">trends</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/3956">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1967">e-Learning Digest</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/3956">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/3956">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/3956">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/3956">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/3956">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/3956">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="69"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 69) </script>
	</body>
</html>
