<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Demo #10 - 12.30 - 13.00 - Dynamic Learning Maps (DLM), Newcastle University - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Demo #10 - 12.30 - 13.00 - Dynamic Learning Maps (DLM), Newcastle University</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/4244">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1121 views</div></li>
        </ul>
</div>                
                    <p>This is a demonstration of ‘Dynamic Learning Maps’ </p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/2269" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/2269" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">JIF2010</a><br />
        28 July 2010</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>This is a demonstration of &lsquo;Dynamic Learning Maps&rsquo; which provide Web-based navigable maps of formal curricula, which individuals can extend and add personal notes/reflections, make connections between different parts of their map, and share/rate external learning resources. Different stakeholder perspectives (learners, teachers, curriculum managers) and evaluation findings will be discussed.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-760"></a>
			<p><strong>Live blog</strong></p>
<p>Before we start, here's a link to the <a href="http://learning-maps.ncl.ac.uk/" rel="nofollow">Dynamic Learning Maps</a> website</p>
<p>Simon Cotterill will be leading this lunchtime session.</p>
<p>Delegates in the room are already billing this as the session where you can "come and see the future". Sounds intriguing...</p>
<p>This project provides online curriculum maps. It will be running to the end of march and is piloting in medicine, but should be able to be used in lots of other contexts.</p>
<p>The concept:</p>
<p>A core component is the Curriculum Map. (Especially important for the complex curriculums in medicine.)</p>
<p>Personalised Learning is also important. It's not just one-way map. Students can add reflective notes and links to external resources and co.</p>
<p>It all ties in to the interactive web 2.0 approach.</p>
<p><strong>Maps as a metaphor</strong>:</p>
<p>Where have I been? - it should be able to help with revision.</p>
<p>Where am I now? - promotes contextualisation and connections between modules</p>
<p>Where am I going? Helps understanding of complicated curricula, curriculum choices and co.</p>
<p><strong>Stakeholders include:</strong></p>
<p>Teachers</p>
<p>Learners</p>
<p>Curriculum Managers</p>
<p>Admins</p>
<p>External regulators</p>
<p>It helps people find where their speciaility is covered in teh curriculum...</p>
<p>Oh! We're now looking at what Simon has described as "a horrifying technical diagram". It basically shows all the resources that Learning Maps can draw on to get its resources, such as library databases and similar. There are lots of them - and lots of oarrows. It also shows where Learning Maps can add to - such as learning resources and Life Long Learning records...</p>
<p>Clearly is has plenty of uses!</p>
<p>Simon also points out that the project has the potential to aid in monitoring and identifying gaps in teaching.</p>
<p>Well that all sounds useful. We're going onto the demonstration now.</p>
<p>We're told that the views that students get vary on a programme by programme basis.</p>
<p>The programme is bringing up a series of flow charts with links within them - leading to more charts! - and resources. Cleverly, as you click on a section within the chart it expands out and brings up more content...</p>
<p>(There are a few screenshots of the resource <a href="http://learning-maps.ncl.ac.uk/" rel="nofollow">on the project website </a>so you can see what I mean, although sadly, at the moment you need a Newcastle University login to really test it out.)</p>
<p><br />There's also the potential to display external resources inline.</p>
<p>We'renow&nbsp; looking at the facility to add reflexive comments, which seems nice and straight forward.</p>
<p>We've just had&nbsp; question checking that everyone has private individual access and data, which Simon confirms.<br /><br />The model is based on a connected note approach - almost like a neural network, says Simon. The more connections that are made the stronger the links get. Which gives us powerful information for filtering the most relevant data.</p>
<p>Now we're doing a search - on 'kidney' - a lot of records have come up and Simon is filtering it now based on where it's taught within the curriculum.</p>
<p>It's not just as imple match of the word, says Simon, because it's building on the connections. So it also brings in modules relating to&nbsp; - say -&nbsp; 'renal' and similar too.</p>
<p>Simon has now taken us back to the top level of the map, where there are links to careers and similar. Oh and we're looking at some painful looking medical images... of teeth and a wide open mouth... ouch!</p>
<p>So that proves there are lots of useful pictorial resources on the site too.</p>
<p>Simon is now telling us about the evaluation they've done on the resource. The main piloting will start in September, but there have been focus groups already. Psychology students were very interested in module choices.&nbsp; Speech therapy students were interested in the way the resource could iron out duplication of teaching. Users also stressed the importance of being able to choose between text based tree lists and visual mind maps.</p>
<p>Some medicine students were worried that&nbsp; it looks complicated but some thought it "was the best thing since sliced bread".</p>
<p>The&nbsp; majority of medical students surveyed so far suggested that it would help them understand the MBBS curriculum.</p>
<p>Most thought it was easy enough to use too and would benefit their learning. Plus it would be useful for reviewing and reflecting after a session and for wider revision.</p>
<p>So, all the current indications are good...</p>
<p>A delegate has asked how students access the system.</p>
<p>Through Blackboard, the VLE or independently, says Simon.</p>
<p>"It's looking really fabulous!" says a delegate. That's a nice note to end the session on. Let's hope the pilots go well...</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/2992" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/2992">Sam Jordison</a>					<br /> 11:26 on 29 July 2010																	(Edited 12:08 on 29 July 2010)
																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4244">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/4244">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/4244/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (1)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/4244/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">
	<ul class="arrows">
	    	        <li class="cloud-link"><a name="link-3922" href="http://learning-maps.ncl.ac.uk/"  rel="nofollow" class="">Dynamic learning maps website</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/983'>Rebecca Galley</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/4244/3922">recommend</a></small>
	            	        </li>
	    	</ul>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/4244">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4244">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2073">JISC Innovation Forum 2010 (JIF2010)</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/4244">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4244">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4244">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/4244">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/4244">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/4244">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="3"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 3) </script>
	</body>
</html>
