<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>UNESCO Policy Forum - Mainstreaming Open Educational Practices (OPAL, CONCEDE) - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>UNESCO Policy Forum - Mainstreaming Open Educational Practices (OPAL, CONCEDE)</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/5957">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">992 views</div></li>
        </ul>
</div>                            Deadline: 14 November 2011<br /><br />
        
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://www.oer-quality.org/policyseminar"  rel="nofollow">http://www.oer-quality.org/policyseminar</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/981" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/981" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">ELPIDA MAKRIYANNIS</a><br />
        15 November 2011</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

            </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1332"></a>
			<p align="center"><strong>Mainstreaming Open Educational Practice</strong></p>
<p align="center"><strong>Joint policy forum of the OPAL and&nbsp;CONCEDE Projects</strong></p>
<p><em>Key messages from the event:</em></p>
<p><ol>
<li>How can the quality of user generated content be described so that institutions can become confident to view learning as a productive process - students involved in content production and sharing. How can this be carried through to the management of the institution?&nbsp;A piece of resources that is developed by students that can play a role in the leaning of the students of the next year. This is where adoption takes place and the institution criteria for quality assuring learning from the quality reception on leaders.&nbsp;</li>
<li>Get students to create their own content makes teachers to think more about their learning design.&nbsp;How to network and link students together. Peer review their results.</li>
<li>Nodes of particular knowledge exist but they are not on the same map. You need to have them on the same map with the same parameters.&nbsp;</li>
<li>In terms of policy it's crucial that there is a clarity. Compare benefits and disadvantages.&nbsp;Internationally open for inputs. Focus is on developing countries. How should an institution use it, to their own frameworks and priorities, it's up to the institution and the stakeholders themselves. Different frameworks for the different frameworks that are out there.</li>
<li>Appropriateness of content for teaching and learning is different for different stakeholders. A framework within which people can make their own judgements.&nbsp;Academics tend to use framework within their own teaching practice. Evaluation and accreditation is still crucial.</li>
<li>Guidelines of UNESCO not talking about pedagogy, don't tell how people are teaching.</li>
<li>Making a course into a true OER, you can tap into a much bigger user base of professors to improve the quality of the course. Encourages competion and also collaboration.</li>
<li>Mobile based OER could be the way forward to help with outreach and the increasing numbers of people who want a higher education &nbsp;in developing countries.&nbsp;</li>
<li>Focus on increasing the number and quality of the research chairs internationally. Research chairs to produce empirical evidence that OER works.</li>
<li>Events: 20-22 June - World OER Congress.&nbsp;Showcase the worlds best practices. Six global events leading up to the world conference. Regional events working on the declaration based on needs.</li>
<li>What happens when openness comes into a closed institution?</li>
<li>Is it innovative to use OER and if so why? No it can also be non-innovative.&nbsp;How to describe innovation? When a student is allowed to determine his learning objectives and pathways. Open educational scenarios matrix (Matrix side 1: No use to alot of use of OER; Matrix side 2: Very closed to very open). Use guided and free approached and bring in achievements from both sides, like an OER portfolio.&nbsp;</li>
<li>What are the drivers and motivations for the institutions to use OER?</li>
<li>How to measure OER quality: cost sharing;&nbsp;timely updating; number of learners.</li>
<li>Confusion between open and free in materials and technologies. A lot of practitioners are using tools put online free but not necessary open. Tools or platforms that people believed were free and now are ceasing to exist or are become closed. Encourage providers to make a policy of sharing materials that they produce through assignment of a cc license or similar process.&nbsp;</li>
</ol></p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;<strong style="text-align: -webkit-auto; ">AGENDA</strong></p>
<p><strong>Opening Ceremony </strong></p>
<p><strong>Chair: </strong>Roberto Carneiro, Prof. Universidad Catolica, Lisbon, Portugal</p>
<p>General Rapporteur :&nbsp; Anthony F. Camilleri (EFQUEL)</p>
<ul>
<li>Opening and Welcome: <br /> Indrajit Banerjee, Director, Knowledge Societies &nbsp;UNESCO</li>
</ul>
<ul>
<li><strong>Keynote Speech 1</strong>: Setting the Scene - The Open Educational Quality Initiative <br /> Grainne Conole, Professor of Learning and Innovations, University Leicester, UK</li>
</ul>
<p>&nbsp;</p>
<ul>
<li><strong>Keynote Speech 2</strong>: Setting the Scene - The CONCEDE project on User Generated Content<br /> Ulf-Daniel Ehlers, Professor of Educational Management and Lifelong Learning, Vice President for Quality and Academic Affairs, Baden-Wuertemberg Corporative State University, Stuttgart, Germany &nbsp;</li>
</ul>
<p>&nbsp;</p>
<p><strong>Understanding the Critical Issues of Open Education: Thematic Table Discussion on the relevant themes for mainstreaming Open Educational Practice</strong>&nbsp;&nbsp;</p>
<ul>
<li> 
<ul>
<li>UNESCO OER Programme, Abel Caine, UNESCO</li>
<li>Assessment of OEP, Chahira Nouira and Maike       Schankser, United Nations University, SCIENTIA</li>
<li>Quality of User Generated Content, Thomas Kretschmer,       Institute for Learning Innovations, Erlangen, Germany </li>
<li>Pedagogical Innovation, Ulf-Daniel Ehlers, Baden-Wuertemberg Corporative State       University, Stuttgart, Germany&nbsp; </li>
<li>Policies for Open Educational Practices, Zeynep       Varoglu, UNESCO</li>
</ul>
</li>
</ul>
<p><strong>Taking Open Educational Practice into the Future</strong></p>
<ul>
<li><strong>Keynote Speech</strong>: UNESCO/COL Partnership for OER: Guidelines and World Congress. Zeynep Varoglu and Abel Caine (UNESCO)</li>
</ul>
<ul>
<li><strong>Keynote Speech</strong>: &nbsp;Taking Open Educational Practices into the Future, Rory McGreal, Athabasca University</li>
</ul>
<ul>
<li><strong>Keynote Speech</strong>:&nbsp; Open Educational Practices as an enabler for Adult Education, Alistair Clarke, NIACE</li>
<li>Overview of the 8 Open Educational Practices (OEP) Dimensions from the OPAL Guide, Ulf-Daniel Ehlers, Baden-Wuertemberg Corporative State University, Stuttgart, Germany &nbsp;&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p><strong>Workshops (60min.)</strong>: Discussions will focus on 4 selected Dimensions from the OPALGuideline for Quality and Innovation of Open Educational Practices and investigate the question:</p>
<div>
<ul>
<li> &ldquo;How can we create conditions to take OEP into the future and to be mainstreamed?&ldquo; <br /> <br /> <strong>OEP Dimensions in Focus: </strong> 
<ul>
<li>Pedagogical Dimensions for OEP </li>
<li>Motivational Framework and Usage of OEP in an Organization </li>
<li>Quality Concepts for Open Educational Practices and User Generated Content</li>
<li>Knowledge and Skills for Open Learning architectures &amp; Digital Literacy</li>
</ul>
</li>
</ul>
<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
<div><strong> Stakeholder Reactions:</strong></div>
<ul>
<li>General Rapporteurs Present &nbsp;overall conclusions of the day, including from workshops, and sum of data.</li>
<li>Plenary Stakeholder Panel with Reactions, Moderation Roberto Carneiro, Universidad Catolica, Lissabon &amp; Grainne Conole, University Leicester</li>
<li> Representatives of: European Quality Assurance, Universities, Learners, Research Institutions (names tbc) Introduction to the Workshops &ldquo;Developing the conditions to take OEP into the future</li>
</ul>
</div>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/981" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/981">ELPIDA MAKRIYANNIS</a>					<br /> 11:21 on 15 November 2011																	(Edited 12:00 on 15 November 2011)
																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/5957">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/5957">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/5957/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/5957/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/5957">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/5957">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/5957">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/5957">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/5957">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/5957">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/5957">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/5957">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="1"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 1) </script>
	</body>
</html>
