<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Hweeshan's OLDS MOOC Learning Journal: Week 2 - Initial Scenario - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Hweeshan's OLDS MOOC Learning Journal: Week 2 - Initial Scenario</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/7738">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">566 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5892" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Tay Hwee Shan</a><br />
        23 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p class="c1"><em><br /></em><strong>TITLE: Sparking and Sustaining Learner Interest in Arithmetics through Custom Mobile Apps</strong></p>
<p class="c1"><em>1) Brainstorm components of your scenarios +&nbsp;2) Develop a narrative scenario/s (in whatever form you prefer).</em></p>
<p class="c1"><strong>Actors&nbsp;(who is involved?)</strong></p>
<ul>
<li><strong>&nbsp;</strong>Amy, the owner of a learning centre specialised in teaching Arithmetics to all ages, using a proprietary, in-house developed teaching methodology.</li>
<li>Other owners of various learning centres who carry the licenses to Amy's proprietary teaching methodology. They are facing stagnant or decreasing enrollment rate, and reflected the need for Amy's methodology to increase in publicity and gain higher popularity, but they cannot do it alone.</li>
<li>Joe, an adult having a full-time office job. Father of two schooling children. Wants his children to pick up new skills but cannot afford to send them to enrichment classes too often due to time and monetary constraints.</li>
<li>Jack and Jill, children of Joe. Grew up in the digital age and are "digital natives". Very comfortable with using mobile devices for work and play.</li>
</ul>
<p class="c1"><strong>Goals&nbsp;(why?)</strong></p>
<ul>
<li>Amy wants to push parts of the foundational levels of her Arithmetic courses into bite-sized nuggets contained in a custom mobile app. It aims to engage a wider audience, especially the tech-savvy younger generation, and get them to be interested in her courses, with little to no monetary cost. The ultimate goal is to increase the general public's awareness of her courses, and attract them to sign up for more advanced face-to-face courses at any of the learning centres carrying her teaching methodology.</li>
<li>Joe wishes to upgrade his own skills in Arithmetic, having had a bad mathematical foundation as a child. He needs a flexible learning environment that can be catered to his work schedule. At the same time, he wishes to try out new learning methods and pass them on to his children if he finds them useful.</li>
<li>We (the designers) want to be able to craft out a syllabus that is just enough for the bite-sized learning nuggest for the mobile app. The level of difficulty and the amount of information should be balanced accordingly to achieve the best results in sparking and sustaining learner interest, just enough for learners to desire for more and sign up for the face-to-face advanced classes.</li>
</ul>
<p class="c1"><strong>Settings&nbsp;(where &amp; when?)</strong></p>
<ul>
<li>For Joe, much of the learning through mobile apps will be done either at home or while on routine travelling to and fro workplace, or when taking breaks in between work in the office.</li>
<li>Timing will be most likely in the early morning, late evening, at night, or during the weekends. He will be in a relaxed state of mind and does not wish to look at something heavy in content and hard to digest.</li>
</ul>
<p class="c1"><strong>Objects&nbsp;(what things are involved?)</strong></p>
<ul>
<li>Smartphones, mobile apps, possibly emails</li>
</ul>
<p class="c1"><strong>Actions&nbsp;(what happens to actors?)</strong></p>
<ul>
<li>Joe sees an advertisement on the mobile app store on a new education app that teaches foundational skills in Arithmetic using a special methodology. He identifies a need for improving his own Arithmetic skills and decides to download the app to try it out. Once downloaded, he receives bite-sized instructions and simple arithmetic exercises to warm him up to the learning environment. The exercises are progressive in difficulty and interspersed with highly engaging and interactive instructions that slowly imparts the skills of the special methodology to him. With every finished exercise, a reward is earned.</li>
</ul>
<p class="c1"><strong>Events&nbsp;(what do actors do?)</strong></p>
<ul>
<li>Joe actively progresses with the first few exercises, but work got busier for him and he could not afford the time to continue with the "course" halfway through. He stops using the app for a month, and after he has cleared a major project at work, he continues with the app, as he was highly motivated by the rewards given and also his personal desire to improve his Arithmetic skills.</li>
</ul>
<p class="c1"><strong>Results&nbsp;(what is achieved?)</strong></p>
<ul>
<li>Joe finishes the "course" on the app and found that he has indeed learnt a new skill. He is pleased with the final reward, and decides to download the same app onto his children's smartphones, for their learning.</li>
<li>Joe's children found the app equally engaging and enriching. Joe decides to send them for the more advanced face-to-face courses at the nearest located learning centre offering the course.</li>
<li>Amy found a positive correlation between the number of downloads of the app, and the enrollment rate of her courses. She concludes that the app has fulfilled its goal in publicity and sustaining learner interest in her course.</li>
</ul>
<p class="c1"><strong>Your design:&nbsp;(what role does your design play?)</strong></p>
<ul>
<li>Our design helps Joe to: learn a new skills in a relaxed and informal environment, manage his own learning schedule, at little to zero monetary cost.</li>
</ul>
<p>&nbsp;</p>
<p class="c2 c1"><em>3) Scrutinize your scenarios.</em></p>
<p class="c1"><strong>What claims are you making for your designs, about context, people, etc? Do they hold up?</strong></p>
<p class="c1">I&rsquo;m claiming:</p>
<ul>
<li>completion of the mobile app course will spark sufficient interest for learners to continue with the face-to-face course.</li>
<li>the instructions and exercises in the mobile app are sufficiently engaging to sustain learner's interest in an informal environment</li>
<li>extrinsic rewards given within the app are sufficient to sustain learner's motivation, along with the fact that the learner has enough intrinsic motivation to complete the course.</li>
<li>successful publicity of the app has been done during the app's launch, to gain a significant user base.</li>
</ul>
<p class="c2 c1">&nbsp;</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7738">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/7738">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/7738/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/7738/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7738">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7738">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2790">Hweeshan's OLDS MOOC cloudscape</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/7738">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7738">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7738">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/7738">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7738">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/7738">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
