<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>OER Module for Teacher Training - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>OER Module for Teacher Training</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6778">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1238 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/6778">1 favourite</a>        </li>
        </ul>
</div>                
                    <p>OER module for online course, using dreambazaar template</p>
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://publish.myudutu.com/published/evaluations/4599/Course20003/v2012_1_23_7_13_54/course/course20003.html"  rel="nofollow">http://publish.myudutu.com/published/evaluations/4599/Course20003/v2012_1_23_7_13_54/course/course20003.html</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/4393" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/4393" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Ida Brandão</a><br />
         8 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>I would like to develop an OER module for Teacher Training as a learning design project.</p>
<p>Eventually, I would like to join other colleagues interested in such a project.</p>
<p>Two years ago, I have tried to create a module (in portuguese) in MyUdutu tool (to make the watermark disappear click on it) . I would like to review and update&nbsp;it.</p>
<h1 id="internal-source-marker_0.5291041808310389" dir="ltr">Ida Brand&atilde;o: OER module for teacher training</h1>
<p>Tags:OER, teacher training, online learning</p>
<h2 dir="ltr">Your situation (context)</h2>
<div dir="ltr">
<table style="border-collapse: collapse;" border="0"><colgroup> <col width="510" /> <col width="114" /></colgroup>
<tbody>
<tr style="height: 0px;">
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">I work in Special Needs field and I&rsquo;m involved in a european project (SENnet) that includes a teacher training workpackage.<br />An online course on &laquo;Inclusion and access to technologies&raquo; has been created and validated by the end of 2012, in Moodle platform of MoE, with a group of 23 SEN teachers (belonging to a network of ICT Resources Centres for Special Needs). The course started in 15 Oct and ended 7 December. <br />The course was a success, in spite of complaints about the short time to discuss and do assignments.</td>
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<p><br /><br /><br /></p>
<h2 dir="ltr">The change you would like to see (challenge)</h2>
<div dir="ltr">
<table style="border-collapse: collapse;" border="0"><colgroup> <col width="525" /> <col width="99" /></colgroup>
<tbody>
<tr style="height: 0px;">
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">An expansion of the course will take place this year. The idea will be to cover regular teachers (with SEN pupils). The course topics will be revised and an extra topic on OER will be added. The objective is to guide teachers to reuse, remix and produce resources that are accessible or turn them accessible. Issues related to inclusion policies and inclusion strategies and measures, learner-centred theories, universal design for learning, web accesibilities and assistive technology, OER and use of free Web 2.0 tools will be addressed.</td>
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<p><br /><br /><br /></p>
<h2 dir="ltr">How you might go about bringing that change</h2>
<div dir="ltr">
<table style="border-collapse: collapse;" border="0"><colgroup> <col width="529" /> <col width="95" /></colgroup>
<tbody>
<tr style="height: 0px;">
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">A previous experience of adapting a course from Open University on OER has been tried with <a href="http://publish.myudutu.com/published/evaluations/4599/Course20003/v2012_1_23_7_13_54/course/course20003.html" rel="nofollow">UDUTU tool</a>, but was never tested and needs to be revised. <br />A constructivist approach has been followed in the previous online course, using individual e-portfolios and discussion forum per topic in Moodle. &nbsp;Alternative assignments are proposed on each topic. <br />The methodology worked well. <br />Reflection on issues addressed in each topic are proposed using different tools (presentation tools- ppt/slideshare/prezi; mind mapping tools...etc).<br />Creation of learning resources with free tools, pictographic/widgit symbols; book builder, JClic, etc.<br />Ideas from other colleagues of OLDS MOOC would be great.</td>
<td style="vertical-align: top; border: #000000 1px solid; padding: 7px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<p><br />Starting to design a learning unit (module)&nbsp;in UDUTU<br /><a href="http://publish.myudutu.com/published/launcheval/4599/Course87369/Launch.html" rel="nofollow">http://publish.myudutu.com/published/launcheval/4599/Course87369/Launch.html</a></p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1958"></a>
			<p><strong>(Scenario</strong>)</p>
<h3>TITLE: OER MODULE FOR TEACHER TRAINING&nbsp;</h3>
<h4>Actors&nbsp;(who is involved?)</h4>
<p>-Teachers dealing with SEN pupils</p>
<p>-Team of facilitators: senior officer of MoE and 2 (or more) coordinators of ICT Resources Centres for Special Needs, depending on the number of teachers/participants to enroll.</p>
<h4>Goals (why?)</h4>
<p>To train teachers to create, remix and reuse open educational resources, adapted to SEN pupils needs</p>
<h4>Settings&nbsp;(where &amp; when?)</h4>
<p>A new module on OER will be integrated in a revised course - Inclusion and Accessing Technology - in Moodle platform, during 2013. It may be developed in UDUTU authoring tool, as well.</p>
<p>Dates to test the next course edition will be discussed with ICT Resources Centres for Special Needs, since they'll be involved in identifying participants and provide eventual technical support (at local level).&nbsp;</p>
<h4>Objects (what things are involved?)</h4>
<p>Computer/laptop/tablet PC, Internet connection, course platform, email and free Web 2.0 tools.&nbsp;</p>
<p><strong>Actions&nbsp;(what happens to actors?)</strong></p>
<p>ICT Resources Centres for Special Needs will advertise the course/module to teachers in local schools, promoting small groups per school, to enroll in the course/module and thus acting as support peers.&nbsp; If required, the Centres will provide face to face help to deal with technical or instrumental issues.&nbsp;</p>
<p><strong>Events&nbsp;(what do actors do?)</strong></p>
<p>Gets the course starting email, registration and login access to platform, present guidelines of the course/module. Individual eportfolios will be requested to register reflections and results of assignments. Discussion forum will be used to comment assignments on a peer basis. Feedback from facilitators will be regular.&nbsp;</p>
<p><strong>Results&nbsp;(what is achieved?)</strong></p>
<p>Production of new OER, remixing or reusing in new learning contexts. Feedback of colleagues will be requested, eventual improvements will be desirable. A collection of eportfolios and a collection of products will be gathered in some curation/aggregation tool.&nbsp;</p>
<p><strong>Your design: (what role does your design play?)</strong></p>
<p>The design helps the learners to find their way into the topic of learning, manage the experiences, make useful connections and display what they produce.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 11:42 on 27 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1959"></a>
			<h3><strong>Narrative - story</strong></h3>
<h4>Title: OER Module (for teacher training)&nbsp;</h4>
<p>An online course - &laquo;Inclusion and Accessing Technology&raquo; - has been developed during 2012, targeting SEN teachers, in the scope of an european project (partners from IT, DK, BG, AT, EE, PT and Turkey).&nbsp; A new module will be added, this year, to provide capacity to create, remix and reuse open educational resources. The former course was run in Moodle platform and a selected group of SEN teachers was invited to test it and validate it. A next edition will be revised according to this course evaluation and will target to a larger scope of teachers, most of them regular teachers, whose classes include SEN pupils.&nbsp;</p>
<p>The former course goal was to address inclusion policies, review national and european strategies and legislation for special needs, educational modifications and adaptations for SEN pupils learning, universal design for learning and learner centred pedagogical theories, web accessibilities and assistive technology. Alternative assignments were proposed, with a large scope and flexibility for participants to choose what motivated them the most. Out of 26 participants, 23 were certified.&nbsp;</p>
<p>The evaluation of the course used a questionnaire in Moodle and a forum of discussion. A report was elaborated with tables generated by Moodle questionnaire and open comments as well as posts of the discussion forum. The degree of satisfaction was high. The critical issue pointed out by most participants was the short time for such an intensive course, which took about two months, totally online.&nbsp;</p>
<p>A&nbsp; new module on OER will have to get the contributions of european partners. As each partner will be free to adapt to its own national context, a great deal of flexibility will be granted for its development and adaptation. Each partner will not only translate it (or arts of it) but take into account national resources already created and used.&nbsp;</p>
<p>Requirements to participate in an online course were introduced in the guidelines of the first course as well as a list with a set of free Web 2.0 tools and respective tutorials (video/screencasts) for participants to experiment and use in their assignments.&nbsp;</p>
<p>To accomplish the learning outcomes and perform assignments, learners are expected to dedicate a few hours daily, to analyse, select and search resources addressing the topics, to perform tasks individually or in group, to collaborate and share with other peers opinions, findings and comment on each others works. Evidence will be presented in individual eportfolios in order to get a certificate of participation issued by DGEducation.&nbsp;</p>
<p>As the OER module will be integrated in a former course (though revised) it will have to follow the same consistent structure. In parallel, the same module with another design in another tool (UDUTU) will be developed.&nbsp;</p>
<p>Inclusion and Accessing Technology Course Procedures&nbsp;</p>
<p>One month before starting the course, the participants were identified and registered in Moodle platform of DG Education.&nbsp;</p>
<p>A first email was sent two weeks before starting, opening the introductory topic which included the course guidelines, so that participants might comment or make suggestions in a forum. Participants were also advised to start thinking of opening an individual eportfolio. Mahara open source was suggested (or any other tool). Mahara proved to be not so friendly as other tools, and many of the participants who had started to create eportfolios in Mahara decided to change later on to Blogger, Wordpress, Weebly, etc. Certification would be granted according to eportfolios.&nbsp;</p>
<p>The course started by mid-October and included 5 topics. Each week a new topic was opened, dedicating an extra week to present assignments and discuss them. The idea was to give flexible time, but some participants found that opening each week a new topic was to much pressure, since beyond the readings and searching, they were experimenting new tools to present their ideas and this took much more time. In the future we'll try to establish two weeks per topic.&nbsp;</p>
<h4>Course Guidelines (in Moodle ebook)</h4>
<ul>
<li>Introduction</li>
<li>Target public</li>
<li>Objectives</li>
<li>Contents/topics</li>
<li>Methodology /Virtual Learning Environment</li>
<li>Assessment</li>
<li>List of Web 2.0 tools and demos</li>
<li>Calendar of Activities&nbsp;</li>
</ul>
<h4>Topic structure</h4>
<ul>
<li>Introductory text contextualizing the theme</li>
<li>Screencast presenting the topic</li>
<li>Prezi addressing the theme, incorporating information and multimedia resources</li>
<li>Resources aggregated in Pinterest or mosaic webpages, other links to institutional documents and publications, to websites, etc.</li>
<li>Assignments - alternatives for individual or group assignments and deadlines</li>
<li>Discussion forum&nbsp;</li>
</ul>
<p>Certification was granted to those that aggregated all assignments of all topics in individual eportfolios and had a final reflection about the course.&nbsp;</p>
<p>Two Edcanvas were used to aggregate the individual eportfolios and a repository of all the participants' products, articles in pdf, diagrams in Bubbl.us, mindmaps in Mindmeister/ Mindomo/Cmap Tools/Mind42, comments in blogs, comment in Voicethread, presentations in Slideshare, Prezi, stories in Book Builder, games in JClic.&nbsp;</p>
<p>OER module in Moodle platform will follow the same methodology and structure, for reasons of consistency as a whole.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 11:45 on 27 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1960"></a>
			<h3>Bubll.us&nbsp;diagram</h3>
<h4>OER Module - screens in UDUTU&nbsp;</h4>
<p>&lt;iframe src="http://bubbl.us/view/b5956/26e656/74VGKiaijVQmA/" width="600" height="400"&gt;&lt;/iframe></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 11:52 on 27 January 2013																	(Edited 11:53 on 27 January 2013)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1961"></a>
			<h3>Gliffy workflow</h3>
<h4><strong>OER Module</strong></h4>
<p>&nbsp;</p>
<p><img src="http://www.gliffy.com/pubdoc/3471929/M.png" alt="" /></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 11:54 on 27 January 2013																	(Edited 11:55 on 27 January 2013)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1964"></a>
			<p>OER Module Soryboard in Glogster</p>
<p><a href="http://www.glogster.com/idabrandao/oer-module-storyboard-by-idabrandao/g-6l0a62mfp9ks0erqp5a5pa0" rel="nofollow">http://www.glogster.com/idabrandao/oer-module-storyboard-by-idabrandao/g-6l0a62mfp9ks0erqp5a5pa0</a></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 14:15 on 27 January 2013																	(Edited 14:15 on 27 January 2013)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1994"></a>
			<p>My experiences&nbsp;with PPC Tool - Pedagogical Pattern Collector</p>
<p><a href="http://oldsmooc1week4pedagogicalpatterns.pbworks.com/" rel="nofollow">http://oldsmooc1week4pedagogicalpatterns.pbworks.com</a></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/4393" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/4393">Ida Brandão</a>					<br /> 12:36 on  7 February 2013																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6778">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6778">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6778/comments#contribute">Discussion (2)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6778/links#contribute">Links (1)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6778">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/design">design</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/learning+unit">learning unit</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/module">module</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/OER">OER</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/training">training</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6778">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6778">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6778">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6778">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6778">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6778">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6778">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="5"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 5) </script>
	</body>
</html>
