<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>jonathan Vernon : the contents of my mind - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>jonathan Vernon : the contents of my mind</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/7258">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">849 views</div></li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="memory, minds, recall,forget, edit,share, "  rel="nofollow">memory, minds, recall,forget, edit,share, </a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/5930" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/5930" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Jonathan Vernon</a><br />
        13 January 2013</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        What tools, techniques and behaviours can be adopted in order to enhance and complement our memories? There are those attempting to record all that they do and say every day. Is this not the equivalent of hosrding? Is it a form of disorder? Could we record and editas we go along - or is this how our deliberateky forgetful minds work anyway?    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1802"></a>
			<p>I'm looking closely at the academic work done on Virtual Companions. Also at research at Mircrosoft and IBM on data capture, storage and referencing - of the 'recording your entire life' then thinking what tools, software capacities and other activites can help edit this content to give it value and worth.&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5930" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5930">Jonathan Vernon</a>					<br /> 22:50 on 17 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1903"></a>
			<p>Automatically assisting human memory:</p>
<p>A&nbsp;<a title="SenseCam Browser" href="http://sensecambrowser.codeplex.com/" rel="nofollow">SenseCam browser</a> (Microsoft). A wearable device that takes a picture every 22 seconds. Hodges et al (2006)</p>
<ul>
<li>Tools for lifelogging</li>
<li>Hundreds of thousands of images grabbed and presented to aid memory ... and memory rehabilitation.</li>
<li>Automatic content analysis techniques</li>
</ul>
<p><em>(There is a reason why we foget. The quote from James on the need to spend as much time recalling the record if everything is remembered is like that of Lewis Carroll and a map the size of the real world - neither had the advantage of limitless digital storage capacity and the ability to zoom in and out or back and forth - to expand time, not simply record it.).&nbsp;</em></p>
<ul>
<li>A visual record of your day. Berry et al (2007)</li>
<li>2000 to 5000 images a day</li>
</ul>
<p><strong>Best practice</strong></p>
<ul>
<li>Only activate the device for significant events</li>
</ul>
<p><strong>Methods of review</strong></p>
<ul>
<li>Clustered time view</li>
<li>Geographical map (required GPS)</li>
<li>Interactive story authoring</li>
<li>Motion sensors identify events - typically 20-30 in a day.</li>
</ul>
<p><strong>PROBLEMS</strong></p>
<ul>
<li>Cognitive overload</li>
<li>Keyframe image selection a human endeavour</li>
<li>An entusiastic lifelogger might expect to gather 100,000 images a month.</li>
</ul>
<p><strong>OF NOTE</strong></p>
<ul>
<li>Key frame selection only of note if it picked a poor image.&nbsp;</li>
</ul>
<p><strong>REFERENCE</strong></p>
<p>Berry, E., Kapur, N., Williams, L., Hodges, S., Watson,&nbsp;P., Smyth, G., et al. (2007). The use of a wearable&nbsp;camera, SenseCam, as a pictorial diary to improve&nbsp;autobiographical memory in a patient with limbic&nbsp;encephalitis. Neuropsychological Rehabilitation,&nbsp;17(4), 582601.</p>
<p>Hodges, S., Williams, L., Berry, E., Izadi, S., Srinivasan,&nbsp;J., Butler, A. et al. (2006). SenseCam: A retrospective&nbsp;memory aid. In UbiComp: 8th International&nbsp;Conference on Ubiquitous Computing, Vol. 4602&nbsp;LNCS (pp. 177193). New York, NY: Springer.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5930" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5930">Jonathan Vernon</a>					<br /> 09:59 on 23 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1904"></a>
			<p>Research appears to be on improving the lot of those with dementia or recovering from a stroke. Whilst testing a product or service in such an environment will reveal potentials and value my interest is in extending human capability, therefore using the device to support and enhanced the capacity to see, record, store, recall, reflect upon and use accurate, objective data about events and circumstances. Over time, for example, watching an artist at work, or gathering the output from a lecturer from lectures, talking with colleagues and in tutorials with students would build a picture of thise person as an educator and may help model moderators with some AI functionality.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5930" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5930">Jonathan Vernon</a>					<br /> 10:02 on 23 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1906"></a>
			<p><a href="https://picasaweb.google.com/lh/photo/dgjHp-Hus6T5Xuu7ShJD4dMTjNZETYmyPJy0liipFm0?feat=embedwebsite" rel="nofollow"><img src="https://lh5.googleusercontent.com/-axv3vla2K88/UP_PzXjg-TI/AAAAAAAAhnY/V1z0jE3uiD0/s800/Pairs.JPG" alt="" width="336" height="253" /></a>&nbsp;</p>
<p><em><strong>Fig.1. A game of pairs - our minds are far more interprative, chaotic and illogical when it comes to visual associations based on what we see around us.</strong></em></p>
<p>Automatically Augmenting Lifelog Events Using Pervasively&nbsp;Generated Content from Millions of People</p>
<p>In the pursuit of pervasive user-generated content (ugc) based on senors, by augmenting visual lifelogs with 'Web 2.0' content collected by millions of other individuals.&nbsp;</p>
<p>We present a system that realises the aim of using visual content and sensor readings passively captured&nbsp;by an individual and then augmenting that with web content collected by other individuals.&nbsp;Doherty and Smeaton (2009)</p>
<ul>
<li>Lifelogging, like keeping a diary, is a private and exclusive form of reverse surveillance. Doherty and Smeaton (2009)</li>
<li>Using SenseCam from Microsoft. Zacks (2006)</li>
<li>human memory operates by associating linked items together. Baddley (2004)</li>
<li>supportive of those patients suffering from early stage memory impairment. Berry e al (2009)</li>
<li>enhancing SenseCam gathered images by data mining from ugc sites such as Flickr and YouTube.&nbsp;Doherty and Smeaton (2009)</li>
<li>See also MyLifeBits. Bell and Gemmel (2007)</li>
<li>A commercial lifelogging product ViconRevue. <a title="OMG" href="http://www.omgplc.com/news" rel="nofollow">OMG</a></li>
<li>Flickr has over 95 million geo-tagged images. (2010)</li>
<li>YouTube has 100 million video views per day (2010) YouTube fact_sheet</li>
</ul>
<p>It has a camera and a range of other sensors for monitoring the wearer&rsquo;s&nbsp;environment by detecting movement, temperature, light intensity, and the possible presence of other&nbsp;people in front of the device via body heat.</p>
<p><em>(I'd like the sensecam to be smaller still and include a microchip in a swimmer's cap, or goggle or swimsuit to monitor various other factors, including heart rate, blood sugar levels and carbon dioxide).&nbsp;</em></p>
<p><em>How the mind disects, stores and correlates the information if gathers is somewhat different to the linear recording or cataloguing of current systems though.&nbsp;</em></p>
<p><em>After her first stroke a patient found engagement when otherwise unable to communicate by looking at family photographs on an iPad. After a second stroke the same patient, deemed incapable of comprehension or communication, responded to hundreds of images of paintings she had known in her lifetime - in particular responding to the question posed when looking at one painting. Where is it? Ans; Louvre. What is it? Mona Lisa. (Vernon, 2012)</em></p>
<p><em>A</em>s sensing technologies become more ubiquitous and wearable a new trend of lifelogging and&nbsp;passive image capture is starting to take place and early clinical studies have shown much promise in&nbsp;aiding human memory.&nbsp;Doherty and Smeaton (2009)</p>
<p>However, it is presumptious, prescritpive and even manipulative to assume that a person recalls 'more of the same' when visualing sensing or surveying a place. The foibles of the human mind and system is that noises and smell, the temperature and weather, and the time of day have a part to play. I visit Trafalgar Square and smell pigeons even though they are long gone. I visit Buckingham Palace and recall finding a woman dead on the pavement one late evening. I see snow and think of the broken leg I got from skiing in my teens - not snowmen. I see any icecream van and think specifically of Beadnell Bay, Northumberland.&nbsp;</p>
<p><em>The mind is far, far more complex than a fancy game of 'pairs'. I have perhaps 30,000 of my own images online, so why support, replace or supplement these with those taken by others? What if during my lifetime I tag, link and assocaite these images? How might these be linked to another personal log - a diary of some 2.5 million written over a 30 year period?</em></p>
<p>There are research challenges&nbsp;involved in further improving the quality of the lifelog augmentation process, especially with regard&nbsp;to &ldquo;event-specific&rdquo; lifelog events, e.g., football matches, rock concerts, etc. Other research challenges&nbsp;include investigations into selecting initial seed images based on adaptive radii, more sophisticated tag&nbsp;selection techniques, and also considering how interface design and varying methods of visualisation&nbsp;affect users&rsquo; acceptance of augmented data.</p>
<p><strong>REFERENCE</strong></p>
<p>Baddeley, A., Ed. Your Memory: A User&rsquo;s Guide; Carlton Books: New York, NY, USA, 2004.</p>
<p>Bell, G.; Gemmell, J. A digital life. Scientific American Magazine, March 2007.</p>
<p>Berry, E.; Hampshire, A.; Rowe, J.; Hodges, S.; Kapur, N.; Watson, P.; Smyth, G.B.G.; Wood, K.;<br />Owen, A.M. The neural basis of effective memory therapy in a patient with limbic encephalitis. J.<br />Neurol. Neurosurg. Psychiatry 2009, 80, 582&ndash;601.</p>
<p>Doherty,.R. and Smeaton.A.F. (2009) Automatically Augmenting Lifelog Events Using Pervasively Generated Content from Millions of People</p>
<p>Vernon, J.F. (2012) Use of hundreds of image grabs of contempary artists, Leonardo da Vinci and Van Gogh to communicate with an elderly patient after a series of catastrophic and ultimately fatal strokes.&nbsp;</p>
<p>Zacks, J.M.; Speer, N.K.; Vettel, J.M.; Jacoby, L.L. Event understanding and memory in healthy<br />aging and dementia of the alzheimer type. Psychol. Aging 2006, 21, 466&ndash;482.</p>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5930" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5930">Jonathan Vernon</a>					<br /> 11:55 on 23 January 2013																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1924"></a>
			<p><strong>An Investigation into Automatically&nbsp;Captured Autobiographical Metadata, and&nbsp;the Support for Autobiographical&nbsp;Narrative Generation&nbsp;</strong>by Mischa M Tuffield -&nbsp;September 29, 2006</p>
<p>&nbsp;</p>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5930" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5930">Jonathan Vernon</a>					<br /> 11:51 on 24 January 2013																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7258">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/7258">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/7258/comments#contribute">Discussion (1)</a>                        </li>
            <li>
                            <strong>Links (2)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/7258/references#contribute">Academic References (1)</a>            </li>
        </ul>
    </div>

    <div class="grid">
	<ul class="arrows">
	    	        <li class="cloud-link"><a name="link-5014" href="http://www.mymindbursts.com"  rel="nofollow" class="">My Mind Bursts</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/5930'>Jonathan Vernon</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/7258/5014">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-5071" href="http://learn.open.ac.uk/mod/oublog/viewpost.php?post=79862"  rel="nofollow" class="">Gordon Bell, Microsoft</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/5930'>Jonathan Vernon</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/7258/5071">recommend</a></small>
	            	        </li>
	    	</ul>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7258">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7258">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2450">Dreambazaar</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/7258">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/7258">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/7258">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/7258">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/7258">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/7258">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="6"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 6) </script>
	</body>
</html>
