<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Designing a Welcoming Welcome session - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Designing a Welcoming Welcome session</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/9909">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">475 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/8460" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Katherine Nicholson-Taylor</a><br />
        12 April 2016</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h2 style="margin: 12pt 0cm 3pt;">Narrator</h2>
<p style="margin: 0cm 0cm 0pt;"><em>I facilitate the welcome session for our organisation.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<h2 style="margin: 12pt 0cm 3pt;">Situation</h2>
<p style="margin: 0cm 0cm 0pt;"><em>We needed to design a welcome that wasn't sheep dipping staff through elements of training they didn't require therefore ensuring the best use of delegates time.&nbsp; As an underlying theme, just as important as the&nbsp;Mandatory skills covered on our Induction session,&nbsp;we wanted our new starters to feel welcomed into our&nbsp;organisation and part of the overall&nbsp;team from the beginning.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<h2 style="margin: 12pt 0cm 3pt;">Task</h2>
<p style="margin: 0cm 0cm 0pt;"><em>In order to measure our success in achieving our aim of attaining a welcoming role specific Induction&nbsp;we put together an evaluation form to be completed by delegates after their Induction process is&nbsp;finished to gather feedback on whether or not they found the Induction useful, welcoming and what they would change (if anything).&nbsp;&nbsp; All completed forms are reviewed by the facilitators to aid us in measuring how successful the session is.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<h2 style="margin: 12pt 0cm 3pt;">Actions</h2>
<p style="margin: 0cm 0cm 0pt;"><em>List the actions you took in chronological order. Note their effects &ndash; both expected and unexpected. Highlight any obstacles you encountered, and explain how you tried to overcome them.</em></p>
<p style="margin: 0cm 0cm 0pt;"><em>&nbsp;</em></p>
<p style="margin: 0cm 0cm 0pt;"><em>We grouped together elements of training that all staff would benefit in attending and then elements that groups of staff would require for their roles allowing us to create a large group session first thing in the morning splitting off onto separate groups in the afternoon.&nbsp; Some staff also return for a second day depending on their role.&nbsp; This was easier said than done and some elements of training though essential to some staff groups were not included in Induction as we could only create a finite number of separate groups and options within the capacity of the number of rooms and trainers we had available.<br clear="none" /></em></p>
<p style="margin: 0cm 0cm 0pt;"><em>&nbsp;</em></p>
<p style="margin: 0cm 0cm 0pt;"><em>Once established the logistics of room bookings and securing facilitators time as well as the admin resource to support the session with welcome packs' and useful paperwork was planned.<br clear="none" /></em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<p style="margin: 0cm 0cm 0pt;"><em>Welcome packs to aid learning by holding the detail important to Induction but not included int he face to face presentation had to be designed.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<h2 style="margin: 12pt 0cm 3pt;">Results</h2>
<p style="margin: 0cm 0cm 0pt;"><em>The Induction received good feedback from staff regarding 'feeling welcome' and 'part of the team', we continue to alter the Induction on a regular basis based on the feedback forms we receive with small tweaks here and there and twice yearly we do&nbsp;an overhaul to ensure we are not letting content get stale or to lengthy which can occur as we add more and more smaller bits in based on feedback we have had.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<h2 style="margin: 12pt 0cm 3pt;">Reflections</h2>
<p style="margin: 0cm 0cm 0pt;"><em>Upon reflection this experience, my first involvement in learning design, demonstrated how ever changing learning can be and how different groups, culture, genders etc. can respond to and experience the same element of learning/the same piece of information.</em></p>
<p style="margin: 0cm 0cm 0pt;">&nbsp;</p>
<p style="margin: 0cm 0cm 0pt;"><em>I appreciate the need to be flexible and willing to not only listen to feedback but act upon it.</em></p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9909">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/9909">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/9909/comments#contribute">Discussion (1)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/9909/links#contribute">Links (0)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/9909">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9909">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/9909">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9909">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9909">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/9909">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/9909">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/9909">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
