<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Anna Calvi - OULive materials for an EAP/Business studies module - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Anna Calvi - OULive materials for an EAP/Business studies module</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8639">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1503 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/8639">1 favourite</a>        </li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6974" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Anna Calvi</a><br />
        25 March 2014</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h2>Title <em>OULive materials for an EAP/business studies module</em></h2>
<p>&nbsp;</p>
<h2>Narrator</h2>
<p>I am the designer of a set of EAP (English for Academic Purposes) materials for the OU module LB160 &ndash;Professional Communication Skills for Business Studies.&nbsp;</p>
<h2>Situation</h2>
<p>Professional Communication Skills for Business Studies is a 30 points Level 1 module which teaches Academic reading and writing for Business Studies students. This module aims at developing academic writing and reading skills that Business Studies students need.</p>
<p><em>&nbsp;</em></p>
<p>Until last year, LB160 students weren&rsquo;t offered any tutorials and support was delivered through the Tutor Group Forum. It was believed that since the module taught writing skills, students would benefit most from written interaction. Students, however, complained that they missed tutorials.</p>
<p>&nbsp;</p>
<p>In May 2014 the LB160 Module Team asked me to pilot two online tutorials with my two groups. I designed these materials in May 2013, piloted them in June 2013 &nbsp;(Phase 1) and designed the final version in March 2014 (Phase 2). LB160 tutors will use the materials in this year&rsquo;s presentation. There will be four tutorials, but this post will only look at one task consisting of&nbsp; four steps.</p>
<p>&nbsp;</p>
<p>The tutorial is run in OULive and is recorded. Each group is of 20 students, though tutorials typically attract a smaller number of students.</p>
<p><em style="line-height: 1.5em;">Needs analysis:</em></p>
<p><em>&nbsp;</em><em style="line-height: 1.5em;">1) Skills needed by Business Studies students &nbsp;</em></p>
<p>Business Studies students need to develop the ability to analyse business case studies. They need to be able to read and understand source materials about a business and analyse it using a model such as SWOT (Strengths, Weaknesses, Opportunities, and Threats). To do this, the students have to extract information from the readings and categorise it using the SWOT table. Finally, they have to use the information contained in each part of the table to write four paragraphs, one per each of the four sections. Two of the assignments and the EMA test these skills using a range of models.</p>
<p><em>2) Challenges faced by students in gaining the above skills</em></p>
<p>Having marked hundreds of SWOT analyses, I have identified the following challenges faced by the students:</p>
<ul>
<li>Inability to analyse: many students tend to summarise the source materials and &lsquo;tell a story&rsquo; about the business rather than analysing it</li>
<li>When analysing the business they have difficulty placing information in the right category</li>
<li>In particular, they have difficulty distinguishing between internal (strengths and weaknesses) and external factors (opportunities and threats)<em style="line-height: 1.5em;">&nbsp;</em></li>
</ul>
<p><em>3) Students &lsquo;characteristics and expectations </em></p>
<ul>
<li>For many students this is the first OU module and the first opportunity to read and write a formal academic text for many years.</li>
<li>Many students expect the tutor to spend the tutorial explaining how to conduct a SWOT analysis.</li>
</ul>
<h2>Task</h2>
<p>&nbsp;<em style="line-height: 1.5em;">Learning objectives:</em></p>
<p>By the end of this set of activities the students will be better able to:</p>
<ul>
<li>Understand the four SWOT concepts</li>
<li>In particular, understand the difference between internal and external factors</li>
<li>Categorise information according to the SWOT concepts</li>
</ul>
<p><em>Steps/activities</em></p>
<ol start="1">
<li>Students brainstorm the purposes of the SWOT analysis</li>
<li>Students drag-and-drop &nbsp;definitions of SWOT concepts into the correct boxes</li>
<li>Students discuss and then drag-and-drop various features of a business&rsquo;s internal and external environment into the correct boxes</li>
<li>Students identify/discuss threats and opportunities among a list of items &ndash; then they place a tick or a cross next to each item</li>
</ol>
<p>&nbsp;<em style="line-height: 1.5em;">Evaluation</em></p>
<p>The following criteria will be used to measure the success of the task:</p>
<ul>
<li>Level of students&rsquo; engagement in the activities</li>
<li>Ability of students to carry out each part of the task with minimal tutor support</li>
<li>Ability of students to categorise information &nbsp;and complete TMA 2 successfully</li>
</ul>
<h2>Actions and reflections</h2>
<p><em>Design process</em></p>
<p><strong><em>Phase 1: 2013 pilot</em></strong></p>
<ol start="1">
<li>Needs analysis</li>
<li>Plan of the tutorial</li>
<li>Research to help design definitions and examples</li>
<li>Design of boards</li>
<li>Reflection + revision of boards (mainly wording, colour, size and appearance of visuals)</li>
<li>Tutorial with students</li>
<li>Reflection on: students&rsquo; activity/understanding, my action</li>
<li>Report to module team</li>
</ol>
<p><em>&nbsp;</em></p>
<p><em style="line-height: 1.5em;">&nbsp;</em></p>
<p><em>These are my reflections on Phase 1:</em></p>
<p><em>Activities</em></p>
<ul>
<li>The activities were appropriate and interesting for the students</li>
<li>The students had very little understanding of the SWOT concepts so needed to support each other a lot and I needed to help confirm that their understandings were correct &ndash; I was happy with that and expected it to happen</li>
<li>The students engaged with the tasks well &ndash; in fact too well! They were so engaged I had difficulty fitting this and another task in an hour.</li>
<li>Reasons for overlong discussions:2) &nbsp;I hadn&rsquo;t provided a context so students were trying to think of all possible contexts and business types 3) too many items to categorise 4) some items could be interpreted in many ways so more discussion was needed</li>
</ul>
<p><em>Participants</em></p>
<ul>
<li>Only 4 students attended &ndash; the tutorials had been set up too late and students had prior engagements</li>
<li>Very active &ndash; are all Business Studies students so chatty?</li>
<li>One student was 19 and had little confidence, the others were in their 30s and 40s with a great deal of work and life experience. It took me several phone conversations to build her confidence and self-respect.</li>
<li>The 90% of the cohort watched the recording</li>
</ul>
<p><em>Extent of success</em></p>
<ul>
<li>Great appreciation on the part of the students &ndash; objectives met</li>
<li>Good TMA2 results &ndash; but how far were these due to my work on forums and how far to the tutorial?</li>
<li>The session allowed to highlight features of vocabulary e.g. difference between complimentary and complementary.</li>
<li>The activities clearly need to be simplified!</li>
</ul>
<p>Phase 2 &ndash; 2014 &ndash; design formal materials for LB160 tutors and their students</p>
<p>&nbsp;This time I was contracted to work with a colleague to develop the final materials. We decided to use my initial design but introduced the following changes:</p>
<ul>
<li>We reduced the number the items to categorise</li>
<li>We gave the analysis a context: the business is a UK company producing office supplies</li>
<li>We only used classic opportunities/threats items that could be easily categorised</li>
<li>We placed my less obvious items in a new board to be used only with stronger &nbsp;students who need an extension activity</li>
<li>I wrote a set of tutor notes to explain exactly how each activity could be run.</li>
</ul>
<p>The boards have now been reviewed by a critical reader appointed by the Module Team. On the basis of her feedback we made the following changes:</p>
<ul>
<li>We corrected a couple of typos</li>
<li>We simplified the tables eliminating distracting colours and frames that could lead the students to place flashy tables in their assignments.</li>
</ul>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8639">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8639">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8639/comments#contribute">Discussion (8)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8639/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8639">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Business+Studies">Business Studies</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/EAP">EAP</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/OU+Live">OU Live</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/reading">reading</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/SWOT">SWOT</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8639">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2474">H800 Design Narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8639">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8639">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8639">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8639">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8639">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8639">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
