/*!
  Cloudworks Archive | archive-related styles | © 2019 The Open University (IET).
*/

body {
  font: 1rem sans-serif;
}

.archive-loading {
  background: rgba(255,255,255, .6) url('./loader.svg') no-repeat center;
  cursor: wait;
  font: 1.3rem sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 6rem;
  text-align: center;

  x-transition: all .2s;
}

.js-loading {
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

#region1,
.gcse-search,
#___gcse_0,
.vuejs-app {
  min-height: 18rem;
}

.readonly-message.warn {
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid darkorange;
  color: #111;
  font-size: 1.1rem;
  min-height: 2.4rem;
  padding-top: 1.2rem;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body.block-login {
  margin-top: 3.6rem;
}


#about .grid p,
#support .grid p {
  font-size: .9rem;
  line-height: 1.6;
}

/* user/influencers.html
*/
#influencers {
  font-size: .9rem;
  line-height: 1.7;
  list-style-type: disc;
  margin: 1rem auto;
  max-width: 19rem;
  text-transform: capitalize;

  letter-spacing: .03rem;
}

#influencers img {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;

  margin-right: .4rem;
  position: relative;
  top: 7px;
}
