<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Items tagged Cloudworks - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Cloudworks - Items tagged Cloudworks" href="https://cloudworks.ac.uk/tag/rss/Cloudworks" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="tags" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        
<div class="grid headline">
    <div class="c1of1">
       <h1>Items tagged Cloudworks</h1>
    </div>
</div>
<div id="region1">
    <p class="rss"><a href="https://cloudworks.ac.uk/tag/rss/Cloudworks">RSS feed</a></p>     
    <div class="grid">
        <div class="c1of2">
            <h2>Clouds</h2>
                            <ul class="clouds">
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8019">IET TCM Event 2013: Learner experiences and the personalising of paths through a (massive) open online course</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/7796">'Learning Design' experience - OLD-MOOC 2013</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/7297">Helen Crump OLDS MOOC Learning Journal/blog</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/6995">Alison's first toe</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/5748">Presentation: A Cloudworks virtual fieldtrip</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/5657">More on using Cloudworks for K802 (2011)</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/5283">How could we improve Cloudworks?</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/5204">Cloudworks at the Learn About Fair 2011 </a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/5100">TCM Feedback: Get CloudEngine - Cloudworks open-sourced</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/4847">I just don't get it</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/4650">Facilitating community activity on Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/4186">Investigations into using Cloudworks as a 'pedagogical wrapper' for LAMS sequences</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/4014">Presentation - Conole - The rough guide to Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/3391">A framework for evaluating Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/3143">Resource: Cloudworks leaflet</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/3135"> SocialLearn and Cloudworks: Developing your PhD Skills with online tools</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2994">Conference Info: Programme</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2975">Open Content: General information</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2871">OULDI - Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2842">Learn about...Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2700">H800 Using Cloudworks on the H800 course</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2699">H800 Cloudquest challenge</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2683">Use of cloudworks by Associate Lecturers</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2659">Cloudworks: a virtual fieldtrip</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2648">Activity 20 mins: The cloudquest challenge</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2632">Workshop Activity 2: Evaluation and Action Plan </a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2608">Cloudworks as a Social Networking System?</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2581">Talk Conole: Harnessing learning design as a new approach to  rethinking the curriculum</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2574">Moodle and Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2573">Discussion: The development of cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2564">Workshop: Conole - using the OU Learning Design tools, resources and activities</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2554">How to set up a Cloud or Cloudscape</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2548">Podcast: Interview with Grainne Conole about cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2544">Keynote: Conole - Serendipity and fun as ingredients for transforming practice</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2525">Setting up a conference Cloudscape</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2524">Using Twitter in Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2523">Copyright and Intellectual Property</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2522">Sharing pictures, videos, documents and ideas on Cloudworks.</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2521">Creating an account and profile</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2520">Resource: Navigating the site</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2517">Discussion: Thoughts on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2458">Resource: An introduction to cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2457">Resource: Cloudworks the Movie</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2454">Activity: 10 mins A simple Cloudquest challenge</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2442">Interview: Patrick McAndrew</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2441">Interview: Rebecca Galley</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2434">Interview: Doug Clow</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2425">Interview: Juliette Culver, Cloudworks Developer</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2421">Interview: Elpida Makriyannis</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2419">Interview: Chris Pegler</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2418">Interview: Giota Alevizou</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2416">Podcast: Paul Gormley on Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2414">Interview: Dominic Newbould on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2413">Interview: Grainne Conole on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2410">Interview questions: Reflections on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2409">Question: What 3 words would you use to describe cloudworks?</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2408">Interview: Martin Weller on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2392">Launch of the ILTA website</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2282">Keynote: Conole - Innovation through design: new approaches to learning and teaching</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/2092">Literature review cloudscape: User survey - Please feedback your experience of using Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/1931">Reading Design Challenge Evaluation</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/1906">Evaluation: Cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/1212">Interview: Jonathan Lopez </a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/1196">Template: Design challenge</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/1194">Interview: Amee Godwin's reflection on cloudworks</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/996">Cloudworks Overview</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/977">Cloudworks Issues and Suggestions</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/584">Cloudworks - social networking for design</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/572">LAMS: Cloudworks presentation</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/445">NDLR 2008 Symposium workshop on contextualisation</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/444">Possible Project</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/420">Activity: 30 mins Finding and sharing learning and teaching ideas and designs</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/419">Cloudworks: a social networking site for design</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/388">OULDI website</a></li>
                                </ul>
                    </div>
        <div class="c2of2">
            <h2>Cloudscapes</h2>
                            <ul class="cloudscapes">
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/387">OULDI</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/392">OULDI Ascilite workshop</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/434">Contextualising (Reusable) Content across Communities</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/1900">Cloudworks - the movie</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/1911">Using Cloudworks</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/2136">CETL & L&T using Cloudworks Demo/Workshop</a>                    </li>
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/2155">Book: Designing for learning in an open world</a>                    </li>
                                </ul>
                        <h2>Users</h2>
                            <ul class="users">
                                    <li><a href="https://cloudworks.ac.uk/user/view/983">Rebecca Galley</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/1852">Ian Wright</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/1040">Nick Freear</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/3">Gráinne Conole</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/1">Juliette Culver</a></li>
                                    <li><a href="https://cloudworks.ac.uk/user/view/8082">Lissa Coffey</a></li>
                                </ul>
                    
        </div>
    </div>
</div>
<div id="region2">
<div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
<p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

<p>
You can also search for <a href="https://cloudworks.ac.uk/user/people">people</a> and <a href="https://cloudworks.ac.uk/user/institution_list">institutions</a></p>

</div>                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>
<!--RNF-->
	</body>
</html>
