<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Items tagged newsletter - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Cloudworks - Items tagged newsletter" href="https://cloudworks.ac.uk/tag/rss/newsletter" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="tags" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        
<div class="grid headline">
    <div class="c1of1">
       <h1>Items tagged newsletter</h1>
    </div>
</div>
<div id="region1">
    <p class="rss"><a href="https://cloudworks.ac.uk/tag/rss/newsletter">RSS feed</a></p>     
    <div class="grid">
        <div class="c1of2">
            <h2>Clouds</h2>
                            <ul class="clouds">
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9789">e-Learning Digest No 139 - Mar 16</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9682">e-Learning Digest No 138 - Feb 16</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9563">e-Learning Digest No 137 - Jan 16</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9471">e-Learning Digest No 136 - Dec 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9421">e-Learning Digest No 135 - Nov 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9399">e-Learning Digest No 134 - Oct 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9376">e-Learning Digest No 132 - Aug 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9375">e-Learning Digest No 133 - Sep 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9264">e-Learning Digest No 131 - Jul 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9171">e-Learning Digest No 130 - Jun 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9096">e-Learning Digest No 129 - May 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/9053">e-Learning Digest No 128 - Apr 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8941">e-Learning Digest No 127 - Mar 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8925">e-Learning Digest No 126 - Feb 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8889">e-Learning Digest No 125 - Jan 15</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8842">e-Learning Digest No 123 - Nov 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8817">e-Learning Digest No 122 - Oct 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8792">e-Learning Digest No 121 - Sep 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8788">e-Learning Digest No 120 - Aug 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8778">e-Learning Digest No 119 - Jul 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8774">e-Learning Digest No 118 - Jun 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8753">e-Learning Digest No 117 - May 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8730">e-Learning Digest No 116 - Apr 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8622">e-Learning Digest No 115 - Mar 14</a></li>
                                    
               <li><a href="https://cloudworks.ac.uk/cloud/view/8591">e-Learning Digest No 114 - Feb 14</a></li>
                                </ul>
                    </div>
        <div class="c2of2">
            <h2>Cloudscapes</h2>
                            <ul class="cloudscapes">
                                    <li>
                    <a href="https://cloudworks.ac.uk/cloudscape/view/1967">e-Learning Digest</a>                    </li>
                                </ul>
                        <h2>Users</h2>
                            <p>No users yet</p>
                    
        </div>
    </div>
</div>
<div id="region2">
<div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
<p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

<p>
You can also search for <a href="https://cloudworks.ac.uk/user/people">people</a> and <a href="https://cloudworks.ac.uk/user/institution_list">institutions</a></p>

</div>                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 0) </script>
	</body>
</html>
