<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Policy Forest on Sustaining Innovation - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Policy Forest on Sustaining Innovation</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/3904">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">2257 views</div></li>
        </ul>
</div>                
                    <p> The summary of the days workshop on Sustaining Innovation via Organisational Development providing a range for comment</p>
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="http://architectureofparticipation.wordpress.com/2010/06/09/policy-forest-on-sustaining-innovation/"  rel="nofollow">http://architectureofparticipation.wordpress.com/2010/06/09/policy-forest-on-sustaining-innovation/</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1140" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">fred garnett</a><br />
         9 June 2010</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <table border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="87" valign="top">
<p><strong>Issue</strong></p>
</td>
<td width="220" valign="top">
<p><strong>Government Policy</strong></p>
</td>
<td width="222" valign="top">
<p><strong>Architecture of Participation</strong></p>
</td>
<td width="239" valign="top">
<p><strong>Staffordshire University</strong></p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Policy   Context</strong></p>
</td>
<td width="220" valign="top">
<p>Cross-government agenda to improve system   efficiency &amp; reduce costs</p>
</td>
<td width="222" valign="top">
<p>Policy developed iteratively between   education &amp; policy professionals</p>
</td>
<td width="239" valign="top">
<p>Innovation Policy developed by bringing together;   science, economic, University, competition, research and skills agenda</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>System</strong></p>
</td>
<td width="220" valign="top">
<p>HEA &amp; HEFCE as Advisory &amp; Funding bodies. Direct funding of institutions means removal of funding agency&nbsp;</p>
</td>
<td width="222" valign="top">
<p>Responsible to relevant Communities through   networked Public Value Measures</p>
</td>
<td width="239" valign="top">
<p>Sustainable Innovation Strategies shared across multiple   institutions by PVCs underpinned by pedagogic efficiency</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Institution</strong></p>
</td>
<td width="220" valign="top">
<p>HEI the focus of education &amp; treated as   Brands. Learning programmes provided to meet national economic targets.</p>
</td>
<td width="222" valign="top">
<p>Adaptive Institutions respond collaboratively   to learner needs</p>
</td>
<td width="239" valign="top">
<p>Shared Institutional developments come from consensus   building through the use of Data and Process modelling</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Architecture</strong></p>
</td>
<td width="220" valign="top">
<p>Digital Infrastructure developments driven by   private sector providers marketing and guidance</p>
</td>
<td width="222" valign="top">
<p>Open Architecture of Participation creating   multiple technological affordances with distributed learning support</p>
</td>
<td width="239" valign="top">
<p>Evolving technology use enables innovation and adaptation   to support multiple contexts with appropriate budgets</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Software</strong></p>
</td>
<td width="220" valign="top">
<p>Provision of educational software content   improved through market mechanisms.</p>
</td>
<td width="222" valign="top">
<p>Dynamic aggregation of resources to meet   learning design needs</p>
</td>
<td width="239" valign="top">
<p>Policy-moderated use of OER Resources, as part of Open   Social Learning, minimises risk</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Teachers</strong></p>
</td>
<td width="220" valign="top">
<p>Subject specialists drive education provision   to meet accreditation targets. Research treated as separate issue.</p>
</td>
<td width="222" valign="top">
<p>Teachers enable co-creation and provide   real-time data on departmental &amp; institutional performance</p>
</td>
<td width="239" valign="top">
<p>Teachers aware of Big Picture; support multiple modes of   learning, recognise prior experience, rewarded for resource creation</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Learning   Process</strong></p>
</td>
<td width="220" valign="top">
<p>Learner offer structured through formal   curricula and syllabi.</p>
</td>
<td width="222" valign="top">
<p>Shared knowledge creation the basis of   Learning</p>
</td>
<td width="239" valign="top">
<p>Agile Curriculum Design Process; Teachers &amp; Learners   as process reviewers &amp; consultants</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Outcomes</strong></p>
</td>
<td width="220" valign="top">
<p>Formal Standardised Assessments</p>
</td>
<td width="222" valign="top">
<p>Collaborative Learning Validation</p>
</td>
<td width="239" valign="top">
<p>Open Scholarship for Academic Credit</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Space</strong></p>
</td>
<td width="220" valign="top">
<p>Multiple real &amp; virtual separate   locations &ndash; no vision of integration</p>
</td>
<td width="222" valign="top">
<p>Learners use appropriate technology to   organise a range of learning spaces</p>
</td>
<td width="239" valign="top">
<p>Multiple real &amp; virtual locations; future vision of   integration through built &amp; virtual estates</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Learners</strong></p>
</td>
<td width="220" valign="top">
<p>Learners are the subjects of the educational   system, selecting from existing curricula &amp; specified knowledge</p>
</td>
<td width="222" valign="top">
<p>Digitally Literate Learners drive   Institutional mission through Development Frameworks</p>
</td>
<td width="239" valign="top">
<p>Learners as critical users and consumers of educational   procedures &amp; appropriate tools, consulted as a matter of principle and   practice</p>
</td>
</tr>
<tr>
<td width="87" valign="top">
<p><strong>Context</strong></p>
</td>
<td width="220" valign="top">
<p>Formal Learning requirements driven by   employers and special interests. Community not relevant</p>
</td>
<td width="222" valign="top">
<p>HE Institutions &nbsp;provide security &amp;   authentication to multi-context learning relating to communities &amp;   professions</p>
</td>
<td width="239" valign="top">
<p>Use APEL to enable cross-departmental working and links with   non-institutional and informal communities</p>
</td>
</tr>
</tbody>
</table>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-632"></a>
			<p>A Policy Forest is designed to offer a view on an educational topic from 3 perspectives, measured against the eleven levels that we have identified as constituting the educational system.&nbsp;</p>
<p>This Policy Forest on Sustaining Innovation via Organisational Development was created using a) a government policy perspective on HE, b) an LGC Architecture of Participation perspective c) a perspective developed collaboratively at the JISC workshop held at Staffordshire University on Monday. They are offered here for consideration and comment. It is the belief of those involved that a combination of the policies identified in the third column are what is needed to&nbsp;Sustain Innovation via Organisational Development.</p>
<p>More on the Architecture of Participation and this event on the&nbsp;http://architectureofparticipation.wordpress.com/</p>
<p>More on the Policy Forest on the LGC NING;&nbsp;http://learnergeneratedcontexts.ning.com/profiles/blogs/lgc-policy-forest-results</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/_design//avatar-default-32.jpg" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1140">fred garnett</a>					<br /> 19:20 on  9 June 2010																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/3904">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/3904">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/3904/comments#contribute">Discussion (1)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/3904/links#contribute">Links (2)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/3904">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Architecture+of+Participation">Architecture of Participation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Innovation">Innovation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/JISC">JISC</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Organisational+Development">Organisational Development</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Policy+Forest">Policy Forest</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Staffordshire+University">Staffordshire University</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Sustainability">Sustainability</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/3904">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/3904">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/3904">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/3904">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/3904">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/3904">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/3904">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="1"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 1) </script>
	</body>
</html>
