<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Designing the Participatory Smart City - Fred Garnett - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Cloudworks - Designing the Participatory Smart City - Fred Garnett" href="https://cloudworks.ac.uk/event/cloudscape_rss/2944/all" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="cloudscapes" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        
<script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline block cloudscape">
    <div class="headline-wrap">
        <div class="c1of2">
            <h1>Designing the Participatory Smart City - Fred Garnett </h1>
              <div class="grid">
        <ul class="options">
                
                 
                <li class="stats"><div class="nolink">             1173 views</div></li>
                    <li  class="stats"><a href="https://cloudworks.ac.uk/cloudscape/favourited/2944">1 favourite</a>            </li>
                </ul>
        </div>
            <!-- Event info if the cloudscape is an event -->
            <p>
                18 December 2016
                <br /> Centre for Moving Images office (Room 3AF011) Arnolfini, Bristol BS1 4QD
            <br /><br />
            CMIR Public Talk by Fred Garnett will look at some ways of framing a Smart City Development:<br /><br />
            <div class="cloudscape-image">
<img src="https://cloudworks.ac.uk/image/cloudscape/2944" alt="" class="cloudscape"/> 
</div>

            <ul class="skip-links">
                <li><a href="#user-entry">Content</a></li>
                <li><a href="#cloudstream">Cloudstream</a></li>
                <li><a href="#clouds-in-cloudscape">Clouds</a></li>
                            </ul>
        </div>
        <div class="c2of2">
            <p class="created-by"><abbr title='Cloudscapes are collections of clouds about a certain topic'>Cloudscape</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user/1186" alt="" class="go2" />
                        <p><a href="https://cloudworks.ac.uk/user/view/1186" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">John Cook</a></a><br />
             7 November 2015</p>

        </div>
    </div>
</div>

<div id="region1">
    <div class="grid user-entry" id="user-entry">
        <p><a title="DSC_0131 by Pati_Santos, on Flickr" href="http://www.flickr.com/photos/107202913@N04/10588934606/" rel="nofollow"><img src="http://farm4.staticflickr.com/3757/10588934606_7ce6b7682a_c.jpg" alt="DSC_0131" width="600" height="132" /></a></p>
<p>A presentation around the opportunities for building citizen led participatory cities based on Fred Garnett's extensive work in this area over last 20 years.</p>
<ul>
<li>Date/Time: Friday 18th Dec,</li>
<ul>
<li>arr. 5pm,</li>
<li>talk 5.30pm-6.30pm,</li>
<li>followed by refreshments (beer, wine, soft drinks)</li>
</ul>
<li>Venue: Centre for Moving Images office, Arnolfini (Room 3AF011)<br />72 Prince St, Bristol, BS1 4QD, <a href="https://goo.gl/Nhhc28" target="_blank" rel="nofollow">https://goo.gl/Nhhc28</a>&nbsp; (access is around back of main Arnolfini entrance on Prince St under sign "Bush house")</li>
<li>Book a place: <a href="https://www.eventbrite.co.uk/e/fred-garnett-designing-the-participatory-smart-city-tickets-19455253186" target="_blank" rel="nofollow">Eventbrite</a></li>
<li>Fred will blog around the themes he will be talking to before the event; citizen-action, new metaphors, using context for design &amp; some others smile emoticon: <a href="https://l.facebook.com/l.php?u=https://unsmartcities.wordpress.com/&h=MAQHhupy4" rel="nofollow" target="_blank" rel="nofollow">https://unsmartcities.wordpress.com</a></li>
<li>Link to Slides: <a href="http://www.slideshare.net/fredgarnett/participatory-city" target="_blank" rel="nofollow"><strong>http://www.slideshare.net/fredgarnett/participatory-city</strong></a></li>
<li>Overview of talk
<p><strong>1. Some History </strong>From Alleys to Squares to Anarchists</p>
<p><strong>2.. Web 2.0 </strong>From Access to Content to Context</p>
<p><strong>3&hellip; Context </strong>From Representative to Open to Participatory</p>
<p><strong>4&hellip;. Ambient Learning City (Manchester) </strong>From Ambient to Smart to Social</p>
<p><strong>5&hellip;..&nbsp; Futures</strong>From Subjects to Citizens to City<strong><em>Zens</em></strong></p>
</li>
<li>
<p><strong>About Fred Garnett &ndash; Visiting Research Associate London Knowledge Lab</strong></p>
<p>Fred, as Head of Community Projects, was part of Lewisham&rsquo;s Citzens Connect team examining how new technology could help create <em>active citizens</em>, after which he helped found both the TaLENT Community Grid for Learning and the Creekside Environmental Education Centre. As Head of Community Programmes at Becta he advised various government departments on e-learning and e-government (DfES, DCLG, Home Office, NOF). For DCMS he was also a Culture Online Visioneer and co-chair of the Participatory Media Literacy Working Group at OFCOM and was made a Fellow of the Royal Society of Arts for &ldquo;creative &amp; innovative work in community learning&rdquo; in 2004. &nbsp;As part of the Learner-Generated Contexts group he worked on the Open Context Model of Learning and applied it to the Ambient Learning City project (MOSI-ALONG) looking at what issues needed to be overcome to make Manchester an interactive learning city.</p>
<p>He is working on a &ldquo;development framework&rdquo; for the participatory Smart City (forthcoming book chapter on City<strong><em>Zens</em></strong>) building on work done on the EU Origin of Spaces project with Bordeaux, Lisbon, Bilbao, Pula and London. He helped set up Transition Town Stoke Newington where his PeerPayMe P2P digital green banking project was selected as most popular project.</p>
<p>He is currently part of the Cybersalon Digital Think Tank, is an approved consultant for JISC and NIACE, and has recently worked for the British Council, on Vocational e-learning, and the BBC, on open learning. He is also a learning advisor to CROS, the Universitatea Alternativă in Bucharest.</p>
<p>LinkedIn; <a href="https://www.linkedin.com/pub/fred-garnett/0/287/459" rel="nofollow">https://www.linkedin.com/pub/fred-garnett/0/287/459</a></p>
<p>Online Content; <a href="http://www.slideshare.net/fredgarnett/presentations" rel="nofollow">http://www.slideshare.net/fredgarnett/presentations</a></p>
</li>
<li>Add your own Coulds of related material below</li>
<li>Conference April 1st to 3rd 2016 - <a href="http://architecturemps.com/bristol-uk/" target="_blank" rel="nofollow">The Cultural Ecology of the Medium Sized City</a></li>
<li>Hosted by UWE Bristol's <a href="http://www.cmiresearch.org.uk/core-research-streams.html" target="_blank" rel="nofollow">Centre for Moving Images Research</a></li>
</ul>    </div>
    <div class="grid">
        <div class="box">
<h2 id="clouds-in-cloudscape">Clouds in this Cloudscape</h2>

    <ul class="clouds">
                    <li>
                <a href="https://cloudworks.ac.uk/cloud/view/9416" >CMIR @ Smart Learning Ecosystems in Smart Regions and Cities 2015 
                                                </a> 
            </li>
                </ul>
</div>
    </div>
   <div class="grid">
    <h2 id="cloudstream">Cloudstream</h2>
    <ul class="cloudstream-filter">
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/#cloudstream" title="Show all activity"> Show all</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/cloud#cloudstream">Clouds</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/comment#cloudstream">Discussion</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/link#cloudstream">Links</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/reference#cloudstream">References</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/2944/content#cloudstream">Extra content</a></li>
</ul></div>
<div class="grid">
    <ul class="cloudstream">

    <li class="extra"><strong>The Zone of Possibility in Citizen Led ‘Hybrid Cities’ by  John Cook, Rik Lander  and Terry Flaxton</strong><br /><em>new embedded content added to the cloud <a href="https://cloudworks.ac.uk/cloud/view/9416">CMIR @ Smart Learning Ecosystems in Smart Regions and Cities 2015</a> by <a href="https://cloudworks.ac.uk/user/view/1186" rel="author">John Cook</a></em> <em> on  7 November 2015</em>    <li class="cloud"><a href="https://cloudworks.ac.uk/cloud/view/9416">CMIR @ Smart Learning Ecosystems in Smart Regions and Cities 2015</a><br /><em>cloud added to the cloudscape <a href="https://cloudworks.ac.uk/cloudscape/view/2944">Designing the Participatory Smart City - Fred Garnett</a> by <a href="https://cloudworks.ac.uk/user/view/1186" rel="author">John Cook</a></em> <em> on  7 November 2015</em>
</ul>
    <p>
    <a href="https://cloudworks.ac.uk/event/cloudscape/2944/all">More activity</a>    | <a class="rss" href="https://cloudworks.ac.uk/event/cloudscape_rss/2944/all">RSS</a></p>
</div>
</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Community">Community</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Design">Design</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Hybrid+City">Hybrid City</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Participatory+Smart+City">Participatory Smart City</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Regeneration">Regeneration</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Smart+City">Smart City</a>
        </span>
                 
        </p>


    <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloudscape/2944">Add a tag</a></p>

    
    <ul class="cloudscapes">
        <li><a href="https://cloudworks.ac.uk/event/cloudscape/2944">Cloudstream for this cloudscape</a></li>
    </ul>
    
<div class="avatars">
<h2>Attended (2)</h2>
        	                   <a href="https://cloudworks.ac.uk/user/view/1186" title="John Cook">
           <img src="https://cloudworks.ac.uk/image/user_16/1186" alt="John Cook" class="go2" /> </a>
            
                       
          
        	              
          
            <p><a href="https://cloudworks.ac.uk/cloudscape/attendees/2944">View all attendees</a></p>
</div>
    <div class="avatars">
<h2>Followers (3)</h2>
                	   <a href="https://cloudworks.ac.uk/user/view/1186" title="John Cook">
           <img src="https://cloudworks.ac.uk/image/user_16/1186" alt="John Cook" class="go2" /></a>
        
            
            
        <p><a href="https://cloudworks.ac.uk/cloudscape/followers/2944">View all followers</a></p>
</div>        <h2 id="tweets">Tweets for #CMIRCity</h2>
    <p><a href="http://twitter.com/hashtag/CMIRCity">View #CMIRCity on twitter</a></p>
</div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="9"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 9) </script>
	</body>
</html>
