<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>E-books and reading on mobile phones - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>E-books and reading on mobile phones</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/2310">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">2163 views</div></li>
        </ul>
</div>                
                    <p>Using mobile technologies for learning</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/3" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/3" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Gráinne Conole</a><br />
        17 September 2009</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>With the emergence of a number of reasonable cheap e-book readers and better interfaces on new generation phones like the iphone, the issue of how these can be used for learniing becomes more prominent. In addition, there are now a number of excellent sources of free e-books. So the questions are:</p>
<ul>
<li>What are the benefits of these tools for learners, how might they be used?</li>
<li>What are the disadvantages?</li>
<li>Are there any good case studies/examples of how these are being used in education? </li>
<li>Are there particular ways in which learning activiites can be structured to take advantage of these tools?</li>
</ul>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2310">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/2310">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/2310/comments#contribute">Discussion (17)</a>                        </li>
            <li>
                            <strong>Links (18)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/2310/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">
	<ul class="arrows">
	    	        <li class="cloud-link"><a name="link-998" href="http://sclater.com/blog/?p=267"  rel="nofollow" class="">Blog post by Niall Sclater</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/998">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-999" href="http://www.gutenberg.org/wiki/Main_Page"  rel="nofollow" class="">Project Gutenberg</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/999">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1000" href="http://www.lexcycle.com/"  rel="nofollow" class="">Stanza - e-reader tool for the iphone</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1000">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1001" href="http://www.hongkiat.com/blog/20-best-websites-to-download-free-e-books/"  rel="nofollow" class="">20 best sites to download free e-books</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1001">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1002" href="http://www.e-book.com.au/freebooks.htm"  rel="nofollow" class="">Freebooks site</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1002">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1019" href="http://www.dlc.org/documents/DLC_Freedman_Kindle_0709.pdf"  rel="nofollow" class="">A kindle in every backpack - A proposal for e-textbooks in American schools (PDF)</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1'>Juliette Culver</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1019">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1025" href="http://www.open.ac.uk/disability/digital-audio-project.php"  rel="nofollow" class="">Digital audio project website</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1025">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1118" href="http://www.teleread.org/"  rel="nofollow" class="">TeleRead blog covering a range of items on eBooks, readers, formats and news</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1055'>Rhodri Thomas</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1118">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1134" href="http://elearningstuff.wordpress.com/2009/03/11/sony-ebook-reader-first-impressions/"  rel="nofollow" class="">Sony eBook Reader – First Impressions by James Clay</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1086'>James Clay</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1134">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1223" href="http://www.guardian.co.uk/technology/2009/sep/27/computers-tablet-microsoft-apple"  rel="nofollow" class="">John Naughton's article in the Guardian</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1223">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1640" href="http://learn9log.blogspot.com/2009/10/this-post-could-become-story-for.html"  rel="nofollow" class="">Blog post by learn9log</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1640">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1662" href="http://www.teleread.org/"  rel="nofollow" class="">Teleread blog, news on e-books</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1257'>Will Pollard</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1662">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1663" href="http://www.toccon.com/toc2010"  rel="nofollow" class="">O'Reilley Tools of Change Conference</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1257'>Will Pollard</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1663">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1686" href="http://www.thebookseller.com/in-depth/feature/101475-are-e-books-greener-than-print.html.rss"  rel="nofollow" class="">Blog post: Are e-books greener than print?</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/3'>Gráinne Conole</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1686">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1728" href="http://www.youtube.com/view_play_list?p=DD97D61985247BB9"  rel="nofollow" class="">eBook Playlist on YouTube</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1257'>Will Pollard</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1728">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1813" href="http://www.futureofthebook.org/blog/archives/2009/09/the_kindle_gets_poor_grades_at.html"  rel="nofollow" class="">The kindle gets poor grades at Princeton</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1'>Juliette Culver</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/1813">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-2358" href="http://www.jiscebooksproject.org/reports/finalreport"  rel="nofollow" class="">JISC National E-books Observatory Project (Report in pdf)</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1182'>Antonella Esposito</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/2358">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-2661" href="http://cloudworks.ac.uk/cloud/view/2335"  rel="nofollow" class=" cloud">eBook reader applications (mobile)</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/105'>Keren Mills</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2310/2661">recommend</a></small>
	            	        </li>
	    	</ul>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2310">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ebook+readers">ebook readers</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ebooks">ebooks</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/iphone">iphone</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/mobile+learning">mobile learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/mobiles">mobiles</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2310">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/1889">Mobile Technologies Special Interest Group themes</a>            </li>
                     <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2024">eBooks and eBook readers</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/2310">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2310">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2310">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/2310">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2310">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/2310">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="18"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 18) </script>
	</body>
</html>
