<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Arike van de Water's Design Narrative: Hopping Around Tough Tenses - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Arike van de Water's Design Narrative: Hopping Around Tough Tenses</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/9081">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">964 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/7728" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/7728" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Arike Van De Water</a><br />
         8 May 2015</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>Narrator</strong></p>
<p><em>I was tutoring a teenager one-on-one at home in English.</em></p>
<p><strong>Situation</strong></p>
<p><em>The physical space was a living room in early evening, with a clear space in the middle that was to be used for this exercise, and a table we usually sat at, with notebooks. Socially, it was the home environment of the student and her father was present, though was not an actor in this narrative. The time was a single hour a week in which I provided some help with English to supplement what she learned in school. Intentionally, it was a short-term low-frequency set of meetings in which a very specific goal needed to be achieved, namely, that grammar, especially using verbs, were clarified enough for this student to pass her exam.</em></p>
<p><em>Key actors were the teenager, in her last class in high school, and me, the English tutor.</em></p>
<p><em>The student believed she needed to practice grammar, but was unclear exactly what or how she needed to practice. In addition, she overestimated her understanding when something was explained well enough for her to see the logic and apply it immediately after, &ldquo;I can do it&rdquo;, but swung around to underestimating what she could do when she applied it several days after the lesson and found herself making mistakes, &ldquo;I'll never be able to do this&rdquo;.</em></p>
<p><em>After observing this, I speculated she had a partial understanding of most subjects, but mostly required practice to gain confidence in the application.</em></p>
<p><em>A belief that I suspect also played a role was that textbook and class were &ldquo;enough&rdquo; and the student would magically start to understand it if she &ldquo;just made more of an effort&rdquo;, which I didn't believe to be a problem, since she was highly motivated and organised in the work she did for the class.</em></p>
<p><strong>Task</strong></p>
<p><em>The task was to practice the application of verb tenses in sentences. Specifically, that the student would be able to distinguish when to use which, since she already seemed to know how to distinguish between the different types.</em></p>
<p><em>In order to motivate her, I decided to break from the usual format (explain and practice sitting down) to include a physical element to the exercise, since I'd just seen Total Physical Response used in class, and how well moving in space helps sometimes.</em></p>
<p><em>My measure of succes would be how well she could judge whether a particular tense was wrong in a sentence, based either on stated purpose or time the sentence was supposed to describe.</em></p>
<p><strong>Actions</strong></p>
<p><em>Before this class, I printed each of the nine tenses we were to practice in large letters, each on an A4. At the start of the exercise, I placed them on the floor in this configuration, to mimic the passage of time in one direction:</em></p>
<table width="100%" border="1" cellspacing="0" cellpadding="4"><colgroup><col width="33*" /> <col width="43*" /> <col width="41*" /> <col width="51*" /> <col width="38*" /> <col width="50*" /> </colgroup>
<tbody>
<tr valign="TOP">
<td width="13%">
<p>&nbsp;</p>
</td>
<td width="17%">
<p>Past Simple</p>
</td>
<td width="16%">
<p>&nbsp;</p>
</td>
<td width="20%">
<p>Present Simple</p>
</td>
<td width="15%">
<p>&nbsp;</p>
</td>
<td width="19%">
<p>Future Simple</p>
</td>
</tr>
<tr valign="TOP">
<td width="13%">
<p>Past Perfect</p>
</td>
<td width="17%">
<p>&nbsp;</p>
</td>
<td width="16%">
<p>Present Perfect</p>
</td>
<td width="20%">
<p>&nbsp;</p>
</td>
<td width="15%">
<p>Future Perfect</p>
</td>
<td width="19%">
<p>&nbsp;</p>
</td>
</tr>
<tr valign="TOP">
<td width="13%">
<p>&nbsp;</p>
</td>
<td width="17%">
<p>Past Continuous</p>
</td>
<td width="16%">
<p>&nbsp;</p>
</td>
<td width="20%">
<p>Present Continuous</p>
</td>
<td width="15%">
<p>&nbsp;</p>
</td>
<td width="19%">
<p>Future Continuous</p>
</td>
</tr>
</tbody>
</table>
<p><em>The first round of the game was meant to be a recap of the class the week before, and an introduction to the exercise, where I hopped from one sheet of paper to the other, and she needed to change the verb in the example sentence to the correct tense. We used each sentence several times so she could hear the difference.</em></p>
<p><em>I discovered even this was a challenge for her, she only remembered half the tenses unprompted, so rather than practice this with two sentences, we did so with five. For the unfamiliar tenses, we stopped to discuss how to make them, and their purpose. This did mean we discover questions she had that might have gone unnoticed during a regular explanation. Especially when she had two different questions about the same tense.</em></p>
<p><em>The second round, I would take a sample sentence, and then change it, and she would need to hop to the correct tense. This allowed me to see if she really did recognise all tenses. We discovered she still had trouble distinguishing the past simple from the present perfect. Otherwise, this round was relatively easy.</em></p>
<p><em>In order to check whether she understood everything now, we briefly repeated the first round, with another two sentences. It went more smoothly now, so it was on to the next round.</em></p>
<p><em>The third round served as a warm-up for the final one, where I said a sentence and then stepped on a certain tense, and she had to say if the two matched or not. This was more difficult for her than I believed it to be, especially given she could match sentence to tense when asked to do it on paper. Spoken English was a lot harder to keep in mind than a sentence in a test, which was easily reread. After I needed to repeat the sentence a few times, we found the problem was solved when I spoke more slowly, as if I was dictating rather than speaking.</em></p>
<p><em>The fourth round she needed to say a sentence, and I had to hop to a certain tense, and she had to say if it was correct or not. This was harder again, since she needed to both think of a tense, how to say it and then judge if my actions matched her thoughts. This went as planned, and she expressed more confidence in being able to link tense and sentence, by a sense of what was correct, though it was still basic, and future perfect was still a bit nebulous to her.</em></p>
<p><em>In order to check that she really was alright, she now had to think of a sentence and hop to the tense, and I had to say whether she was correct. We did this for three sentences before we could say with some confidence that she got it.</em></p>
<p><strong>Results</strong></p>
<p><em>A major outcome I had not expected was that in doing something weird, we were able to overcome her insecurity that she couldn't do it as well as the overestimation that she was fine when something was explained. Emotion, in this case enjoyment overcoming uncertainty and bravado, plays an important role.</em></p>
<p><em>Unexpected was also that she had more questions about the tenses that hadn't come up before, so it was good that the unusual setting allowed them to arise.</em></p>
<p><em>Expected was that with some intense practice, she would gain more confidence in using and recognising the different tenses. After one class, her grasp of them was not yet perfect, but she was quicker in giving answers and using them and telling me with some confidence that I was standing on the wrong piece of paper.</em></p>
<p><em>A later unexpected result was that she did end up failing her oral exam because she wasn't using her tenses correctly. Not because she couldn't, it turned out, but because of L1 interference and nerves. When talking about her vacation (the subject she'd chosen), she put most of her sentences in the present perfect rather than the past simple, because it most closely resembles the Dutch sentence structure. And when she was nervous, &ldquo;I have&rdquo; (pause) was her standard answer, and only after she paused did she think about what else she wanted to say. Making the sentence a present perfect almost automatically, regardless of whether that was correct.</em></p>
<p><strong>Reflections</strong></p>
<p><em>I think a major insight I gained was the influence of emotion on what language people produce, especially when it comes to grammar. It makes people self-conscious, so it's good to find ways to circumvent that self-consciousness and turn it into an enjoyable exercise that encourages participation. And, I had not at all foreseen that my student understanding tenses in regular classes would be defeated entirely by her nerves in class.</em></p>
<p><em>Another was that this break from 'regular' tutoring was succesful. I've become more confident in using exercises I couldn't in a group or formal education since then.</em></p>
<p><em>The last was that in preparation I need to build in more redundancies into the exercise, that people will usually have more questions and understand less than they seem to at first.</em></p>
<p><em>And a good one was that not all trouble with grammar necessarily arises from not understanding or practicing grammar. A person's first language and emotion are just as important, among other things. It's good to take that into consideration.</em></p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9081">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/9081">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/9081/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/9081/links#contribute">Links (0)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/9081">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/design+narrative">design narrative</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/English">English</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/English+grammar">English grammar</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/exercise">exercise</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/H800">H800</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/http%3A%2F%2Fwww.shiftingservices.in%2Fpackers-and-movers-gurgaon.html">http://www.shiftingservices.in/packers-and-movers-gurgaon.html</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/learning+design">learning design</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9081">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2474">H800 Design Narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/9081">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/9081">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/9081">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/9081">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/9081">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/9081">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>
<!--RNF-->
	</body>
</html>
