<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>ALISE Research Taxonomy - Cloudworks</title>
    <link rel="stylesheet" href="https://cloudworks.ac.uk/_design/styles_1_1.css" />
        <link rel="stylesheet" href="https://cloudworks.ac.uk/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    <meta name="keywords" content="" />
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="shortcut icon" href="https://cloudworks.ac.uk/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="https://cloudworks.ac.uk/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="https://cloudworks.ac.uk/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>ALISE Research Taxonomy</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/10432">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">434 views</div></li>
        </ul>
</div>                
        
                    <div class="box" style="margin:30px 0 10px 0">

                <a href="https://ali.memberclicks.net/alise-research-taxonomy"  rel="nofollow">https://ali.memberclicks.net/alise-research-taxonomy</a>
            </div>
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/10080" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/10080" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Dr. Rupak Chakravarty</a><br />
        24 April 2017</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <h3><strong>Area: Data management</strong></h3>
<p><strong>Scope Note: The development and execution of architectures, policies, practices, and procedures to manage the information lifecycle needs of an organization in an effective manner. Topics include:&nbsp;</strong></p>
<ul>
<li><strong>Copyright</strong></li>
<li><strong>Data curation</strong></li>
<li><strong>Information governance</strong></li>
<li><strong>Information policy</strong></li>
<li><strong>Information privacy</strong></li>
<li><strong>Information security</strong></li>
<li><strong>Intellectual property</strong></li>
<li><strong>Knowledge management</strong></li>
<li><strong>Records and information management</strong></li>
<li><strong>Risk management</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Data science</strong></h3>
<p><strong>Scope Note:&nbsp;Processes and systems to extract knowledge, social, and economic value in various forms, either structured or unstructured.&nbsp;Topics include:</strong></p>
<ul>
<li><strong>Altmetrics</strong></li>
<li><strong>Bibliometrics</strong></li>
<li><strong>Big Data</strong></li>
<li><strong>Cloud computing</strong></li>
<li><strong>Data mining</strong></li>
<li><strong>Data visualization</strong></li>
<li><strong>Data warehousing</strong></li>
<li><strong>Informetrics</strong></li>
<li><strong>Machine learning</strong></li>
<li><strong>Natural language processing</strong></li>
<li><strong>Webometrics</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Human-computer interaction &amp; design</strong></h3>
<p><strong>Scope Note:&nbsp;The relationship between people, groups, and societies and computing and information systems. Topics include:</strong></p>
<ul>
<li><strong>Artificial intelligence</strong></li>
<li><strong>Computer-supported collaborative work</strong></li>
<li><strong>Machine learning</strong></li>
<li><strong>Mobile systems</strong></li>
<li><strong>Social computing</strong></li>
<li><strong>User interfaces</strong></li>
<li><strong>Augmented reality</strong></li>
<li><strong>Ubiquitous computing</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Information organization and retrieval</strong></h3>
<p><strong>Scope Note:&nbsp;Processes and systems to effectively represent and organize, and retrieve information. Topics include:</strong></p>
<ul>
<li><strong>Abstracting</strong></li>
<li><strong>Archival arrangement and description</strong></li>
<li><strong>Classification</strong></li>
<li><strong>Cataloging</strong></li>
<li><strong>Cross-language information retrieval</strong></li>
<li><strong>Indexing</strong></li>
<li><strong>Interactive information retrieval</strong></li>
<li><strong>Linked data</strong></li>
<li><strong>Metadata</strong></li>
<li><strong>Multimedia information retrieval&nbsp;</strong></li>
<li><strong>Taxonomies</strong></li>
<li><strong>Ontologies</strong></li>
<li><strong>Semantic Web</strong></li>
<li><strong>Social tagging</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Information practices</strong></h3>
<p><strong>Scope Note:&nbsp;Processes and systems that examine the dissemination and use of information.&nbsp;Topics include:</strong></p>
<ul>
<li><strong>Censorship</strong></li>
<li><strong>Education</strong></li>
<li><strong>Information ethics</strong></li>
<li><strong>Information literacy</strong></li>
<li><strong>Information needs</strong></li>
<li><strong>Information seeking&nbsp;</strong></li>
<li><strong>Information use</strong></li>
<li><strong>Intellectual freedom</strong></li>
<li><strong>Print culture</strong></li>
<li><strong>Reading and reading practices</strong></li>
<li><strong>Reference transactions</strong></li>
<li><strong>Scholarly communications</strong></li>
<li><strong>Specific populations</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Education of information professionals</strong></h3>
<p><strong>Scope Note:&nbsp;Methods and strategies to provide learning opportunities to information professionals. Topics include:</strong></p>
<ul>
<li><strong>Accreditation&nbsp;</strong></li>
<li><strong>Administration</strong></li>
<li><strong>Continuing education</strong></li>
<li><strong>Curriculum</strong></li>
<li><strong>Education programs/schools</strong></li>
<li><strong>Online learning</strong></li>
<li><strong>Pedagogy</strong></li>
<li><strong>Research methods</strong></li>
<li><strong>Standards</strong></li>
<li><strong>Students</strong></li>
<li><strong>Teaching faculty</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Information services</strong></h3>
<p><strong>Scope Note: Specific contexts in which information sources are collected for, and disseminated to, target populations.&nbsp;Topics include:</strong></p>
<ul>
<li><strong>Academic libraries</strong></li>
<li><strong>Archives</strong></li>
<li><strong>Children&rsquo;s services</strong></li>
<li><strong>Collections development</strong></li>
<li><strong>Community and civic organizations</strong></li>
<li><strong>Community engagement</strong></li>
<li><strong>Community-led services</strong></li>
<li><strong>Digital Humanities</strong></li>
<li><strong>Libraries in the developing world</strong></li>
<li><strong>Museums</strong></li>
<li><strong>Public libraries&nbsp;</strong></li>
<li><strong>Publishing</strong></li>
<li><strong>Readers&rsquo; advisory services&nbsp;</strong></li>
<li><strong>School libraries</strong></li>
<li><strong>Special libraries</strong></li>
<li><strong>Young adult services</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Information technologies</strong></h3>
<p><strong>Scope Note:&nbsp;The design, application, and evaluation of computers, storage, networks, and other devices to create, process, store, secure, and exchange all forms of electronic data. Topics include:</strong></p>
<ul>
<li><strong>Database systems</strong></li>
<li><strong>Discovery systems</strong></li>
<li><strong>Information system design</strong></li>
<li><strong>Library technology systems</strong></li>
<li><strong>Open source software</strong></li>
<li><strong>Social software</strong></li>
<li><strong>Social media</strong></li>
</ul>
<hr />
<h3><strong>Area:&nbsp;Sociocultural perspectives</strong></h3>
<p><strong>Scope Note:&nbsp;How individual behaviors are affected specifically by their surroundings, and social and cultural factors. Topics include:</strong></p>
<ul>
<li><strong>Critical librarianship</strong></li>
<li><strong>Information rights</strong></li>
<li><strong>Political economy of the information society&nbsp;</strong></li>
<li><strong>Social justice</strong></li>
<li><strong>Sociology of information</strong></li>
</ul>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/10432">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/10432">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/10432/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/10432/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/10432">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="https://cloudworks.ac.uk/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ALISE">ALISE</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/ALISE+Research+Taxonomy">ALISE Research Taxonomy</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/Research+Taxonomy">Research Taxonomy</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/10432">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/10432">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/10432">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/10432">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/10432">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/10432">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/10432">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="https://cloudworks.ac.uk//_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="1"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <script src="https://unpkg.com/gaad-widget@%5E3/dist/gaad-widget.min.js"
          data-gaad-widget='{"debug":true,"days_before":15,"x_lang":"en","analytics":false}'></script>
          <script src="https://cloudworks.ac.uk/_scripts/custom.js"></script>

<script> console.warn('rel=nofollow count:', 1) </script>
	</body>
</html>
