<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Meeting 1: 2 July: OLDS-MOOC Kick off planning meeting - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Meeting 1: 2 July: OLDS-MOOC Kick off planning meeting</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/6379">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">3971 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/6379">3 favourites</a>        </li>
        </ul>
</div>                     1 July 2012<br /><br />
                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/983" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/983" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Rebecca Galley</a><br />
        26 June 2012</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Welcome!</p>
<p>The Cloud has been set up to archive resources, discussion and ideas for/from the first project team meeting (partners and associates) on 2nd July 2012.</p>
<p>Click here if you would like to know more about <a href="http://cloudworks.ac.uk/cloud/view/2522" rel="nofollow">Sharing pictures, videos, documents and ideas on Cloudworks.</a></p>
<p>Please feel free to add anything below :-)</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-1461"></a>
			<p><strong>Go to the recording of the meeting</strong></p>
<p>You can access the recording of the Flash meeting by following the instructions below.&nbsp;</p>
<p>a) Go to our Flashmeeting page: <a href="http://oufm.open.ac.uk/fm/6cbce0-3767" rel="nofollow">http://oufm.open.ac.uk/fm/6cbce0-3767</a></p>
<p>b) Click on "Go to the replay" to see the recording of the whole meeting, or "Go to the minutes" to see the chat text.</p>
<p><strong>Participant pre-meeting preparation </strong></p>
<p>We asked all partners and associates to introduce themselves, and tell us about their expectations and&nbsp;ideas for the OLDS-MOOC project. We created a template for a short presentation, which included some questions to answer. These presentations were used in the meeting and have been embedded below for reference. If you are are OLDS-MOOC partner or associate and have not yet introduced yourself please follow the instructions below. Feel free to include photos etc. and get creative!</p>
<p><strong>To access the template... </strong></p>
<p>a) Ensure that you have a Google account and are logged in.</p>
<p>b) Open the template: <a title="https://docs.google.com/presentation/d/1ublUfXRi6cZHaypQwRkB4yl8-eTuZM25ejo4EcTYSlA/edit" href="https://docs.google.com/presentation/d/1ublUfXRi6cZHaypQwRkB4yl8-eTuZM25ejo4EcTYSlA/edit" rel="nofollow">https://docs.google.com/presentation/d/1ublUfXRi6cZHaypQwRkB4yl8-eTuZM25ejo4EcTYSlA/edit</a>&nbsp;</p>
<p>c) Click on "File" and choose "Make a copy" of the template</p>
<p>d) Click on "File" again and choose "Rename..." Choose a new title for your presentation.</p>
<p>e) Edit your own copy of the presentation! We've provided some questions to get you thinking, but please feel free to add your own thoughts and ideas.</p>
<p>f) Once you are finished, you need to publish the document and make it available to everyone. Click on "File" and then choose "Publish to the Web..." A new window will appear. Choose "Start Publishing." You will then see different ways you can make your presentation available.</p>
<p><strong>Sharing your presentation... </strong></p>
<p>a) We would like everyone to share their presentations. To do this, you need to embed your presentation into the Meeting 1&nbsp;page on Cloudworks...</p>
<p>b) To register with Cloudworks use the "Sign Up" or "Register here" tabs. The process is simple and you will be required to create a password and username. Once you are logged in and are on the "Meeting 1: 2 July: Kick Off planning meeting for the project team" page...</p>
<p>c) Click on the box "+Add embedded content"</p>
<p>d) Give your presentation a title (e.g. "OU Team Introduction")</p>
<p>e) Paste the URL for the "Document Link" into the "URL (Required)" field.</p>
<p>f) Click on "Add embeded content" to add your presentation to the page!</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/5094" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/5094">Beck Pitt</a>					<br /> 16:26 on 27 June 2012																	(Edited 16:26 on  2 July 2012)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-1465"></a>
			<p><a id="em12" class="em" href="https://docs.google.com/presentation/pub?id=1daFJV4dqWcyvPF4aqKVHP2e83OtKk96XZtySJNBCqvI&start=false&loop=false&delayms=3000" rel="nofollow">TALL Oxford</a></p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/2470" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/2470">David White</a>					<br /> 10:42 on  2 July 2012																	(Edited 10:45 on  2 July 2012)
																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6379">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<a id="embed-2015"></a>
<div class="embed-wrap em-youtu-be">
    <h3>Welcome to the Cloud for the OLDS-MOOC kick-off meeting</h3>
  <a id="em-n0" class="em" href="http://youtu.be/ihMm4cFLfTI"  rel="nofollow">Welcome to the Cloud for the OLDS-MOOC kick-off meeting</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/983">Rebecca Galley</a></small>

</p>
</div>
<a id="embed-2016"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>ITD-CNR presentation</h3>
  <a id="em-n1" class="em" href="https://docs.google.com/presentation/pub?id=1tX8QDPUCJ5zBdH2MU9Sw7MFKvLQf6M5dpvFea55_I24&start=false&loop=false&delayms=3000"  rel="nofollow">ITD-CNR presentation</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/4422">Francesca Pozzi</a></small>

</p>
</div>
<a id="embed-2017"></a>
<div class="embed-wrap em-http">
    <h3>Greetings from Georgia</h3>
  <a id="em-n2" class="em" href="http://http://www.evaluateitnow.com/"  rel="nofollow">Greetings from Georgia</a>
<p>   <a href="https://cloudworks.ac.uk/embed/accessible_alternative/2017">Accessible Alternative</a><br />
    <small>added by
<a href="https://cloudworks.ac.uk/user/view/5098">Tom Reeves</a></small>

</p>
</div>
<a id="embed-2018"></a>
<div class="embed-wrap em-www-slideshare-net">
    <h3>UoL</h3>
  <a id="em-n3" class="em" href="http://www.slideshare.net/GrainneConole/olds-mooc-kickoff-meeting-gcc"  rel="nofollow">UoL</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/3">Gráinne Conole</a></small>

</p>
</div>
<a id="embed-2019"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>Greenwich Team Introduction</h3>
  <a id="em-n4" class="em" href="https://docs.google.com/presentation/pub?id=1Kla473t-d7bNC29AwlulPO3WCesGx7a84PcRyzXlH9Y&start=false&loop=false&delayms=3000"  rel="nofollow">Greenwich Team Introduction</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/2003">Simon Walker</a></small>

</p>
</div>
<a id="embed-2020"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>OU Introduction</h3>
  <a id="em-n5" class="em" href="https://docs.google.com/presentation/pub?id=1B7Uw8dyBQGAWKlvkxyr_-2mZG8FOy4LndGn47MiAlP4&start=false&loop=false&delayms=60000"  rel="nofollow">OU Introduction</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/99">Yishay Mor </a></small>

</p>
</div>
<a id="embed-2023"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>University of London International Programmes</h3>
  <a id="em-n6" class="em" href="https://docs.google.com/presentation/pub?id=1jjnQJd0Qktwr7xssxEEKswjmHGaYxkRDH7i6dKXY3e0&start=false&loop=false&delayms=3000"  rel="nofollow">University of London International Programmes</a>
<p>   <a href="https://cloudworks.ac.uk/embed/accessible_alternative/2023">Accessible Alternative</a><br />
    <small>added by
<a href="https://cloudworks.ac.uk/user/view/5099">Steven Warburton</a></small>

</p>
</div>
<a id="embed-2024"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>LKL Kick-off slides</h3>
  <a id="em-n7" class="em" href="https://docs.google.com/presentation/d/1RxdR2mHhVKUA2jKPkekW9nBqjh4a-yn4UbKvKyeXD8w/edit"  rel="nofollow">LKL Kick-off slides</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/1549">Joshua Underwood</a></small>

</p>
</div>
<a id="embed-2025"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>Goldsmiths' presentation</h3>
  <a id="em-n8" class="em" href="https://docs.google.com/presentation/d/1gBdbBd4-Rt9-DjZuHVGJS5CQA509V_FK5jZDINBpviQ/edit"  rel="nofollow">Goldsmiths' presentation</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/1081">Mira Vogel</a></small>

</p>
</div>
<a id="embed-2027"></a>
<div class="embed-wrap em-docs-google-com">
    <h3>Oxford presentation</h3>
  <a id="em-n9" class="em" href="https://docs.google.com/presentation/pub?id=1daFJV4dqWcyvPF4aqKVHP2e83OtKk96XZtySJNBCqvI"  rel="nofollow">Oxford presentation</a>
<p>  <small>added by
<a href="https://cloudworks.ac.uk/user/view/99">Yishay Mor </a></small>

</p>
</div>


<script src="/_scripts/jquery.oembed.js"></script>
<script>
$(document).ready(function() {
  $('.embed-block a.em').oembed(null, {"oupodcast":{"theme":"oup-light"},"ispot":{"count":3,"postmessage":1,"style":1},"customProviders":[{"name":"wordpress","type":"rich","urlschemes":["wordpress\\.com","wp\\.me","oerresearchhub\\.org","ouseful\\.info","dougclow\\.org","penbentley\\.com","isharacomix\\.org","openeducationnews\\.org","oerconsortium\\.org","techchrunch\\.com","tekartist\\.org"],"apiendpoint":"https:\/\/public-api.wordpress.com\/oembed\/1.0\/?for=Cloudworks.ac.uk"},{"name":"fileviewer","type":"rich","urlschemes":["sites\\.google\\.com","www\\.lkl\\.ac\\.uk","blogs.cetis.ac.uk"],"apiendpoint":"https:\/\/embed.open.ac.uk\/oembed"},{"name":"scraperwiki","type":"rich","urlschemes":"scraperwiki\\.com","apiendpoint":"https:\/\/views.scraperwiki.com\/run\/scraperwiki_oembed_v1\/"}]});
});
</script>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/6379">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6379/comments#contribute">Discussion (2)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/6379/links#contribute">Links (0)</a>                        </li>
            <li>                            <strong>Academic References (0)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6379">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/JISC">JISC</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/learning+design">learning design</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/OLDS-MOOC">OLDS-MOOC</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6379">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2419">OLDS-MOOC Design</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/6379">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/6379">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/6379">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/6379">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/6379">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/6379">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="14"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 14) </script>
	</body>
</html>
