<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>A welcome return... and new features - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <div class="grid headline">
    <div class="c1of1">
<h1>
A welcome return... and new features</h1>
    </div>
</div>
<div id="region1">


<p>Greetings,</p>
<p>It's a while since I've blogged here and yet, we have plenty to talk about...</p>
<p>Some of you will know that <a href="http://www.julietteculver.com/">Juliette Culver</a> is the original lead developer of Cloudworks.&nbsp;</p>
<div id="_mcePaste" style="position: absolute; left: -10000px; top: 0px; width: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden;">In October 2010 we launched the open source http://getcloudengine.org CloudEngine project, based on the source 'code' behind Cloudworks.</div>
<div id="_mcePaste" style="position: absolute; left: -10000px; top: 0px; width: 1px; height: 1px; overflow-x: hidden; overflow-y: hidden;">&nbsp;Juliette was then away for a year on maternity leave and returned to The Open University in December 2011.</div>
<p>In October 2010 we launched the open source&nbsp;<a title="CloudEngine, hosted on Bitbucket" href="http://getcloudengine.org/">CloudEngine project</a>, based on the source 'code' behind Cloudworks.&nbsp;Juliette was then away for a year on maternity leave and returned to The Open University in December 2011.</p>
<p>In the meantime,&nbsp;<a href="http://twitter.com/RichLovelock">Richard Lovelock</a> worked on some big new features, including <a title="Blogged at CloudEngineBlog.wordpress.com" href="http://cloudengineblog.wordpress.com/2011/02/09/direct-messaging-cloudengine-1-1-0-beta/">direct messaging</a> and <a href="http://cloudengineblog.wordpress.com/2011/05/27/search-usability-enhancements/">usability enhancements</a> to the <a href="http://cloudengineblog.wordpress.com/2011/05/27/search-functionality-enhancements-and-debug-settings-v1-1-2/">CloudEngine/Cloudworks site search</a>.&nbsp;&nbsp;And we extended the range of things that can be embedded in Cloudworks - notably Prezi, Google Doc forms, spreadsheets and presentations,&nbsp;and <a title="Learning Activity Management System" href="http://cloudworks.ac.uk/cloud/view/5782">LAMS learning designs</a>.</p>
<p>Juliette's main focus since her return has been&nbsp;<a href="http://pelagios-project.blogspot.com/2012/02/pelagios-overview-presentation.html">Pelagios</a>,&nbsp;which is an innovative linked-data project.</p>
<p class="figure"><a href="http://mediaspin.com/blog/?p=302"><img style="margin:1em auto; display:block;" title="'MAR 05', 3D by H. Grebe. From Mediaspin.com/blog, CC-by License" src="http://www.mediaspin.com/blog/wp-images/calendar_3D.jpg" alt="'MAR 05', 3D by H. Grebe. From Mediaspin.com/blog, CC-by License" /></a></p>
<p>However, I'm happy to say that she has found time to help us out with some quick wins, notably:</p>
<ul>
<li>Support for a series of events, for example, seminar series and the IET technology coffee mornings; in this mode, a Cloud represents each event, and a Cloudscape is used to group the series of events. (For bigger conferences and the like, a Cloudscape is used to represent the overall event,&nbsp;while a Cloud can be used for each individual session.)</li>
<li>Event iCal and RSS feeds - see the foot of&nbsp;<a href="http://cloudworks.ac.uk/events/view/cloudscapes">this page</a>. This will allow anyone to import Cloudworks events into MS Outlook, Google Calendar and so on;</li>
<li>Improvements to the statistics interface for administrators;</li>
<li>To give users the ability to change their email address;</li>
</ul>
<p>We updated the site functionality (code) on Wednesday. The focus of this work has been to respond to requests from you the user, and to facilitate reporting for our parent&nbsp;<a href="http://ouldi.open.ac.uk">Open University Learning Design Initiative (OULDI) project</a>.</p>
<p>Of course, we welcome feedback on all this activity and more.</p>
<p>Best wishes,</p>
<p>Nick</p>
<p>(The Cloudworks team)</p><p>
            <img src="https://cloudworks.ac.uk/image/user_32/1040" class="go2" alt=""/>
           
&nbsp; Posted by <a href='https://cloudworks.ac.uk/user/view/1040'>Nick Freear</a> on 9 March 2012
    <p class="blog-comments-disabled">Blog comments are disabled.</p>

    
</div>
<div id="region2">
<div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
<p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

<p>
You can also search for <a href="https://cloudworks.ac.uk/user/people">people</a> and <a href="https://cloudworks.ac.uk/user/institution_list">institutions</a></p>

</div> 
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script><!--AF-->

<!--RNF-->
	</body>
</html>
