<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Photography as vehicle for achievement in EFL - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Photography as vehicle for achievement in EFL</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/8653">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">673 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/8653">1 favourite</a>        </li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/6964" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/6964" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Hugo Teixeira</a><br />
        27 March 2014</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p><strong>Narrator </strong></p>
<p>I was the course designer and teacher. I designed and taught using these activities in my second semester at the institution. I should add that I am an amateur photographer, having studied documentary photography and exhibited some of my work in the US and Portugal.</p>
<p><strong>Situation</strong></p>
<p>This occurred in Spring 2012 at the University of Saint Joseph in Macau, a Catholic, English MOI institution which attracts undergraduate students from across Macau&rsquo;s secondary schools, as well as a number of international students, mainly from Portuguese-speaking countries. The groups involved were one second year and three first year undergraduate classes from across various majors (Business, Social Work, Communications, Design and others). Classes were held at the main university campus. The university bills itself as a multicultural/multilingual institution which challenges traditional approaches to education.</p>
<p><strong>Task</strong></p>
<p>The overall aims for the semester were defined by the Common European Framework of Reference for languages for B1 level. The project described here sought to harness a number of tasks that professional photographer might have to do and the tasks were designed to address the learning objectives illustrated in table 1. Summative assessment for the level was determined by evaluating learners&rsquo; abilities to complete each of the course learning objectives on a scale of 0 (cannot do this yet) to 3 (Can do this confidently and is ready to move up to the next level). A rubric was prepared to guide students&rsquo; writing.</p>
<table width="704" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="89">
<p>&nbsp;</p>
</td>
<td width="53">
<p>Code</p>
</td>
<td width="563">
<p><strong>Course</strong><strong>learning</strong><strong>objectives</strong><strong>(circle</strong><strong>the</strong><strong>objectives</strong><strong>selected</strong><strong>for</strong><strong>the</strong><strong>course)</strong></p>
</td>
</tr>
<tr>
<td rowspan="2" width="89">
<p>Listening</p>
</td>
<td width="53">
<p>L 1</p>
</td>
<td width="563">
<p>I can understand straightforward factual information about everyday, study or work-related topics, identifying both general meaning and specific details, provided that speech is clear and in a familiar accent.</p>
</td>
</tr>
<tr>
<td width="53">
<p>L 2</p>
</td>
<td width="563">
<p>I can follow the gist of everyday conversation and short narratives on familiar topics when delivered in clear standard speech.</p>
</td>
</tr>
<tr>
<td rowspan="2" width="89">
<p>Reading</p>
</td>
<td width="53">
<p>R 1</p>
</td>
<td width="563">
<p>I can read straightforward factual texts on subjects related to my interests or work with a reasonable level of understanding.</p>
</td>
</tr>
<tr>
<td width="53">
<p>R 8</p>
</td>
<td width="563">
<p>I can follow clear, routine instructions (e.g. for a game, recipe, using equipment, or installing computer software).</p>
</td>
</tr>
<tr>
<td width="89">
<p>Spoken Interaction</p>
</td>
<td width="53">
<p>SI 1</p>
</td>
<td width="563">
<p>I can start, maintain and close simple face-to-face conversation on topics that are familiar, of personal interest or related to everyday work, with generally appropriate use of formal or informal language.</p>
</td>
</tr>
<tr>
<td rowspan="2" width="89">
<p>Spoken Production</p>
</td>
<td width="53">
<p>SP 3</p>
</td>
<td width="563">
<p>I can explain and give reasons for my plans, intentions and actions.</p>
</td>
</tr>
<tr>
<td width="53">
<p>SP 6</p>
</td>
<td width="563">
<p>I can give a short and straightforward prepared presentation on a chosen topic in my academic or professional field in a reasonably clear and precise manner</p>
</td>
</tr>
<tr>
<td rowspan="2" width="89">
<p>Writing</p>
</td>
<td width="53">
<p>W 3</p>
</td>
<td width="563">
<p>I can describe an event (e.g. a recent business trip or holiday).</p>
</td>
</tr>
<tr>
<td width="53">
<p>W 5</p>
</td>
<td width="563">
<p>I can write standard letters giving or requesting detailed information (e.g. replying to an advertisement, applying for a job).</p>
</td>
</tr>
</tbody>
</table>
<p>Table 1: Course learning objectives</p>
<p><strong>Actions</strong></p>
<p>&nbsp;</p>
<p>Students were first introduced to the work of several photographers who work with typographies to explore various themes. Students were asked to select a favorite body of work and follow instructions to share it with peers in a database hosted on the university&rsquo;s Moodle system. (Learning objectives: L1, R1, R8, W3)</p>
<p>In groups, students were asked to select two social themes that could be explored in a photographic typography. Each group was expected to produce two letters, addressed to local cultural foundations, outlining who they were, describing the importance of the theme they had selected, describing the intended photographic project, and requesting funds to develop it. In discussion with their teacher, groups then selected which project would yield the most substantial results when carried out. (Learning objectives: L2, SI1, SP3, W5)</p>
<p>Groups were finally expected to explore the themes they had identified, assembling a collection of photographs. The photographs and accompanying captions were shared with the class in a Facebook group and later presented semi-formally in class seeking feedback from peers. (Learning objectives: L1, L2, SI1, SP3, SP6)</p>
<p><strong>Results</strong></p>
<p>Students were expected to demonstrate mastery of the learning objectives identified in performing them. Skills were revisited repeatedly in the iterative process that contributed to the final project presentation. These skills were developed further later in the course as the photographic typographies lay the foundation to a quality of life report. Those who participated fully demonstrated achievement of these objectives.</p>
<p><strong>Reflections</strong></p>
<p>The most difficult thing to transmit to the students was that the main aim of the tasks were not the image galleries or presentations themselves, but the communication inherent in the process of executing the project. Those students who were able simplify their vision and focus on communicating their ideas were very successful.</p>
<p>For a body of students whose concept of a language classroom consists mainly of listening to lectures and then completing a test, it was hard to grasp the point of what they were being asked to do. To illustrate, one student came to me at the end of the semester asking why she hadn&rsquo;t passed when she had excellent attendance and had performed reasonably well on the quizzes. I struggled to explain that she had been unable to demonstrate the communication skills inherent in the projects we were doing. On the other hand, those students who understood the point of the tasks, and were comfortable in the communication aspects of the process, were hesitant to work in groups to develop projects when they could just &ldquo;get on with it.&rdquo;</p>
<p>It also didn&rsquo;t help that we as teachers were asked to essentially provide two marks, one a percentage which reflected in class participation, quizzes, projects, etc., and another a summative assessment of students&rsquo; communication skills based on the CEFR. Students found it confusing that their summative assessment did not reflect their ongoing assessment. More time should have been spent clarifying the structure of the course and assessments.</p>
<p>On an institutional level, it may have been helpful to ask students to achieve a certain level of competence in the language rather than asking students to pass eights semesters of English (and four each of Portuguese and Mandarin!). This would establish a clear link between tasks, using the language, and achieving the university&rsquo;s language requirements.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8653">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/8653">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/8653/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <strong>Links (0)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/8653/references#contribute">Academic References (0)</a>            </li>
        </ul>
    </div>

    <div class="grid">

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8653">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8653">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
    <ul class="cloudscapes">
                    <li>
                <a href="https://cloudworks.ac.uk/cloudscape/view/2474">H800 Design Narratives</a>            </li>
             </ul>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/8653">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/8653">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/8653">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/8653">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/8653">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/8653">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
