<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Computation / rhetoric / text analysis / argumentation Workshop - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Computation / rhetoric / text analysis / argumentation Workshop</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/4684">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">1203 views</div></li>
        </ul>
</div>                
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user_32/1943" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1943" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">SocialLearn</a><br />
        11 October 2010</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Workshop at The Open University in October 2010 to discuss computation, rhetoric, text analysis and argumentation.</p>    </div>

    
<h2 id="extra-content">Extra content</h2>
    		<div class="extra-content">
			<a name="content-869"></a>
			<p>Approximate agenda!...</p>
<p>9.30 - Simon Buckingham Shum (KMI) - Welcome</p>
<p>9.35 - Simon Buckingham Shum &amp; Anna De Liddo (KMI)</p>
<p>10.05 - Rebecca Ferguson (IET/KMI)</p>
<p>10.35 - &Aacute;gnes S&aacute;ndor (Xerox, &amp; visiting OLnet Project Fellow, IET/KMI)</p>
<p>11.05 - Go for a coffee</p>
<p>11.35 - Denise Whitelock (IET)</p>
<p>12.05 - Paul Piwek &amp; Svetlana Stoyanchev (Computing)</p>
<p>12.35 - Sandra Williams &amp; Richard Power (Computing)</p>
<p>1.05 - Lunch and decide what to do next...</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 05:38 on 13 October 2010																	(Edited 05:44 on 13 October 2010)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-876"></a>
			<p><strong>Liveblog of talk by Simon Buckingham Shum</strong></p>
<p>Very interested in conversation. Lots of learning happens through discourse.</p>
<p>Lots of different types of discourse.</p>
<p>Fundamentally, people don&rsquo;t really disagree. Most platforms have no idea about contested knowledge, and about levels of agreement and disagreement</p>
<p>Lots of tools to detect and render potentially significant patterns in information.</p>
<p>Starting to see tools that can lift out patterns from the text and from the people behind the text.</p>
<p>We make meaningful connections between information elements. Need to be able to represent these.</p>
<p>Meaning is dependent on individuals and context. There are different interpretations of the same event.</p>
<p>Want to be able to track ideas.</p>
<p>Ideas are first-class objects in the system. Need to be able to reference, link, embed and share. They may not all be contained within one document.</p>
<p>Work with hypertext because this allows representation of an idea as a node in a network.</p>
<p>&nbsp;</p>
<p>Start to see connections between ideas.</p>
<p>Some of these are agreements, and some are challenges.</p>
<p>Start to see a discourse emerging.</p>
<p>People looking at documents, or in groups, tutorials, seminars, do this already, but there is no means of rendering it at present.</p>
<p>Can currently add notes, but there are no semantic links.</p>
<p>Want to introduce a language for argumentation &ndash; eg questions, answers, arguments, challenges&hellip;</p>
<p>Cohere <cite><strong>cohere</strong></cite><cite>.open.ac.uk/</cite>&nbsp; introduces a set of icons to represent ideas, and provides a set of relationships to connect them.</p>
<p>Allows people to connect anything to anything in a Web 2.0 context.</p>
<p>Users can add any connection type they want. Helpful if they can add a polarity (eg pro or con) as this allows the program to make sense of new connections.</p>
<p>Icons can also be customised.</p>
<p>Question: How can this semantic network be linearised as a textual narrative? Can we parse these connections to produce near-natural0language text?</p>
<p>Is there a theoretical basis that can be used to derive these relationships.</p>
<p>Coherence relations theory.</p>
<p>Is there any grounds for constraining relationships?</p>
<p>How is the ontology of these relationships ordered?</p>
<p>Are there basic types of relationship eg causal , temporal and additive. These have polarity.</p>
<p>See work by Clara Mancini and Neil Benn.</p>
<p>Now have a dataset of the relationships that people make &ndash; crowdsourced many types of semantic relationships Can they now be parsed and tied in with cognitive coherence relations.</p>
<p>Detailed tree diagram on cognitive coherence relations.</p>
<p>Diagram applies to contested domains.</p>
<p>This is an examination of semantic relations, rather than of dialogue.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/1126" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1126">Rebecca Ferguson</a>					<br /> 09:22 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-877"></a>
			<p><strong>Anna De Liddo: Talk on Cohere</strong></p>
<p>Tools with which users can create different types of annotation about things they are exploring on the web.</p>
<p>What if we think about this idea as something that could be placed in an asynchronous discussion.</p>
<p>For example, I make a comment on a document. What if I express the relationship this comment could have into an online dialogue with other users? Can this be represented to show the rhetorical moves?</p>
<p>Anna shows demonstration video of Cohere.</p>
<p>Can associate an icon with the comment and can identify its rhetorical role eg argument in favour, question, opinion. Can also add contextual information.</p>
<p>Cohere supports webpage annotation. Users can highlight text and then make a comment in a sidebar &ndash; again, identifying the rhetorical role of their comment. Other users who visit the page can see these comments and their rhetorical roles.</p>
<p>Can connect ideas using a connection builder. These don&rsquo;t have to be just your own ideas &ndash; you can connect them with other people&rsquo;s ideas.</p>
<p>Can create a discussion group and share annotations and ideas within that group.</p>
<p>Cohere then allows to visualise the network of comments and connections as a social semantic network. This represents the ideas and their rhetorical role.</p>
<p>Long discussions can become difficult to make sense of.</p>
<p>Can use semantic filtering of the network. For example, can focus on one question and the ideas that are consistent with it.</p>
<p>Question: Have you used it to produce a text? Interested in doing this in the future. Are these networks quite hard for humans to make sense of?</p>
<p>There is a literature about how to make concept maps and argument maps more comprehensible for users.</p>
<p>Understanding the visual language gives an entry into hitherto hidden meanings within the dialogue.</p>
<p>This can be a tool for knowledge discovery.</p>
<p>Can this be used to create a multi-authored text, or a representation of a debate. It is not easy to make sense of a dialogue that is going on online. There are many ways of creating a linear text from varied sources of knowledge.</p>
<p>Want to provide easier to read summaries of online discourse.</p>
<p>Analogy &ndash; report-backs from break-out groups &ndash; one person explaining what has happened with reference to a flipchart.</p>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/1126" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1126">Rebecca Ferguson</a>					<br /> 10:13 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-878"></a>
			<p><strong>Q&amp;A on Rebecca's talk:</strong></p>
<p>Is counting the words in the whole contribution misleading, since it might be just one sentence that triggers? (but analysis suggests that bigger contributions do have more exploratory dialogue)<br /><br />Segment the dialogue into sections further than whole sessions?<br /><br />You could predict the likelihood of exploratory dialogue statistically<br /><br />Variance may be critical<br /><br />Bales' group talk categories may be of use, perhaps more than Mercer. Bales argued that there was typically an intellectual leader and socio-emotive leader in a group<br /><br />Social network analysis of this data might illuminate further<br /><br />*Questions* are central to sensemaking. (but complicated by online dialogue punctuation)<br /><br />Look at content words in questions, and compare to content of the talk?</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 10:17 on 13 October 2010																	(Edited 10:18 on 13 October 2010)
																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-879"></a>
			<p><strong>Longer version of Simon &amp; Anna's presentation and demo: </strong><a href="http://people.kmi.open.ac.uk/sbs/2010/09/visual-analytics-2010-summer-school/" rel="nofollow">Visual Analytics summer school lecture and demos</a>.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 10:21 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-880"></a>
			<p><strong>Notes from Agnes Sandor's Talk<br /></strong></p>
<p>Wants to identify the key ideas in scientific texts.</p>
<p>Parses texts into syntactic relationships. Analyse about twenty languages.- eg English, French, Portuguese, Italian.</p>
<p>Mainly do dependency parsing. Have a number of applications eg opinion mining and knowledge representation</p>
<p>Cover a number of domains eg biology, litigation and health.</p>
<p>Analysis level is the sentence.</p>
<p>Gives example of a sentence that can be split down into various propositions. Also identifies argumentation and rhetorical function.</p>
<p>Information extraction is used to analyse the propositions.</p>
<p>Rhetorical analysis identifies coherence.</p>
<p>Rhetorical function (eg &lsquo;In contrast with previous hypotheses&rsquo;) is handled by concept matching.</p>
<p>Everything that has a predicate is identified as a proposition &ndash; this is a linguistic analysis. Predicates are extracted using syntactic rules and patterns.</p>
<p>Interested in rhetorical functions that are related to research problems. If we know what problems there are, we know what the article is about.</p>
<p>Background knowledge, generalising, contrast (contrasting ideas, novelty, significance, surprise), open question, summarising.</p>
<p>&nbsp;</p>
<ul>
<li>Background knowledge indicators eg &lsquo;recent studies indicated&rsquo;, &lsquo;is universally accepted&rsquo;</li>
<li>Generalising: &lsquo;emerging as a promising approach&rsquo;</li>
<li>Contrasting: &lsquo;unorthodox view&rsquo;</li>
<li>Novelty &lsquo;we suggest a new approach&rsquo;</li>
<li>Surprise: &lsquo;We have identified unusual&rsquo;</li>
<li>Summarising: &lsquo;the goal of this study&rsquo;</li>
</ul>
<p>&nbsp;</p>
<p>No common semantic patterns, not collocations, not paraphrases or synonyms.</p>
<p>These are units in conceptual terms rather than in linguistic terms.</p>
<p>&nbsp;</p>
<p>For example, for contrasting ideas, you have ideas of contrast, past and ideas. This is not jut down to identifying words, but also to identifying syntactic relationships (using the syntactic parser).</p>
<p>Coherence is identified by syntax in language.</p>
<p>Rhetorical functions have constituent concepts that are used within scientific argument (eg scope, temporality, contrast). Ultimately, they all come down to words. (eg indicators of temporality are early, traditional, remain. Indicators of generality are many, frequently, range)</p>
<p>Table shows how rhetorical functions are matched by constituent concepts and are matched by words.</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/1126" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/1126">Rebecca Ferguson</a>					<br /> 10:45 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-881"></a>
			<p>Notes from Agnes talk:</p>
<p>Rhetorical moves in scientific texts are not linguistic units which can be picked up by current computational linguistic approaches, but conceptual units. We need a new way to detect them.<br /><br />EERQI - European Educational Research Quality Indicators project: http://www.eerqi.eu<br />Educational science research publications analysed by the XIP Xerox parser, looking for key segments in the text, and feeding into a scholarly search engine<br /><br />IET/KMI OLnet Project: &gt;100 OER project reports being analysed by humans and XIP, to compare and contrast</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 11:09 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-882"></a>
			<p><strong>Notes from Denise's talk:</strong></p>
<p>OpenMentor:</p>
<ul>
<li>Found a correlation between types of tutor feedback (using Bales framework) and pass level</li>
<li>Bales categories generalise across disciplines, which confirms that the tool is picking up ways of teaching</li>
<li>Bar chart giving the tutor feedback on the appropriate quantitiy of their different comments on TMAs</li>
</ul>
<p>OpenComment:</p>
<ul>
<li>Focus on causal reasoning in History</li>
<li>Moodle module giving feedback on free text student responses</li>
</ul>
<p>&nbsp;</p>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 11:27 on 13 October 2010																									</p>
			</div>


		</div>
    		<div class="extra-content">
			<a name="content-883"></a>
			<p><strong>Paul &amp; Svetlana's talk</strong></p>
<ul>
<li>research suggests that for learning and persuasion, presenting info as a dialogue is more effective than a monologue</li>
<li>dialogue for exploring complex ideas has a long history of course, from Plato onwards</li>
</ul>
<p>Discussion</p>
<ul>
<li>Denise's work might contribute new kinds of dialogue acts, with pedagogical intent (Bales)</li>
<li>Argumentation theory classifies different kinds of dialogue with different kinds of argumentation schemes and Critical Questions (Doug Walton)</li>
<li>KMi has annotated multiparty dialogues and identified different kinds of Qs</li>
</ul>			<div class="posted-by">
										    <img src="https://cloudworks.ac.uk/image/user_32/15" alt="" style="float:left;margin-right:5px"/>
					
					<p class="date-stamp">
					<a href="https://cloudworks.ac.uk/user/view/15">Simon Buckingham Shum</a>					<br /> 11:58 on 13 October 2010																									</p>
			</div>


		</div>
    
<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4684">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/4684">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/4684/comments#contribute">Discussion (0)</a>                        </li>
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/4684/links#contribute">Links (1)</a>                        </li>
            <li>                            <strong>Academic References (6)</strong>
            </li>
        </ul>
    </div>

    <div class="grid">
    <ul class="arrows">
        <li class="cloud-link">De Liddo, A. and Buckingham Shum, S. (2010). Cohere: A Prototype for Contested Collective Intelligence. Collective Intelligence In Organizations workshop: ACM Computer Supported Cooperative Work 2010. Feb. 6-10, 2010, Savannah, GA. Eprint: http://oro.open.ac.uk/19554    <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        <li class="cloud-link">Sándor, Á., & Vorndran, A. (2009). Detecting key sentences for automatic assistance in peer review rsearch articles in educational sciences. Paper presented at the 2009 Workshop on Text and Citation Analysis for Scholarly Digital Libraries, ACL-IJCNLP 2009.     <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        <li class="cloud-link">Piwek, Paul and Stoyanchev, Svetlana (2010). Generating expository dialogue from monologue: Moti- vation, corpus and preliminary rules. In: 11th Annual Conference of the North American Chapter of the Association for Computational Linguistics (Forthcoming), 1 - 6 June 2010, Los Angeles.    <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        <li class="cloud-link">Whitelock, D., & Watt, S. (2008). Putting pedagogy in the driving seat with OpenComment: an open-souce formative assessment feedback and guidance tool for history students. Paper presented at the 12th CAA International Computer Assisted Assessment Conference, 8/9 July 2008.     <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        <li class="cloud-link">Whitelock, D., & Watt, S. (2007). Open Mentor: supporting tutors with their feedback to students. Paper presented at the 11th CAA International Computer Assisted Assessment Conference, 10/11 July 2007.     <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        <li class="cloud-link">Sandra Williams and Richard Power (2009) Precision and mathematical form in first and subsequent mentions of numerical facts and their relation to document structure. Proceedings of 12th European Workshop on Natural Language Generation, Athens, March 30th - 31st.
http://oro.open.ac.uk/19325/    <br /><small>added by <a href="https://cloudworks.ac.uk/user/view/1943">SocialLearn</a></small>
                    </li>
        </ul> 


<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/4684">Add reference</a></p>
   
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/argumentation">argumentation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/computation">computation</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/learning+analytics">learning analytics</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/rhetoric">rhetoric</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/text+analysis">text analysis</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4684">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/4684">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/4684">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/4684">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/4684">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/4684">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/4684">Add reference</a></p>

</div>                </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="1"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 1) </script>
	</body>
</html>
