<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Adumbration - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="clouds" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        <script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline">
    <div class="c1of2">
        <h1>Adumbration</h1>
        <div class="grid">
    <ul class="options">
        
        
        
     
        
            <li class="favourite"><a href="https://cloudworks.ac.uk/cloud/favourite/2637">Favourite</a>        </li>
        
    <li class="stats"><div class="nolink">2057 views</div></li>
            <li  class="stats"><a href="https://cloudworks.ac.uk/cloud/favourited/2637">1 favourite</a>        </li>
        </ul>
</div>                
                    <p>distributed cognition and biscuits</p>
        
            </div>

    <div class="c2of2">
        <p class="created-by">
        <abbr title='Clouds can be anything of relevance to learning and teaching'>Cloud</abbr> created by: </p>

                            <img src="/_design/avatar-default-32.jpg" class="go2" alt=""/>
                    <p><a href="https://cloudworks.ac.uk/user/view/1442" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Kieron</a><br />
         6 November 2009</p>
    </div>
</div>

<div id="region1">

    <div class="user-entry">

        <p>Just trying out the cloudworks space</p>
<p>Contact details: k.sheehy@open.ac.uk</p>    </div>

    
<h2 id="extra-content">Extra content</h2>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2637">Add extra content</a></p>
    

<div id="embeds" class="embed-block">
<h2>Embedded Content</h2>

<p class="add-link add-embed"><a href="https://cloudworks.ac.uk/embed/add/2637">Add embedded content</a></p>
</div>


    <div class="grid">
        <h2>Contribute</h2>
        <a name="contribute"></a>
        <ul class="cloudstream-filter">
            <li>
                            <a href="https://cloudworks.ac.uk/cloud/view/2637/comments#contribute">Discussion (8)</a>                        </li>
            <li>
                            <strong>Links (6)</strong>
                        </li>
            <li>                            <a href="https://cloudworks.ac.uk/cloud/view/2637/references#contribute">Academic References (18)</a>            </li>
        </ul>
    </div>

    <div class="grid">
	<ul class="arrows">
	    	        <li class="cloud-link"><a name="link-1752" href="http://secondlife.com/corporate/brand/trademark/reference.php"  rel="nofollow" class="">Proper Reference to Linden Lab's Brand Names in Text</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/1752">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1753" href="http://www.amazon.co.uk/Virtual-Worlds-Controversies-Competitive-Globalizing/dp/1608762610"  rel="nofollow" class="">Virtual Worlds: Controversies at the Frontier of Education</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/1753">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-1754" href="http://issuu.com/wharncliffe/docs/march_feb"  rel="nofollow" class="">Virtual Cane using a wii remote</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/1754">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-2421" href="http://www.bbc.co.uk/programmes/b00qbxv5"  rel="nofollow" class="">Robo wars programme. </a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/2421">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-3372" href="http://www.slideshare.net/pjh296/sheehy-et-al-4th-international-wireless-ready-symposium-1-3265509"  rel="nofollow" class="">Designing a virtual teacher for non-verbal children with autism.</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/3372">recommend</a></small>
	            	        </li>
	    	        <li class="cloud-link"><a name="link-3716" href="http://www.youtube.com/watch?v=kRAXt1nfYMo&NR=1"  rel="nofollow" class="">Plan for eductional technology session-Xtranormal</a>
	        <br /><small>added by <a href='https://cloudworks.ac.uk//user/view/1442'>Kieron</a></small>

	            	            						            	            	            	                     &nbsp;<small>
	                     <a href="https://cloudworks.ac.uk/cloud/link_favourite/2637/3716">recommend</a></small>
	            	        </li>
	    	</ul>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2637">Add link</a></p>
</div>

</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/biscuits">biscuits</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/distributed+cognition">distributed cognition</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/inclusion">inclusion</a>
        </span>
                 
        </p>


      <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2637">Add a tag</a></p>
    <div class="box">
<h2>In Cloudscapes</h2>
<p class="add-link"><a href="https://cloudworks.ac.uk/cloudscape/add_cloud/2637">Add to a Cloudscape</a></p>
</div>



            
               
            
            <div class="box">
<h2>Improve this cloud</h2>


<p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloud/2637">Add a tag</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/content/add/2637">Add extra content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/embed/add/2637">Add embedded content</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_link/2637">Add link</a></p>

<p class="add-link"><a href="https://cloudworks.ac.uk/cloud/add_reference/2637">Add reference</a></p>

</div>            <h2>Gadgets</h2>
<!-- Include the Google Friend Connect javascript library. --> 
<script type="text/javascript" src="http://sociallearn.org/resources/google/friendconnect.js"></script>
<!-- Display the gadgets added to this specific cloud -->
            <h3>SocialLearn gadget</h3>
        <!-- Define the div tag where the gadget will be inserted. --> 
        <div id="div-gadget-0" style="width:280px; border:1px solid #cccccc;"></div>
        
        <!-- Render the gadget into a div. -->
        <script type="text/javascript">
        var skin = {};
        google.friendconnect.container.setNoCache(1);
        
        google.friendconnect.container.setParentUrl('/'); 
        google.friendconnect.container.renderOpenSocialGadget(
         { id: 'div-gadget-0',
           url:'http://sociallearn.org/services/gadget.cloudworks.cloud/gadget.xml',
           site: '07225872397327394267',
           'view-params': { "userId" : "" ,  "cloudId" : "2637"}
         },
          skin);
        </script>
                <br />
                    
<!-- Display the gadgets the owner of this cloud has added to all their cloud -->
    </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="6"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<script> console.warn('rel=nofollow count:', 6) </script>
	</body>
</html>
