<!DOCTYPE html><html  lang="en" ><head>

<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="UTF-8" />

    <title>Moodle - Cloudworks</title>
    <link rel="X-stylesheet" href="/_design/styles_1_1.css" />
        <link rel="X-stylesheet" href="/themes/cloudworks/styles.css" />
        <meta name="copyright" content="© 2009-2019 The Open University (IET)." />
    
    <meta name="description" content="Welcome to Cloudworks, a place to share, find and discuss learning and teaching ideas and experiences." />
    <link rel="X-shortcut icon" href="/themes/cloudworks/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="Cloudworks - Moodle" href="https://cloudworks.ac.uk/event/cloudscape_rss/425/content" />
    
    <!--[if IE 6]>
    <style type="text/css">
    div#site {width:940px; /* Because IE6 doesn't support max-width */ }
    div#site-header-content {width:940px;}
    </style>
    <![endif]-->

    <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
    </head>
<body id="cloudscapes" class="block-registration block-login">
<div id="site-header">
 
<div id="site-header-content">
        <div id="skip">
        <a href="#content">Skip navigation</a> </div>
                <a rel="home" href="https://cloudworks.ac.uk/">
                <img id="link-home" src="/themes/cloudworks/cloudworks_logo.gif" alt="Cloudworks home page" />
                </a>
                <div id="site-nav">
            <ul  lang="en" >
                <li class="home">
                                            <a href="https://cloudworks.ac.uk/" class="home">Home</a>                                    </li>
                <li lang="en" class="clouds">
                                            <a href="https://cloudworks.ac.uk/cloud/cloud_list" class="clouds">Clouds</a>                                    </li>
                <li lang="en" class="cloudscapes">
                                            <a href="https://cloudworks.ac.uk/cloudscape/cloudscape_list" class="cloudscapes">Cloudscapes</a>                                    </li>
                <li class="events">
                                            <a href="https://cloudworks.ac.uk/events/view" class="events">Events</a>                                    </li>
                <li class="tags">
                                            <a href="https://cloudworks.ac.uk/tag" class="tags">Tags</a>                                    
                </li>
                                <li class="badges">
                                            <a href="https://cloudworks.ac.uk/badge/badge_list" class="badges">Badges</a>                                    </li>
                <li class="support">
                                            <a href="https://cloudworks.ac.uk/support" class="support" title="Support">Support</a>                                    </li>                  
              
            </ul>
        </div>
    </div></div>

<div id="site">
    <div id="site-body">
        <div id="page">
        <div id="content">
                              <p class="warn readonly-message"> The web-site is now in readonly mode. Login and registration are disabled. <small>(28 June 2019)</small></p>
                                          
                    <div id="id-gaad-widget"></div>
        
<script type="text/javascript" src="/_scripts/iframe_strip.js"></script>
<div class="grid headline block cloudscape">
    <div class="headline-wrap">
        <div class="c1of2">
            <h1>Moodle </h1>
              <div class="grid">
        <ul class="options">
                
                 
                <li class="stats"><div class="nolink">             1878 views</div></li>
                </ul>
        </div>
            <!-- Event info if the cloudscape is an event -->
            <p>
                
                
            <br /><br />
            All about using Moodle<br /><br />
            
            <ul class="skip-links">
                <li><a href="#user-entry">Content</a></li>
                <li><a href="#cloudstream">Cloudstream</a></li>
                <li><a href="#clouds-in-cloudscape">Clouds</a></li>
                            </ul>
        </div>
        <div class="c2of2">
            <p class="created-by"><abbr title='Cloudscapes are collections of clouds about a certain topic'>Cloudscape</abbr> created by: </p>

                            <img src="https://cloudworks.ac.uk/image/user/158" alt="" class="go2" />
                        <p><a href="https://cloudworks.ac.uk/user/view/158" class="author rdfa" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName" rel="cc:attributionURL">Martin Dougiamas</a></a><br />
            26 November 2008</p>

        </div>
    </div>
</div>

<div id="region1">
    <div class="grid user-entry" id="user-entry">
            </div>
    <div class="grid">
        <div class="box">
<h2 id="clouds-in-cloudscape">Clouds in this Cloudscape</h2>

    <ul class="clouds">
                    <li>
                <a href="https://cloudworks.ac.uk/cloud/view/132" >'e-portfolio' and assessment of learning objects course 
                                    (1 comment)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/55" >7 things you should know about.. 
                                    (2 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/528" >A flexible model for LMS course design 
                                    (5 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/809" >Accessibility in eLearning 
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/479" >How to create a brilliant online course 
                                    (6 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/1720" >learning design.web2.0 
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/426" >Moodle 
                                    (3 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/2574" >Moodle and Cloudworks 
                                    (5 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/4946" >Moodle Guide for Teachers May 2010 
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/66" >OU e-learning case studies 
                                    (2 comments)
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/3041" >Planning your career progression 
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/90" >Portfolios for professional development 
                                                </a> 
            </li>
                        <li>
                <a href="https://cloudworks.ac.uk/cloud/view/592" >Using a Wiki in L1 Reading and Writing Lessons 
                                    (2 comments)
                                                </a> 
            </li>
                </ul>
</div>
    </div>
   <div class="grid">
    <h2 id="cloudstream">Cloudstream</h2>
    <ul class="cloudstream-filter">
<li><a href="https://cloudworks.ac.uk/cloudscape/view/425/#cloudstream" title="Show all activity"> Show all</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/425/cloud#cloudstream">Clouds</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/425/comment#cloudstream">Discussion</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/425/link#cloudstream">Links</a></li>
<li><a href="https://cloudworks.ac.uk/cloudscape/view/425/reference#cloudstream">References</a></li>
<li><strong>Extra content</strong></li>
</ul></div>
<div class="grid">
    <p>No events</p>
    <p>
    <a href="https://cloudworks.ac.uk/event/cloudscape/425/content">More activity</a>    | <a class="rss" href="https://cloudworks.ac.uk/event/cloudscape_rss/425/content">RSS</a></p>
</div>
</div>

<div id="region2">
    <div id="search-site">
    <form id="form-search" action="https://cloudworks.ac.uk/search/result/" method="get">
      <p>
        <label for="query">Search</label>
        <input id="query" name="q" type="search" value="" maxlength="30" />
        <input id="search-button" type="image" src="/_design/search-button.gif" alt="Search" />
      </p>
        </form>
</div>
    <p class="login">
    <a href="#login" class="link-arrow show">Log in</a> 
    <a href="https://cloudworks.ac.uk/auth/register">Sign up</a></p>

<div id="login" class="collapsed">
      <form action="https://cloudworks.ac.uk/auth/login" method="post" id="login-form">        <p><label for="user_name">Username:</label><br />
     	<input type="text" name="user_name" value="" id="user_name"  />    </p>
    	<p><label for="password">Password:</label><br />
        <input type="password" name="password" value="" id="password"  /></p>    
        <p>
        <input type="submit" name="submit" id="submit" class="submit" value="Log in" />
    <a href="https://cloudworks.ac.uk/auth/forgotten_password">Forgotten password</a>    
    
    </p>
    </form></div>

    <h2>Tags</h2>
    <p class="tags">
        	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/collaborative+learning">collaborative learning</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/moodle">moodle</a>
        </span>
        &nbsp;         
    	
       <span style="white-space: nowrap;"> <a href="https://cloudworks.ac.uk/tag/view/vle">vle</a>
        </span>
                 
        </p>


    <p class="add-link"><a href="https://cloudworks.ac.uk/tag/add_tags/cloudscape/425">Add a tag</a></p>

    
    <ul class="cloudscapes">
        <li><a href="https://cloudworks.ac.uk/event/cloudscape/425">Cloudstream for this cloudscape</a></li>
    </ul>
    
    <div class="avatars">
<h2>Followers (21)</h2>
            
                	   <a href="https://cloudworks.ac.uk/user/view/158" title="Martin Dougiamas">
           <img src="https://cloudworks.ac.uk/image/user_16/158" alt="Martin Dougiamas" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/187" title="Colin Warren">
           <img src="https://cloudworks.ac.uk/image/user_16/187" alt="Colin Warren" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/194" title="Hazel Owen">
           <img src="https://cloudworks.ac.uk/image/user_16/194" alt="Hazel Owen" class="go2" /></a>
        
            
                	   <a href="https://cloudworks.ac.uk/user/view/494" title="Virginia Lawrence">
           <img src="https://cloudworks.ac.uk/image/user_16/494" alt="Virginia Lawrence" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/531" title="Eamon Costello">
           <img src="https://cloudworks.ac.uk/image/user_16/531" alt="Eamon Costello" class="go2" /></a>
        
            
            
                	   <a href="https://cloudworks.ac.uk/user/view/631" title="Mark Pearson">
           <img src="https://cloudworks.ac.uk/image/user_16/631" alt="Mark Pearson" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/651" title="Arnold Mühren">
           <img src="https://cloudworks.ac.uk/image/user_16/651" alt="Arnold Mühren" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/781" title="Terry K. Smith">
           <img src="https://cloudworks.ac.uk/image/user_16/781" alt="Terry K. Smith" class="go2" /></a>
        
            
                	   <a href="https://cloudworks.ac.uk/user/view/1263" title="Faridah Abdul Rashid">
           <img src="https://cloudworks.ac.uk/image/user_16/1263" alt="Faridah Abdul Rashid" class="go2" /></a>
        
            
                	   <a href="https://cloudworks.ac.uk/user/view/1614" title="John Kuti">
           <img src="https://cloudworks.ac.uk/image/user_16/1614" alt="John Kuti" class="go2" /></a>
        
            
                	   <a href="https://cloudworks.ac.uk/user/view/2702" title="Chris Kirkland">
           <img src="https://cloudworks.ac.uk/image/user_16/2702" alt="Chris Kirkland" class="go2" /></a>
        
            
                	   <a href="https://cloudworks.ac.uk/user/view/4315" title="David Woods">
           <img src="https://cloudworks.ac.uk/image/user_16/4315" alt="David Woods" class="go2" /></a>
        
                	   <a href="https://cloudworks.ac.uk/user/view/5650" title="Gaspar Do Amaral">
           <img src="https://cloudworks.ac.uk/image/user_16/5650" alt="Gaspar Do Amaral" class="go2" /></a>
        
        <p><a href="https://cloudworks.ac.uk/cloudscape/followers/425">View all followers</a></p>
</div>    </div>
                   </div>
                    <div id="site-footer">
				        <div class="grid">
				        <p class="left">
                                        <a href="https://www.open.ac.uk" title="© 2009-2019 The Open University (IET)">©</a> |
				        <a href="https://cloudworks.ac.uk/about/about">About</a> |
				        <a href="https://cloudworks.ac.uk/blog/archive">Blog</a> |
				        <a href="https://cloudworks.ac.uk/about/tandc" class="rdfa" rel="license">Terms and Conditions</a> |
				        <a href="https://cloudworks.ac.uk/about/privacy">Privacy notice</a> |
				        				    				                                                <a href="https://github.com/IET-OU/cloudengine"
                                           ><img src="/_design/cloudengine-sm.gif" alt="Powered by CloudEngine, open-source social software" />
                                        </a>
				          </p>
				      
<!-- The language drop-down menu - jump to the top/#skip. -->

<form id="form-lang" action="#skip" method="post">
<p class="right"><label for="lang_select">
Preferred language </label>
<select id="lang_select" name="lang">
        <option value="el" >Ελληνικά / Greek</option>
        <option value="en" selected="selected">English</option>
  </select>
<button type="submit" >Load</button>
</p>
</form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5304738-3', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->


    
<script
  data-nofollow-count="0"
  data-rtt=""  data-ga-analytics-id="UA-5304738-3"></script>



                <!--GAAD-->
          <script src="/cloudworks-ac-uk/loader.js"></script>

<!--RNF-->
	</body>
</html>
